{% extends "layout.html" %}
{% block content %}
    <head>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css">

        <style>
            .card {
                margin-bottom: 0rem;
                border-width: 0.15rem;
                border-color: black;

            }
            .card-header {
                background-color:rgb(179, 179, 179);
                font-size: 1.5rem;
                font-weight: bold;
                padding: .25rem 1.25rem;
            }
            .card-body {
                background-color: rgb(230, 230, 230);
                padding: 0.5rem;
            }
            .content-section {
                border-width: 0.1rem;
                border-color: black;
            }
            #modbus_address_count{
                width: 4rem;
                margin-left: 1rem;
            }
            .form-group {
                margin-bottom: 0rem;
            }
            #footer {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 2.5rem;  
            }
        </style>

    </head>

    <div class="content-section">

        <form method='POST' action="">
            {{ address_range_creation_form.csrf_token }}

            <div class="row">
                <!-- left half of screen -->
                <div class="col-md-6">


                        <!-- Mixer Fan Range -->
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-md-7">
                                        Mixer Fan Range
                                    </div>
                                    <div class="col-md-5">
                                        Available: {{ unaddressed_items_dict['Fans'] }}
                                    </div>
                                </div>
                                
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        {{ address_range_creation_form.mixer_fan_starting_address.label(class="form-control-label") }}
                                        {% if address_range_creation_form.mixer_fan_starting_address.errors %}
                                            {{ address_range_creation_form.mixer_fan_starting_address(class="form-control form-control-lg is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in address_range_creation_form.mixer_fan_starting_address.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ address_range_creation_form.mixer_fan_starting_address(class="form-control form-control-lg") }}
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6">
                                        {{ address_range_creation_form.mixer_fan_ending_address.label(class="form-control-label") }}
                                        {% if address_range_creation_form.mixer_fan_ending_address.errors %}
                                            {{ address_range_creation_form.mixer_fan_ending_address(class="form-control form-control-lg is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in address_range_creation_form.mixer_fan_ending_address.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ address_range_creation_form.mixer_fan_ending_address(class="form-control form-control-lg") }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br><br>


                    

                        <!-- Fieldbus Sensor Range -->
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-md-7">
                                        Fieldbus Sensor Range
                                    </div>
                                    <div class="col-md-5">
                                        Available: {{ unaddressed_items_dict['Fieldbus Sensors'] }}
                                    </div>
                                </div>
                                
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        {{ address_range_creation_form.fieldbus_sensor_starting_address.label(class="form-control-label") }}
                                        {% if address_range_creation_form.fieldbus_sensor_starting_address.errors %}
                                            {{ address_range_creation_form.fieldbus_sensor_starting_address(class="form-control form-control-lg is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in address_range_creation_form.fieldbus_sensor_starting_address.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ address_range_creation_form.fieldbus_sensor_starting_address(class="form-control form-control-lg") }}
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6">
                                        {{ address_range_creation_form.fieldbus_sensor_ending_address.label(class="form-control-label") }}
                                        {% if address_range_creation_form.fieldbus_sensor_ending_address.errors %}
                                            {{ address_range_creation_form.fieldbus_sensor_ending_address(class="form-control form-control-lg is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in address_range_creation_form.fieldbus_sensor_ending_address.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ address_range_creation_form.fieldbus_sensor_ending_address(class="form-control form-control-lg") }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>



                    

                    <!-- Analog Sensor Range -->
                    <!-- <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-7">
                                    Analog Sensor Range
                                </div>
                                <div class="col-md-5">
                                    Available: {{ unaddressed_items_dict['Analog Sensors'] }}
                                </div>
                            </div>
                            
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    {{ address_range_creation_form.analog_sensor_starting_address.label(class="form-control-label") }}
                                    {% if address_range_creation_form.analog_sensor_starting_address.errors %}
                                        {{ address_range_creation_form.analog_sensor_starting_address(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in address_range_creation_form.analog_sensor_starting_address.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ address_range_creation_form.analog_sensor_starting_address(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                                <div class="col-md-6">
                                    {{ address_range_creation_form.analog_sensor_ending_address.label(class="form-control-label") }}
                                    {% if address_range_creation_form.analog_sensor_ending_address.errors %}
                                        {{ address_range_creation_form.analog_sensor_ending_address(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in address_range_creation_form.analog_sensor_ending_address.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ address_range_creation_form.analog_sensor_ending_address(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <!-- Exhaust Supply Fan Range -->
                    <!-- <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-7">
                                    Exhaust Supply Fan Range
                                </div>
                                <div class="col-md-5">
                                    Available: {{ unaddressed_items_dict['Supply Exhaust Fans'] }}
                                </div>
                            </div>
                            
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    {{ address_range_creation_form.supply_exhaust_starting_address.label(class="form-control-label") }}
                                    {% if address_range_creation_form.supply_exhaust_starting_address.errors %}
                                        {{ address_range_creation_form.supply_exhaust_starting_address(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in address_range_creation_form.supply_exhaust_starting_address.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ address_range_creation_form.supply_exhaust_starting_address(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                                <div class="col-md-6">
                                    {{ address_range_creation_form.supply_exhuast_ending_address.label(class="form-control-label") }}
                                    {% if address_range_creation_form.supply_exhuast_ending_address.errors %}
                                        {{ address_range_creation_form.supply_exhuast_ending_address(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in address_range_creation_form.supply_exhuast_ending_address.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ address_range_creation_form.supply_exhuast_ending_address(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <br>

                    <!-- <div class="row">
                        <div class="col-12">
                          
                            
                            <div class="float-right col-md-5">
                                {{ address_range_creation_form.submit_button(class="btn btn-primary") }}
                            </div> 
                            <div class="float-left col-md-5">
                                {{ address_range_creation_form.return_button(class="btn btn-primary") }}
                            </div> 
                        </div>
                        
                    </div> -->
                     <!-- CG changes Added table for edit and return button 3/4/2023 -->
                    <table>
                        <tr>
                            <th>{{ address_range_creation_form.return_button(class="btn btn-danger") }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                            <th>{{ address_range_creation_form.submit_button(class="btn btn-primary") }}</th>
                          
                        </tr>
                    </table>
                  
                    <br>
            
                </div>


                <!-- right half of screen -->
                <!-- Existing Addressed Items -->
                <div class="col-md-6">


                    <div class="row ml-auto" id="sales-order-table">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col"> Item</th>
                                    <th scope="col"> Address Range</th>
                                </tr>
                            </thead>
        
                            <tbody>

                                {% if address_string_dictionary['Mixer Fans'] %}
                                    <tr>
                                        <th scope="row"> Mixer Fans </th>
                                        <td> {{ address_string_dictionary['Mixer Fans'] }} </td>
                                    </tr>
                                {% endif %}

                                {% if address_string_dictionary['Fieldbus Sensors'] %}
                                    <tr>
                                        <th scope="row"> Fieldbus Sensors </th>
                                        <td> {{ address_string_dictionary['Fieldbus Sensors'] }} </td>
                                    </tr>
                                {% endif %}

                                {% if address_string_dictionary['Analog Sensors'] %}
                                    <tr>
                                        <th scope="row"> Analog Sensors </th>
                                        <td> {{ address_string_dictionary['Analog Sensors'] }} </td>
                                    </tr>
                                {% endif %}

                                {% if address_string_dictionary['Exhaust Supply Fans'] %}
                                    <tr>
                                        <th scope="row"> Exhaust Supply Fans </th>
                                        <td> {{ address_string_dictionary['Exhaust Supply Fans'] }} </td>
                                    </tr>
                                {% endif %}

                               
        
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>


        </form>

    </div>







    
    
{% endblock %}
