{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ settings_form.csrf_token }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add New Settings</legend>
                    <!-- Sales Order Number and Controller Tag Name -->
                <div class="row col-md-6">
                    <div class="form-group">
                        {{ settings_form.enable_version.label(class="form-control-label") }}
                        {% if settings_form.enable_version.errors %}
                            {{ settings_form.enable_version(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in settings_form.enable_version.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ settings_form.enable_version(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        {{ settings_form.version_number.label(class="form-control-label") }}
                        {% if settings_form.version_number.errors %}
                            {{ settings_form.version_number(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in settings_form.version_number.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ settings_form.version_number(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group col-md-6">
                        {{ settings_form.cfactory_path.label(class="form-control-label") }}
                        {% if settings_form.cfactory_path.errors %}
                            {{ settings_form.cfactory_path(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in settings_form.cfactory_path.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ settings_form.cfactory_path(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>


                <div class="row">
                    <div class="form-group col-md-6">
                        {{ settings_form.valid_with_max_controller.label(class="form-control-label") }}
                        {% if settings_form.valid_with_max_controller.errors %}
                            {{ settings_form.valid_with_max_controller(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in settings_form.valid_with_max_controller.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ settings_form.valid_with_max_controller(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group col-md-6">
                        {{ settings_form.valid_with_mini_controller.label(class="form-control-label") }}
                        {% if settings_form.valid_with_mini_controller.errors %}
                            {{ settings_form.valid_with_mini_controller(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in settings_form.valid_with_mini_controller.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ settings_form.valid_with_mini_controller(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        {{ settings_form.max_ap1_directory.label(class="form-control-label") }}
                        {% if settings_form.max_ap1_directory.errors %}
                            {{ settings_form.max_ap1_directory(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in settings_form.max_ap1_directory.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ settings_form.max_ap1_directory(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group col-md-6">
                        {{ settings_form.mini_ap1_directory.label(class="form-control-label") }}
                        {% if settings_form.mini_ap1_directory.errors %}
                            {{ settings_form.mini_ap1_directory(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in settings_form.mini_ap1_directory.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ settings_form.mini_ap1_directory(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        {{ settings_form.max_http_folder_directory.label(class="form-control-label") }}
                        {% if settings_form.max_http_folder_directory.errors %}
                            {{ settings_form.max_http_folder_directory(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in settings_form.max_http_folder_directory.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ settings_form.max_http_folder_directory(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group col-md-6">
                        {{ settings_form.mini_http_folder_directory.label(class="form-control-label") }}
                        {% if settings_form.mini_http_folder_directory.errors %}
                            {{ settings_form.mini_http_folder_directory(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in settings_form.mini_http_folder_directory.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ settings_form.mini_http_folder_directory(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4">
                        {{ settings_form.time_zone.label(class="form-control-label") }}
                        {% if settings_form.time_zone.errors %}
                            {{ settings_form.time_zone(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in settings_form.time_zone.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ settings_form.time_zone(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>

                
                
            <!-- Configure Order Button -->
            <div class="row col-md-6">
                <div class="form-group text-left col-md-6">
                    {{ settings_form.submit(class="btn btn-outline-info") }}
                </div>
            </div>
            
        </form>
    </div>
{% endblock %}
