{% extends "layout.html" %}
{% block content %}
    <head>
        <style>
            .admin-button { margin: 0 7px; }
        </style>
    </head>

    <div class="content-section">
        <form method="POST" action="">
            {{ admin_form.csrf_token }}
            <fieldset class="form-group">
                <br>
                <!-- Add Version Button -->
                <div class="card">
                    <div class="card-header">
                        Controller Version Settings
                    </div>
                    <div class="card-body">
                        <div class="row col-md-8 btn-group" role="group">
                            <div class="admin-button">
                                {{ admin_form.add_version_button(class="btn btn btn-outline-primary") }}
                            </div>
                            <div class="admin-button">
                                {{ admin_form.edit_version_button(class="btn btn btn-outline-primary") }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        Fan Standard Definitions
                    </div>
                    <div class="card-body">
                        <div class="row col-md-8 btn-group" role="group">
                            <div class="admin-button">
                                {{ admin_form.create_standard_fan_definition_button(class="btn btn btn-outline-primary") }}
                            </div>
                        </div>
                    </div>
                </div>
                
            </fieldset>  
        </form>
    </div>
{% endblock %}
