{% extends "layout_container_fluid.html" %}
{% block content %}
    <head>
        <style>
            body {
                font-size: 1rem!important;
            }
            .table td {
                padding: 0rem;
                margin-left: 2rem!important;
                margin-right: 2rem!important;
                
            }
            .table th {
                padding-left: 2rem;
                padding-right: 2rem;
            }
            #footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 2.5rem;  
        }

        </style>
    </head>

    {% for carel_key in carel_key_list %}
        <h3>carel key: {{ carel_key }}</h3>
        {% for carel_value in carel_key_values_default_dict[carel_key] %}
            <li> carel_value: {{ carel_value }} </li>
        {% endfor %}
    {% endfor %}


{% endblock %}
