{% extends "layout.html" %}
{% block content %}

<head>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>

    <script>
        function makeChange() {
            var static_path = "/redirectchoosefilepath_/{{ sales_order_id }}/{{ current_controller }}/{{ tag_prefix }}/" 
            var route_path = $("#file_path").val();
            window.location.href = static_path + route_path
        }

    </script>
     <style>
         .form-control {
             margin-bottom: 1rem;
         }
     </style>

</head>

    <div class="content-section col-md-10">
        <form method="POST" action="">

            {{ choose_file_path_form.csrf_token }}

            {{ choose_file_path_form.current_path.label(class="form-control-label") }}
            {{ choose_file_path_form.current_path(class="form-control form-control-lg") }}

            {{ choose_file_path_form.file_path.label(class="form-control-label") }}
            <div onchange="makeChange()">
                {{ choose_file_path_form.file_path(class="form-control form-control-lg") }}
            </div>
            
            <div class="row">
                <div class="col-md-2">
                    {{ choose_file_path_form.submit_button(class="form-control form-control-lg") }}
                </div>
                <form method="POST" action="">
                    {{ clear_file_path_form.csrf_token}}
                    <div class="col-md-2">
                        {{ clear_file_path_form.clear_path(class="form-control form-control-lg")}}
                    </div>
                </form>
                
            </div>
            
            

        </form>
    </div>

        

{% endblock %}
