{% extends "layout.html" %}
{% block content %}

    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


        <style>
        #feedback { font-size: 1.4em; }
        #selectable .ui-selecting { background: #FECA40; }
        #selectable .ui-selected { background: #F39814; color: white; }
        #selectable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
        #selectable li { margin: 3px; padding: 1px; float: left; width: 50px; height: 40px; font-size: 1.5em; text-align: center; }

        #feedback { font-size: 1.4em; }
        #previous .ui-selecting { background: #FECA40; }
        #previous .ui-selected { background: #F39814; color: white; }
        #previous { list-style-type: none; margin: 0; padding: 0; width: 100%; }
        #previous li { margin: 3px; padding: 1px; float: left; width: 50px; height: 40px; font-size: 1em; text-align: center; }

        .btn-group-vertical > input {
            margin-bottom:10px;
            border-radius:3px !important;
        }
        .selected-controller-button {
            padding-top: 50%;
            padding-bottom: 50%;
        }
        .border {
            border: 5px solid black!important;
        }
        #sales-order-table{
            font-size: 1rem;
        }
        #current-selection {
            padding-top: 0.75rem;
        }
        .mb-4, .my-4 {
            margin-bottom: 0!important;
        }
        #nav-tab {
            font-size: 1rem;
        }
        #digital-modbus-content {
            display:none;
        }
        #analogue-signal-content {
            display:none;
        }
        #local-sensor-content {
            display:none;
        }
        #setup-type-dropdown {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }


        </style>
        

        <script>

            // $(document).ready(function(){
            //     $('#digital_in_2').on('change', function() {
            //         switch(this.value) {
            //         }
            //     });
            // });
            $("#digital_in_2").on("change", function() {
                if ($(this).prop('checked') == false) {
                    console.log('test here')
                }
            });

            
            $(document).ready(function(){
                $('#digital_in_2').on('change', function() {
                    switch(this.value) {
                        case 'y':
                            $("#digital-in-2-content").show();
                            break;
                        case 'n':
                            $("#digital-in-2-content").hide();
                            break;
                    }
                });

                $('#function').on('change', function() {
                    if (this.value == "Set speed override"){
                        $("#set-speed-override-content").show();
                    }
                    else{
                        $("#set-speed-override-content").hide();
                    }
                });

                $('#setup_type_selection').on('change', function() {
                    switch(this.value) {
                        case 'Single Speed':
                            $("#single-speed-content").show();
                            $("#digital-modbus-content").hide();
                            $("#analogue-signal-content").hide();
                            $("#local-sensor-content").hide();
                            break;
                        case 'Digital Modbus':
                            $("#single-speed-content").hide();
                            $("#digital-modbus-content").show();
                            $("#analogue-signal-content").hide();
                            $("#local-sensor-content").hide();
                            break;
                        case 'Analogue Signal':
                            $("#single-speed-content").hide();
                            $("#digital-modbus-content").hide();
                            $("#analogue-signal-content").show();
                            $("#local-sensor-content").hide();
                            break;
                        case 'Local Sensor':
                            $("#single-speed-content").hide();
                            $("#digital-modbus-content").hide();
                            $("#analogue-signal-content").hide();
                            $("#local-sensor-content").show();
                            break;
                            
                    }
                });
            });

            $(document).ready(function() {
                var prev = -1;
                $("#selectable").selectable({
                    selecting: function(e, ui) {
                        var curr = $(ui.selecting.tagName, e.target).index(ui.selecting);
                        if(e.shiftKey && prev > -1) {
                            console.log(prev, curr, Math.min(prev, curr));
                            $(ui.selecting.tagName, e.target).slice(Math.min(prev, curr), 1 + Math.max(prev, curr)).addClass('ui-selected');
                            prev = -1;
                        } else {
                            prev = curr;
                        }
                    }
                });
            });

            $(function() {
                

                $( "#selectable" ).selectable({
                    stop: function() {
                        var textyouwant = '';
                        var indexesyouwant = '';
                        var selectedItems = [];
                        var selectedIndexes = [];
                        $("li.ui-selected").each(function(){
                            selectedItems.push($(this).html())
                            selectedIndexes.push($(this).attr("id"))
                        });
                        textyouwant = createRangeString(selectedItems);
                        $("#modbus-ranges").val(textyouwant);
                        $("#fan-quantity").val(selectedItems.length);
                        indexesyouwant = createRangeString(selectedIndexes);
                        
                        $("#modbus-ranges-indexes").val(indexesyouwant);
                    }
                });

                function createRangeString(selectedItems){
                    range_string = '';
                    input = selectedItems.map(Number)
                    input = [...new Set(input)].sort((a, b) => a - b);
                    let i = 0;
                    let j = 0;
                    let output = '';

                    while (i < input.length) {
                        while (j < input.length && (input[j] + 1) === input[j + 1]) {
                            j++;
                        }
                        output += `${input[i]}`;
                        if (i !== j) {
                            output += `-${input[j]},`;
                        } else {j 
                            output += ',';
                        }
                        i = j + 1;
                        j = i;
                    }
                    range_string = output.substring(0, output.lastIndexOf(","))

                    return range_string
                }

            });


        </script>

    </head>

    


    <div class="row container">
        <!-- CONTROLLERS ON LEFT SIDE OF PAGE -->
        <!-- <div class="col-md-2 content-section"> -->
            <form method="POST" action="">
                <div class="btn-group-vertical content-section">
                    {% for controller in range(1, sales_order_controller_quantity+1) %}
                            {% if controller == current_controller  -%}
                                <input type='submit' class="btn 
                                    {% if controller in list_index_of_finished_controllers  -%}
                                    btn-success 
                                    {% else -%}
                                    btn-secondary 
                                    {%- endif %} 
                                    selected-controller-button border border-dark" name='controller{{controller}}' value="{{ tag_prefix }} {{ controller }}"></input>
                            {% elif controller in list_index_of_finished_controllers -%}
                                <input type='submit' class="btn btn-success btn-sm border-dark" name='controller{{controller}}' value="{{ tag_prefix }} {{ controller }}"></input>
                            {% else -%}
                                <input type='submit' class="btn btn-secondary btn-sm border-dark" name='controller{{controller}}' value="{{ tag_prefix }} {{ controller }}"></input>
                            {%- endif %} 
                    {% endfor %}                                  
                    <!-- navigate to program controller button -->

                            <input type='submit' class="btn btn-primary btn-sm border-dark" name='navigate_configure_controller' value="Finished"></input>

                </div> 
            </form>
        <!-- </div> -->
        
        <div class="content-section col-md-10">
            
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-9">
                                {% if archived_directory%}
                                    Archived Directory: {{ archived_directory }}
                                {% endif %}
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            

            <div class="row ml-auto" id="sales-order-table">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col"> Sales Order Number</th>
                            <th scope="col"> Controller Number</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <th scope="row"> {{ sales_order_number }} </th>
                            <td> {{ current_controller }} </td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <div class="card">
                <div class="card-header">
                    Fieldbus Sensors
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-3">
                            {{ fieldbus_sensors_form.starting_address.label(class="form-control-label") }}
                            {{ fieldbus_sensors_form.starting_address(class="form-control form-control-lg") }}
                        </div>
                        <div class="form-group col-3">
                            {{ fieldbus_sensors_form.ending_address.label(class="form-control-label") }}
                            {{ fieldbus_sensors_form.ending_address(class="form-control form-control-lg") }}
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="form-group col-3">
                            {{ fieldbus_sensors_form.co_min.label(class="form-control-label") }}
                            {{ fieldbus_sensors_form.co_min(class="form-control form-control-lg") }}
                        </div>
                        <div class="form-group col-3">
                            {{ fieldbus_sensors_form.co_max.label(class="form-control-label") }}
                            {{ fieldbus_sensors_form.co_max(class="form-control form-control-lg") }}
                        </div>
                        <div class="form-group col-3">
                            {{ fieldbus_sensors_form.co_alarm_threshold.label(class="form-control-label") }}
                            {{ fieldbus_sensors_form.co_alarm_threshold(class="form-control form-control-lg") }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-3">
                            {{ fieldbus_sensors_form.no2_min.label(class="form-control-label") }}
                            {{ fieldbus_sensors_form.no2_min(class="form-control form-control-lg") }}
                        </div>
                        <div class="form-group col-3">
                            {{ fieldbus_sensors_form.no2_max.label(class="form-control-label") }}
                            {{ fieldbus_sensors_form.no2_max(class="form-control form-control-lg") }}
                        </div>
                        <div class="form-group col-3">
                            {{ fieldbus_sensors_form.no2_alarm_threshold.label(class="form-control-label") }}
                            {{ fieldbus_sensors_form.no2_alarm_threshold(class="form-control form-control-lg") }}
                        </div>
                    </div>
                </div>
            </div>




        </div>

            
            
          
    
        

        
  



    </div>


{% endblock %}
