{% extends "layout.html" %}
{% from 'bootstrap/form.html' import render_form, render_field, render_form_row %}

{% block content %}

    <head>
        <script>

            $(document).ready(function(){
                const checkbox = document.getElementById("purge_enable_checkbox"); //get checkbox
                const div = document.getElementById("show-purge"); //get div
                console.log(checkbox)
                console.log(div)
                if(! checkbox.checked){
                    $("#show-purge").hide();
                };

                $('#purge_enable_checkbox').on('change', function() {
                    if (this.checked){
                        $("#show-purge").show();
                    }
                    else {
                        $("#show-purge").hide();
                    }
                });
            });



        </script>
        <style>
            .btn-group-vertical > input {
                margin-bottom:10px;
                border-radius:3px !important;
                font-size: 2rem;
            }
            .selected-controller-button {
                padding-top: 50%;
                padding-bottom: 50%;
            }
            .border {
                border: 4px solid black!important;
            }
            .card {
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
            .card-header{
                font-weight: bold;
            }
            .centered {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .gray-text > h1{
                color: grey;
            }

        </style>
    </head>

    <body>

        <div class="row">
            <div class="col-md-6">
                <h1>Controller Configurations</h1>
            </div>
            <div class="col-md-4 gray-text">
                <h1>(Controller {{ current_controller }})</h1>
            </div>
            <!-- <div class="col-md-2">
                <form method="POST" action="">
                    <input type='submit' class="btn btn-danger btn-lg border-dark ml-2 mr-2 mb-2" name='navigate_sales_order_status_button' value="Return"></input>
                </form>
            </div> -->
             
        </div>
        
        <div class="content-section">
            <form method="POST" action="">
                {{ form.csrf_token }}
    
                <div class="row">
                    <!-- Controller Buttons on Left hand Side of Screen -->
                        
                    <!-- CONTROLLERS ON LEFT SIDE OF PAGE -->
                    <div class="col-md-2">
                        <form method="POST" action="">
                            <div class="card">
                                <div class="card-header">
                                    Controllers
                                </div>
                                <div class="card-body">
                                    <div class="btn-group-vertical">
                                        {% for controller in range(1, sales_order_controller_quantity+1) %}
                                                {% if controller == current_controller  -%}
                                                    <input type='submit' class="btn 
                                                        {% if controller in list_index_of_finished_controllers  -%}
                                                        btn-success 
                                                        {% else -%}
                                                        btn-secondary 
                                                        {%- endif %} 
                                                        selected-controller-button border border-dark" name='controller{{controller}}' value="{{ tag_prefix }} {{ controller }}"></input>
                                                {% elif controller in list_index_of_finished_controllers -%}
                                                    <input type='submit' class="btn btn-success btn-sm border-dark" name='controller{{controller}}' value="{{ tag_prefix }} {{ controller }}"></input>
                                                {% else -%}
                                                    <input type='submit' class="btn btn-secondary btn-sm border-dark" name='controller{{controller}}' value="{{ tag_prefix }} {{ controller }}"></input>
                                                {%- endif %} 
                                        {% endfor %}                                  
                                        <!-- navigate to program controller button -->
                    
                                                <button type='submit' class="btn btn-primary btn-sm border-dark" name='navigate_sales_order_status_button'>Return Sales <br /> Order Status</button>
                    
                                    </div> 
                                </div>
                            </div>
                            
                        </form>
                    </div>

                    <!--  Unit Configuration -->
                    <div class="col-md-10">
                        <!-- JetVent Fans Card -->
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-md-6">
                                        JetVent Fans Speed
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-6">
                                                {{ render_field(form.submit_button) }}
                                            </div>
                                            <div class="col-md-6">
                                                {{ render_field(form.save_to_all_controllers_button) }}
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        {{ render_field(form.jetvent_min_fan_speed) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ render_field(form.jetvent_max_fan_speed) }}
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- Unit Configuration -->
                        <div class="card">
                            <div class="card-header">
                                Unit Configuration
                            </div>
                            <div class="card-body">
            
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">Sensor Type</th>
                                            <th scope="col">Demand @ 0%</th>
                                            <th scope="col">Demand @ 100%</th>
                                            <th scope="col">Alarm Threshold</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">CO:</th>
                                            <td>
                                                {{ form.zero_percent_demand_co_ppm }}
                                            </td>
                                            <td>
                                                {{ form.hundred_percent_demand_co_ppm }}
                                            </td>
                                            <td>
                                                {{ form.alarm_threshold_co_ppm }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">NO2:</th>
                                            <td>
                                                {{ form.zero_percent_demand_no2_ppm }}
                                            </td>
                                            <td>
                                                {{ form.hundred_percent_demand_no2_ppm }}
                                            </td>
                                            <td>
                                                {{ form.alarm_threshold_no2_ppm }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">CO2:</th>
                                            <td>
                                                {{ form.zero_percent_demand_co2_ppm }}
                                            </td>
                                            <td>
                                                {{ form.hundred_percent_demand_co2_ppm }}
                                            </td>
                                            <td>
                                                {{ form.alarm_threshold_co2_ppm }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Temperature:</th>
                                            <td>
                                                {{ form.zero_percent_demand_temp_celsius }}
                                            </td>
                                            <td>
                                                {{ form.hundred_percent_demand_temp_celsius }}
                                            </td>
                                            <td>
                                                {{ form.alarm_threshold_temp_celsius }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">External Demand:</th>
                                            <td>
                                                {{ form.zero_percent_demand_external_percent }}
                                            </td>
                                            <td>
                                                {{ form.hundred_percent_demand_external_percent }}
                                            </td>
                                            <td>
                                                {{ form.alarm_threshold_external_percent }}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
            
                                <br>
            
                                <div class="card">
                                    <div class="card-header">
                                        Individual Control
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ render_field(form.sensor_demand_level) }}
                                            </div>
                                            <div class="col-md-4">
                                                {{ render_field(form.fan_demand_level) }}
                                            </div>
                                            <div class="col-md-4">
                                                {{ render_field(form.fan_demand_type) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            
            
            
                        <div class="row">
                            <div class="col-md-6">
            
                                <!-- Manual Override -->
                                <div class="card">
                                    <div class="card-header">
                                        Manual Override
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                {{ render_field(form.manual_override_exhaust_fan_speed) }}
                                            </div>
                                            <div class="col-md-6">
                                                {{ render_field(form.manual_override_fail_mode_exhaust_fan) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                {{ render_field(form.manual_override_jetvent_fan_speed) }}
                                            </div>
                                            <div class="col-md-6">
                                                {{ render_field(form.manual_override_fail_mode_jetvent_fan) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                {{ render_field(form.manual_override_supply_fan_speed) }}
                                            </div>
                                            <div class="col-md-6">
                                                {{ render_field(form.manual_override_fail_mode_supply_fan) }}
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
            
                            </div>
                            <div class="col-md-6">
            
                                <div class="row">
                                    <!-- Fire Mode -->
                                    <div class="col-md-6">
                                        <div class="card">
                                            <div class="card-header">
                                                Fire Mode
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-8 offset-md-2">
                                                        <div class="row">
                                                            {{ render_field(form.fire_mode_exhaust_fan_speed) }}
                                                        </div>
                                                        <div class="row">
                                                            {{ render_field(form.fire_mode_jetvent_fan_speed) }}
                                                        </div>
                                                        <div class="row">
                                                            {{ render_field(form.fire_mode_supply_fan_speed) }}
                                                        </div>
                                                    </div>
                                                </div>
            
            
                                                
                                            </div>
                                        </div>
                                    </div>
                    
                                    <!-- Fire Panel -->
                                    <div class="col-md-6">
                                        
                                        <div class="card">
                                            <div class="card-header">
                                                Fire Panel
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-6 offset-md-3">
                                                        
                                                        <div class="row">
                                                            {{ render_field(form.fire_mode_active_GFA) }}
                                                        </div>
                                                        <div class="row">
                                                            {{ render_field(form.fire_mode_jetvent_fan_run) }}
                                                        </div>
                                                        <div class="row">
                                                            {{ render_field(form.fire_mode_jetvent_fan_stop) }}
                                                        </div>
                                                    </div>
                                                </div>
            
                                            </div>
                                        </div>
                                    </div>
                    
                                </div>
            
                            </div>
                        </div>
                        
            
            
                        <div class="row">
                            <div class="col-md-6">
                                <!-- Purge -->
                                <div class="card">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-md-8">
                                                Purge
                                            </div>
                                            <div class="col-md-4">
                                                {{ render_field(form.purge_enable_checkbox) }}
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="card-body" id='show-purge'>
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ render_field(form.purge_system_activation_time_hour) }}
                                            </div>
                                            <div class="col-md-4">
                                                {{ render_field(form.purge_system_run_duration_time_minutes) }}
                                            </div>
                                            <div class="col-md-4">
                                                {{ render_field(form.purge_system_run_speed_demand_percentage) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
            
                                <!-- Smoke Detection -->
                                <div class="card">
                                    <div class="card-header">
                                        Smoke Detection
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <div data-toggle="tooltip" data-placement="top" title="{{ form.smoke_detector_system_keep_off_delay_minutes.label.text }}">Shutdown Time</div>
                                                </div>
                                                <div class="row">
                                                    {{ form.smoke_detector_system_keep_off_delay_minutes(class="form-control form-control-lg") }}
                                                </div>
                                                
                                                

                                            </div>
                                            <div class="col-md-4">
                                                <div data-toggle="tooltip" data-placement="top" title="{{ form.smoke_detection_system_trigger_delay_seconds.label.text }}">Trigger Delay</div>
                                                {{ form.smoke_detection_system_trigger_delay_seconds(class="form-control form-control-lg") }}
                                            </div>
                                            <div class="col-md-4">
                                                <div data-toggle="tooltip" data-placement="top" title="{{ form.smoke_detector_system_restrict_response_to_affected_zone.label.text }}">Restrict Zones</div>
                                                {{ form.smoke_detector_system_restrict_response_to_affected_zone(class="form-control form-control-sm") }}
                                            </div>

                                        </div>
                                    </div>
                                </div>
            
                            </div>
                        </div>
            

            
                        <div class="row">
                            <div class="col-md-9">
                            </div>
                            <div class="col-md-3">
                                {{ render_field(form.submit_button) }}
                            </div>
                        </div>

                    </div>
                </div>

            </form>
        </div>

        <script>
            $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();   
            });
        </script>

    </body>

{% endblock %}