{% extends "layout.html" %}
{% from 'bootstrap/form.html' import render_form, render_field, render_form_row %}

{% block content %}

    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


        <style>
        #feedback { font-size: 1.4em; }
        .selectable .ui-selecting { background: #FECA40; }
        .selectable .ui-selected { background: #F39814; color: white; }
        .selectable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
        .selectable li { margin: 3px; padding: 1px; float: left; width: 40px; height: 25px; font-size: 1em; text-align: center; }

        #feedback { font-size: 1.4em; }
        #previous .ui-selecting { background: #FECA40; }
        #previous .ui-selected { background: #F39814; color: white; }
        #previous { list-style-type: none; margin: 0; padding: 0; width: 100%; }
        #previous li { margin: 3px; padding: 1px; float: left; width: 40px; height: 25px; font-size: 1em; text-align: center; }

        .btn-group-vertical > input {
            margin-bottom:10px;
            border-radius:3px !important;
        }
        .selected-controller-button {
            padding-top: 50%;
            padding-bottom: 50%;
        }
        .btn-group-vertical {
            justify-content: start !important;
        }
        .border {
            border: 5px solid black!important;
        }
        #sales-order-table{
            font-size: 1rem;
        }
        #current-selection {
            padding-top: 0.75rem;
        }
        .mb-4, .my-4 {
            margin-bottom: 0!important;
        }
        #nav-tab {
            font-size: 1rem;
        }
        #digital-modbus-content {
            display:none;
        }
        #analogue-signal-content {
            display:none;
        }
        #local-sensor-content {
            display:none;
        }
        #setup-type-dropdown {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }
        h3{
            padding-left: 15rem;
        }

        #move-button {
                margin-top: 2rem;
            }
        .card{
            /* padding: 0.1rem; */
            margin-bottom: 0rem;
            padding-bottom: 0rem;
        }
        .card-body {
            /* padding: 0.75rem; */
            margin-bottom: 0rem;
            padding-bottom: 0rem;
        }

        </style>
        

        <script>
            // Add 'ui-selected' class to items inside 'selectable' class that have been selected
            // Works with box drag, control multi select, and shift click
            $(document).ready(function() {
                var prev = -1;
                $(".selectable").selectable({
                    selecting: function(e, ui) {
                        var curr = $(ui.selecting.tagName, e.target).index(ui.selecting);
                        if(e.shiftKey && prev > -1) {
                            console.log(prev, curr, Math.min(prev, curr));
                            $(ui.selecting.tagName, e.target).slice(Math.min(prev, curr), 1 + Math.max(prev, curr)).addClass('ui-selected');
                            prev = -1;
                        } else {
                            prev = curr;
                        }
                    }
                });
            });

            $(function() {
                
                // populate modbus-ranges and modbus-ranges-indexes fields with string representation of selected address items
                $( ".selectable" ).selectable({
                    stop: function() {
                        // declare fbsensor variables
                        var fbSensorAddressRangeString = '';
                        var fbSensorIndexRangeString = '';
                        var fbSensorSelectedAddressItems = [];
                        var fbSensorSelectedIndexes = [];

                        // declare fan variables
                        var fanAddressRangeString = '';
                        var fanIndexRangeString = '';
                        var fanSelectedAddressItems = [];
                        var fanSelectedIndexes = [];

                        // declare expansionBoard variables
                        var expansionBoardAddressRangeString = '';
                        var expansionBoardIndexRangeString = '';
                        var expansionBoardSelectedAddressItems = [];
                        var expansionBoardSelectedIndexes = [];

                        var address_item_action_name = '';
                        var address_string = '';
                        var action_name = '';
                        var address_index_string = '';

                        $("li.ui-selected").each(function(){
                            var address_item = $(this).attr("name");
                            // determine if element name value is fbsensor or fan
                            const [address_item_action_name, address_string] = decodeActionValueString(address_item);

                            if (address_item_action_name == 'fbsensor') {
                                fbSensorSelectedAddressItems.push(address_string);
                            }
                            else if (address_item_action_name == 'fan') {
                                fanSelectedAddressItems.push(address_string);
                            }
                            else if (address_item_action_name == 'expansionboard') {
                                expansionBoardSelectedAddressItems.push(address_string);
                            }



                            var actionValueString = $(this).attr("id");
                            const [action_name, address_index_string] = decodeActionValueString(actionValueString);

                            if (action_name == 'fbsensor') {
                                fbSensorSelectedIndexes.push(address_index_string);
                            }
                            else if (action_name == 'fan') {
                                fanSelectedIndexes.push(address_index_string);
                            }
                            else if (action_name == 'expansionboard') {
                                expansionBoardSelectedIndexes.push(address_index_string);
                            }
                            
                        });
                        if (fbSensorSelectedAddressItems !== null) {
                            fbSensorAddressRangeString = createRangeString(fbSensorSelectedAddressItems);
                            $("#fbsensor_address_ranges").val(fbSensorAddressRangeString);
                            $("#fbsensor_quantity").val(fbSensorSelectedAddressItems.length);
                            fbSensorIndexRangeString = createRangeString(fbSensorSelectedIndexes);
                            $("#fbsensor_index_ranges").val(fbSensorIndexRangeString);
                        }
                        if (fanSelectedAddressItems !== null) {
                            fanAddressRangeString = createRangeString(fanSelectedAddressItems);
                            $("#fan_address_ranges").val(fanAddressRangeString);
                            $("#fan_quantity").val(fanSelectedAddressItems.length);
                            fanIndexRangeString = createRangeString(fanSelectedIndexes);
                            $("#fan_index_ranges").val(fanIndexRangeString);
                        }
                        if (expansionBoardSelectedAddressItems !== null) {
                            expansionBoardAddressRangeString = createRangeString(expansionBoardSelectedAddressItems);
                            $("#expansionboard_address_ranges").val(expansionBoardAddressRangeString);
                            $("#expansionboard_quantity").val(expansionBoardSelectedAddressItems.length);
                            expansionBoardIndexRangeString = createRangeString(expansionBoardSelectedIndexes);
                            $("#expansionboard_index_ranges").val(expansionBoardIndexRangeString);
                        }
                        



                    

                    }
                });

                function decodeActionValueString(actionValueString){
                    var id_value_array = actionValueString.split('_');

                    var action_name = id_value_array[0];
                    var address_index_array = id_value_array.slice(1);
                    var address_index_string = address_index_array.join("");

                    return [action_name, address_index_string]
                }

                // convert array of integers into a string that represents the entire range of integers
                function createRangeString(selectedItemsArray){
                    range_string = '';
                    input = selectedItemsArray.map(Number)
                    input = [...new Set(input)].sort((a, b) => a - b);
                    let i = 0;
                    let j = 0;
                    let output = '';

                    while (i < input.length) {
                        while (j < input.length && (input[j] + 1) === input[j + 1]) {
                            j++;
                        }
                        output += `${input[i]}`;
                        if (i !== j) {
                            output += `-${input[j]},`;
                        } else {j 
                            output += ',';
                        }
                        i = j + 1;
                        j = i;
                    }
                    range_string = output.substring(0, output.lastIndexOf(","))

                    return range_string
                }

            });


        </script>

    </head>



    <div class="row justify-content-center">
 
            <h1>Assignment <--> Controller: {{ current_controller }}
            </h1>


        
        
        <!-- <div class="col-md-2">
            <form method="POST" action="">
                <input type='submit' class="btn btn-danger btn-lg border-dark ml-2 mr-2 mb-2" name='navigate_sales_order_status_button' value="Return"></input>
            </form>
        </div> -->
         
    </div>
    <div class="row justify-content-center">
        <h4>SalesOrder: {{ sales_order_number }}</h4>
    </div>


    <div class="content-section">
        <!-- left side of screen -->
            
        <div class="row">
            
            <!-- CONTROLLERS ON LEFT SIDE OF PAGE -->
            <div class="col-md-2">
                <form method="POST" action="">
                    <div class="card">
                        <div class="card-header">
                            Controllers
                        </div>
                        <div class="card-body">
                            <div class="btn-group-vertical">
                                {% for controller in range(1, sales_order_controller_quantity+1) %}
                                        {% if controller == current_controller  -%}
                                            <input type='submit' class="btn 
                                                {% if controller in list_index_of_finished_controllers  -%}
                                                btn-success 
                                                {% else -%}
                                                btn-secondary 
                                                {%- endif %} 
                                                selected-controller-button border border-dark" name='controller{{controller}}' value="{{ tag_prefix }} {{ controller }}"></input>
                                        {% elif controller in list_index_of_finished_controllers -%}
                                            <input type='submit' class="btn btn-success btn-sm border-dark" name='controller{{controller}}' value="{{ tag_prefix }} {{ controller }}"></input>
                                        {% else -%}
                                            <input type='submit' class="btn btn-secondary btn-sm border-dark" name='controller{{controller}}' value="{{ tag_prefix }} {{ controller }}"></input>
                                        {%- endif %} 
                                {% endfor %}                                  
                                <!-- navigate to program controller button -->
            
                                        <button type='submit' class="btn btn-primary btn-sm border-dark" name='navigate_sales_order_status_button'>Return Sales <br /> Order Status</button>
            
                            </div> 
                        </div>
                    </div>
                    
                </form>
            </div>
             
            
            <div class="col-md-10">
                <!-- <div class="content-section"> -->

                    <!-- Show Fans already configured w/ current Controller-->
                    {%- if address_sensortype_dictionary -%}
                
                        <div class="card text-white bg-dark">
                            <div class="card-header bg-secondary">
                                <div class="row">
                                    <div class="col-md-10">
                                        FBSensor Selection
                                    </div>
                                    <div class="col-md-2">
                                        <form method="POST" action="">
                                            <input type='submit' class="btn btn-danger btn-sm border-dark" name='clear_all_fieldbus_sensors' value="Clear"></input>
                                        </form>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="card-body text-dark">
                                {% for fan_type in address_sensortype_dictionary %}
                                    <div class="row form-group">   
                                        <ol id="previous">
                                            <div class="card">
                                                <div class="card-header">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            {{fan_type}}
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                <div class="card-body">
                                                    {% for fan_address in address_sensortype_dictionary[fan_type]: %}
                                                        <li id="fbsensor_{{ fan_address }}" name="fbsensor_{{ fan_address }}"class="ui-state-default">{{ fan_address }}</li>
                                                    {% endfor %}
                                                </div>
                                            </div>

                                        </ol>
                                    </div>
                                {% endfor %}

                            </div>
                            
                        </div>

                    {% endif %}


                    <!-- Show Fans already configured w/ current Controller-->
                    {%- if address_fantype_dictionary -%} 

                        <div class="card text-white bg-dark">
                            <div class="card-header bg-secondary">
                                <div class="row">
                                    <div class="col-md-10">
                                        Fan Selection
                                    </div>
                                    <div class="col-md-2">
                                        <form method="POST" action="">
                                            <input type='submit' class="btn btn-danger btn-sm border-dark" name='clear_all_fans' value="Clear"></input>
                                        </form>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="card-body text-dark">
                                {% for fan_type in address_fantype_dictionary %}
                                    <div class="row form-group">   
                                        <ol id="previous">
                                            <div class="card">
                                                <div class="card-header">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            {{fan_type}}
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                <div class="card-body">
                                                    {% for fan_address in address_fantype_dictionary[fan_type]: %}
                                                        <li id="{{ fan_address }}" name="fan{{ fan_address }}"class="ui-state-default">{{ fan_address }}</li>
                                                    {% endfor %}
                                                </div>
                                            </div>

                                        </ol>
                                    </div>
                                {% endfor %}

                            </div>
                            
                        </div>

                    {% endif %}


                    <!-- Show Expansion Boards already configured w/ current Controller -->
                    {%- if existing_saved_expansion_boards -%}
                
                        <div class="card text-white bg-dark">
                            <div class="card-header bg-secondary">
                                <div class="row">
                                    <div class="col-md-10">
                                        Expansion Boards
                                    </div>
                                    <div class="col-md-2">
                                        <form method="POST" action="">
                                            <input type='submit' class="btn btn-danger btn-sm border-dark" name='clear_all_expansion_boards' value="Clear"></input>
                                        </form>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="card-body text-dark">
                                
                                <div class="row form-group">   
                                    <ol id="previous">
                                        <div class="card">
                                
                                            <div class="card-body">
                                                {% for expansion_board_number in existing_saved_expansion_boards %}
                                                    <li id="expansionboard_{{ expansion_board_number }}" name="expansionboard_{{ expansion_board_number }}"class="ui-state-default">{{ expansion_board_number }}</li>
                                                {% endfor %}
                                            </div>
                                        </div>

                                    </ol>
                                </div>                     

                            </div>
                            
                        </div>

                    {% endif %}


                
                    <form method="POST" action="">
                        {{ fbsensor_selection_form.csrf_token }}
            
                        <!-- Fieldbus Index Ranges (hidden read-only fields) -->
                        <div class="form-group">
                            {% if fbsensor_selection_form.fbsensor_index_ranges.errors %}
                                {{ fbsensor_selection_form.fbsensor_index_ranges(class="form-control form-control-lg is-invalid", id="fbsensor_index_ranges") }}
                                <div class="invalid-feedback">
                                    {% for error in fbsensor_selection_form.fbsensor_index_ranges.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ fbsensor_selection_form.fbsensor_index_ranges(class="form-control form-control-lg", id="fbsensor_index_ranges") }}
                            {% endif %}
                        </div>
    
                        <br>    

            

                        <!-- Matrix of FBSensors -->
                        {% if available_fb_sensors %}
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col">
                                        <div class="row no-gutters">
                                            <div class="col">
                                                <h4>Fieldbus Sensors </h4>
                                            </div>
                                            <div class="col">
                                                {{ fbsensor_selection_form.fbsensor_selection_form_submit(class="btn btn-primary btn-sm border-dark", required=False) }}
                                            </div>
                                            
                                            <!-- <div class="col">
                                                <h4>Fieldbus Sensors</h4>
                                            </div>
                                            <div class="col">
                                                {{ fbsensor_selection_form.fbsensor_selection_form_submit(class="btn btn-primary btn-sm border-dark", required=False) }}
                                            </div> -->
                                        </div>
                                        
                                    </div>
                         

                                    <div class="col">
                                        <div class="row no-gutters">
                                            <div class="col">
                                                {{ fbsensor_selection_form.fbsensor_address_ranges.label }}
                                            </div>
                                            <div class="col">
                                                {% if fbsensor_selection_form.fbsensor_address_ranges.errors %}
                                                    {{ fbsensor_selection_form.fbsensor_address_ranges(class="form-control form-control-lg is-invalid") }}
                                                    <div class="invalid-feedback">
                                                        {% for error in fbsensor_selection_form.fbsensor_address_ranges.errors %}
                                                            <span>{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                    {{ fbsensor_selection_form.fbsensor_address_ranges(class="form-control form-control-lg", id="fbsensor_address_ranges") }}
                                                {% endif %}
                                            </div>
                                            
                                            
                                        </div>
                                    
            
                                    </div>
            
                                   
            
                                    <div class="col">
                                        <div class="row no-gutters">
                                            <div class="col">
                                                {{ fbsensor_selection_form.fbsensor_quantity.label(class="form-control-label") }}
                                            </div>
                                            <div class="col">
                                                {% if fbsensor_selection_form.fbsensor_quantity.errors %}
                                                    {{ fbsensor_selection_form.fbsensor_quantity(class="form-control form-control-lg is-invalid") }}
                                                    <div class="invalid-feedback">
                                                        {% for error in fbsensor_selection_form.fbsensor_quantity.errors %}
                                                            <span>{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                    {{ fbsensor_selection_form.fbsensor_quantity(class="form-control form-control-lg" , id="fbsensor_quantity") }}
                                                {% endif %}
                                            </div>
                                        </div>
                                        
                                    </div>
 
                                </div>
                                
                                
                            </div>
                            <div class="card-body">
                                <form method="POST" action="">
                                    {% for fan_definition_name in available_fb_sensors %}
                                    <div class="row form-group">
                                        <div class="card">
                                            <!-- <div class="card-header"> -->
                                                <h3>{{ fan_definition_name }}</h3>
                                            <!-- </div> -->
                                            <!-- <div class="card-body"> -->
                                                <ol class="selectable">
                                                    {% for fan_address, fan_index in available_fb_sensors[fan_definition_name] %}
                                                        <li id="fbsensor_{{ fan_index }}" name="fbsensor_{{ fan_address }}"class="ui-state-default">{{ fan_address }}</li>
                                                    {% endfor %}
                                                </ol>
                                            <!-- </div> -->
                                        </div>

                                        
                                        
                                    </div>
                                        
                                    {% endfor %}
                                </form>
                            </div>
                            
                        </div>
    
                    
                        {% endif %}
                    
                    </form>


                    <form method="POST" action="">
                        {{ fan_selection_form.csrf_token }}


                        <!-- Fan Index Ranges (hidden read-only fields) -->
                        <div class="form-group">
                            {% if fan_selection_form.fan_index_ranges.errors %}
                                {{ fan_selection_form.fan_index_ranges(class="form-control form-control-lg is-invalid", id="fan_index_ranges") }}
                                <div class="invalid-feedback">
                                    {% for error in fan_selection_form.fan_index_ranges.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ fan_selection_form.fan_index_ranges(class="form-control form-control-lg", id="fan_index_ranges") }}
                            {% endif %}
                        </div>

                        <!-- Matrix of Fans -->
                        {% if available_fans %}
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col">
                                        <div class="row no-gutters">
                                            <div class="col">
                                                <h4>Fans</h4>
                                            </div>
                                            <div class="col">
                                                {{ fan_selection_form.fan_selection_form_submit(class="btn btn-primary btn-sm border-dark", required=False) }}
                                            </div>
                                            <div class="col">
                                                {{ fan_selection_form.fan_add_and_next_button(class="btn btn-primary btn-sm border-dark", required=False) }}
                                            </div>
                                        </div>
                                        
                                        
                                    </div>
                 
           
                                    <div class="col">
                                        <div class="row no-gutters">
                                            <div class="col">
                                                {{ fan_selection_form.fan_address_ranges.label(class="form-control-label") }}
                                            </div>
                                            <div class="col">
                                                {% if fan_selection_form.fan_address_ranges.errors %}
                                                    {{ fan_selection_form.fan_address_ranges(class="form-control form-control-lg is-invalid") }}
                                                    <div class="invalid-feedback">
                                                        {% for error in fan_selection_form.fan_address_ranges.errors %}
                                                            <span>{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                    {{ fan_selection_form.fan_address_ranges(class="form-control form-control-lg", id="fan_address_ranges") }}
                                                {% endif %}
                                            </div>
                                            
                                        </div>
                                    </div>
            
                                    
                                    <div class="col">
                                        <div class="row no-gutters">
                                            <div class="col">
                                                {{ fan_selection_form.fan_quantity.label(class="form-control-label") }}
                                            </div>
                                            <div class="col">
                                                {% if fan_selection_form.fan_quantity.errors %}
                                                    {{ fan_selection_form.fan_quantity(class="form-control form-control-lg is-invalid") }}
                                                    <div class="invalid-feedback">
                                                        {% for error in fan_selection_form.fan_quantity.errors %}
                                                            <span>{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                    {{ fan_selection_form.fan_quantity(class="form-control form-control-lg" , id="fan_quantity") }}
                                                {% endif %}
                                            </div>
                                        </div>
                                
                                        
                                    </div>
                                </div>
                                
                            </div>
                            <div class="card-body">
                                <form method="POST" action="">
                                    {% for fan_definition_name in available_fans %}
                                    <div class="row form-group">
                                        <div class="card">
                                            <!-- <div class="card-header"> -->
                                                <h3>{{ fan_definition_name }}</h3>
                                            <!-- </div> -->
                                            <!-- <div class="card-body"> -->
                                                <ol class="selectable">  
                                                    {% for fan_address, fan_index in available_fans[fan_definition_name] %}
                                                        <li id="fan_{{ fan_index }}" name="fan_{{ fan_address }}"class="ui-state-default">{{ fan_address }}</li>
                                                    {% endfor %}
                                                </ol>
                                            <!-- </div> -->
                                        </div>
                                        
                                        
                                    </div>
                                        
                                    {% endfor %}
                                </form>
                            </div>
                            
                        </div>
    
                    
                        {% endif %}

                    </form>

                    <!-- expansion boards -->
                    <form method="POST" action="">
                        {{ expansionboard_selection_form.csrf_token }}
            
                        <!-- Fieldbus Index Ranges (hidden read-only fields) -->
                        <div class="form-group">
                            {% if expansionboard_selection_form.expansionboard_index_ranges.errors %}
                                {{ expansionboard_selection_form.expansionboard_index_ranges(class="form-control form-control-lg is-invalid", id="expansionboard_index_ranges") }}
                                <div class="invalid-feedback">
                                    {% for error in expansionboard_selection_form.expansionboard_index_ranges.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ expansionboard_selection_form.expansionboard_index_ranges(class="form-control form-control-lg", id="expansionboard_index_ranges") }}
                            {% endif %}
                        </div>
    
                        <br>    

                        <!-- Matrix of FBSensors -->
                        {% if available_expansion_board_list %}
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row no-gutters">
                                            <div class="col">
                                                <h4>Expansion Boards</h4>
                                            </div>
                                            <div class="col">
                                                {{ expansionboard_selection_form.expansionboard_selection_form_submit(class="btn btn-primary btn-sm border-dark", required=False) }}
                                            </div>
                                        </div>
                                        
                                    </div>
                            
                                    <div class="col-md-3">
                                        <div class="row no-gutters">
                                            <div class="col">
                                                {{ expansionboard_selection_form.expansionboard_address_ranges.label(class="form-control-label") }}
                                            </div>
                                            <div class="col">
                                                {% if expansionboard_selection_form.expansionboard_address_ranges.errors %}
                                                    {{ expansionboard_selection_form.expansionboard_address_ranges(class="form-control form-control-lg is-invalid") }}
                                                    <div class="invalid-feedback">
                                                        {% for error in expansionboard_selection_form.expansionboard_address_ranges.errors %}
                                                            <span>{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                    {{ expansionboard_selection_form.expansionboard_address_ranges(class="form-control form-control-lg", id="expansionboard_address_ranges") }}
                                                {% endif %}
                                            </div>
                                            
                                        </div>       
                                    </div>
            
                                    <div class="col-md-3">
                                        <div class="row no-gutters">
                                            <div class="col">
                                                {{ expansionboard_selection_form.expansionboard_quantity.label(class="form-control-label") }}
                                            </div>
                                            <div class="col">
                                                {% if expansionboard_selection_form.expansionboard_quantity.errors %}
                                                    {{ expansionboard_selection_form.expansionboard_quantity(class="form-control form-control-lg is-invalid") }}
                                                    <div class="invalid-feedback">
                                                        {% for error in expansionboard_selection_form.expansionboard_quantity.errors %}
                                                            <span>{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                    {{ expansionboard_selection_form.expansionboard_quantity(class="form-control form-control-lg" , id="expansionboard_quantity") }}
                                                {% endif %}
                                            </div>
                                        </div>
                                
                                        
                                    </div>
                                    
                                </div>
                                
                                
                            </div>
                            <div class="card-body">
                                <form method="POST" action="">
                                    <div class="row form-group">
                                        <ol class="selectable">
                                            {% for expansion_board_id, expansion_board_index in available_expansion_board_list %}
                                                <li id="expansionboard_{{ expansion_board_id }}" name="expansionboard_{{ expansion_board_index }}"class="ui-state-default">{{ expansion_board_index }}</li>
                                            {% endfor %}
                                        </ol>
                                    </div>
                                        
                                </form>
                            </div>
                            
                        </div>
    
                    
                        {% endif %}
                    
                    </form>

                <!-- </div> -->
                
            </div>
                
            
        

            <!-- right side of screen -->

            



        </div>

    </div>
    

    


{% endblock %}
