<!-- This file has been changed By CG Developer on 01/05/2023.  Changed the form  -->
{% extends "layout.html" %}
{% block content %}

    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        
        <style>
            #nav-tab {
                font-size: 1rem;
            }

            #analogue-signal-content, #single-speed-content, #local-sensor-content {
                display:none;
            }

            #digital-in-2-content, #external-analogue-signal-content, #set-speed-override-content, {
                display:none;
            }

            #sensors1_type_lpt_end, #sensors2_type_lpt_end, #sensors1_type_other, #sensors2_type_other {
                display:none;
            }

            .setup-type-dropdown {
                padding-top: 1.5rem;
                padding-bottom: 1.5rem;
            }
            .content-section {
                margin-top: 2rem;
            }
            #save-definition-button {
                margin-top: 2rem;
                margin-left: 2rem;
            }
            #standard-definition-checkbox {
                margin-left: 2rem;
            }
            #standard-definition-checkbox > input {
                margin-top: 1rem;
            }
            .card {
                margin-bottom: 2rem;
                border-width: 0.1rem;
                border-color: black;
            }
            .card-header {
                background-color:rgb(179, 179, 179);
                font-size: 1.5rem;
                font-weight: bold;
            }
            .card-body {
                background-color: rgb(230, 230, 230);
            }
            #move-right {
                margin-left: 2rem;
            }
            .content-section {
                border-width: 0.1rem;
                border-color: black;
            }

        </style>


        <script>

            $(document).ready(function(){

                // Save min control signal into set point read only field
                $('#local_sensor_min_control_signal').on('change', function() {
                    $('#local_sensor_set_point').val(this.value);
                });

                // --START-- handle checkboxes
                $('#digital_in_2').on('change', function() {
                    if (this.checked){
                        $("#digital-in-2-content").show();
                    }
                    else {
                        $("#digital-in-2-content").hide();
                    }
                });

                
                $('#external_analogue_signal').on('change', function() {
                    if (this.checked){
                        $("#external-analogue-signal-content").show();
                    }
                    else {
                        $("#external-analogue-signal-content").hide();
                    }
                });
                // --END-- handle checkboxes


                $('#function').on('change', function() {
                    if (this.value == "Set speed override"){
                        $("#set-speed-override-content").show();
                    }
                    else{
                        $("#set-speed-override-content").hide();
                    }
                });
                
                $('#digital_modbus_matching_controller').on('change', function() {
                    if (this.value == "BMS Control") {
                        $("#aviator-control-content").hide();
                    }
                    else {
                        $("#aviator-control-content").show();
                    }
                    
                });

                $('#sensors_count').on('change', function() {

                    sensor_1_type = $('#sensor1_type').val()
                    sensor_2_type = $('#sensor2_type').val()

                    if (this.value == 0) {
                        $("#sensor_1_type_dropdown").hide();
                        $("#sensor_2_type_dropdown").hide();

                        $("#sensors1_type_lpt_end").hide();
                        $("#sensors1_type_lpt_tco").hide();
                        $("#sensors1_type_other").hide();

                        $("#sensors1_type_lpt_end").hide();
                        $("#sensors1_type_lpt_tco").hide();
                        $("#sensors1_type_other").hide();

                        $("#sensors1_type_lpt_end").hide();
                        $("#sensors1_type_lpt_tco").hide();
                        $("#sensors1_type_other").hide();

                        $("#sensors2_type_lpt_end").hide();
                        $("#sensors2_type_lpt_tco").hide();
                        $("#sensors2_type_other").hide();

                        $("#sensors2_type_lpt_end").hide();
                        $("#sensors2_type_lpt_tco").hide();
                        $("#sensors2_type_other").hide();

                        $("#sensors2_type_lpt_end").hide();
                        $("#sensors2_type_lpt_tco").hide();
                        $("#sensors2_type_other").hide();
                    }
                    if (this.value == 1) {
                        $("#sensor_1_type_dropdown").show();
                        $("#sensor_2_type_dropdown").hide();
                        
                        switch(sensor_1_type) {
                            case 'LPT-END':
                                $("#sensors1_type_lpt_end").show();
                                $("#sensors1_type_lpt_tco").hide();
                                $("#sensors1_type_other").hide();
                                break;
                            case 'LPT-TCO':
                                $("#sensors1_type_lpt_end").hide();
                                $("#sensors1_type_lpt_tco").show();
                                $("#sensors1_type_other").hide();
                                break;
                            case 'OTHER':
                                $("#sensors1_type_lpt_end").hide();
                                $("#sensors1_type_lpt_tco").hide();
                                $("#sensors1_type_other").show();
                                break;
                        }

                        $("#sensors2_type_lpt_end").hide();
                        $("#sensors2_type_lpt_tco").hide();
                        $("#sensors2_type_other").hide();

                        $("#sensors2_type_lpt_end").hide();
                        $("#sensors2_type_lpt_tco").hide();
                        $("#sensors2_type_other").hide();

                        $("#sensors2_type_lpt_end").hide();
                        $("#sensors2_type_lpt_tco").hide();
                        $("#sensors2_type_other").hide();

                    }

                    if (this.value == 2) {

                        $("#sensor_1_type_dropdown").show();
                        $("#sensor_2_type_dropdown").show();

                        switch(sensor_1_type) {
                            case 'LPT-END':
                                $("#sensors1_type_lpt_end").show();
                                $("#sensors1_type_lpt_tco").hide();
                                $("#sensors1_type_other").hide();
                                break;
                            case 'LPT-TCO':
                                $("#sensors1_type_lpt_end").hide();
                                $("#sensors1_type_lpt_tco").show();
                                $("#sensors1_type_other").hide();
                                break;
                            case 'OTHER':
                                $("#sensors1_type_lpt_end").hide();
                                $("#sensors1_type_lpt_tco").hide();
                                $("#sensors1_type_other").show();
                                break;
                        }

                        switch(sensor_2_type) {
                            case 'LPT-END':
                                $("#sensors2_type_lpt_end").show();
                                $("#sensors2_type_lpt_tco").hide();
                                $("#sensors2_type_other").hide();
                                break;
                            case 'LPT-TCO':
                                $("#sensors2_type_lpt_end").hide();
                                $("#sensors2_type_lpt_tco").show();
                                $("#sensors2_type_other").hide();
                                break;
                            case 'OTHER':
                                $("#sensors2_type_lpt_end").hide();
                                $("#sensors2_type_lpt_tco").hide();
                                $("#sensors2_type_other").show();
                                break;
                        }
                    }
                });



                $('#sensor1_type').on('change', function() {

                    switch(this.value) {
                        case 'LPT-END':
                            $("#sensors1_type_lpt_end").show();
                            $("#sensors1_type_lpt_tco").hide();
                            $("#sensors1_type_other").hide();
                            break;
                        case 'LPT-TCO':
                            $("#sensors1_type_lpt_end").hide();
                            $("#sensors1_type_lpt_tco").show();
                            $("#sensors1_type_other").hide();
                            break;
                        case 'OTHER':
                            $("#sensors1_type_lpt_end").hide();
                            $("#sensors1_type_lpt_tco").hide();
                            $("#sensors1_type_other").show();
                            break;
                    }
                });
                
                $('#sensor2_type').on('change', function() {
                    switch(this.value) {
                        case 'LPT-END':
                            $("#sensors2_type_lpt_end").show();
                            $("#sensors2_type_lpt_tco").hide();
                            $("#sensors2_type_other").hide();
                            break;
                        case 'LPT-TCO':
                            $("#sensors2_type_lpt_end").hide();
                            $("#sensors2_type_lpt_tco").show();
                            $("#sensors2_type_other").hide();
                            break;
                        case 'OTHER':
                            $("#sensors2_type_lpt_end").hide();
                            $("#sensors2_type_lpt_tco").hide();
                            $("#sensors2_type_other").show();
                            break;
                    }
                });


                $('#setup_type_selection').on('change', function() {
                    switch(this.value) {
                        case 'Single Speed':
                            $("#single-speed-content").show();
                            $("#digital-modbus-content").hide();
                            $("#analogue-signal-content").hide();
                            $("#local-sensor-content").hide();
                            $("#comms-content").hide();
                            break;
                        case 'Digital Modbus':
                            $("#comms-content").show();
                            $("#single-speed-content").hide();
                            $("#digital-modbus-content").show();
                            $("#analogue-signal-content").hide();
                            $("#local-sensor-content").hide();
                            break;
                        case 'Analogue Signal':
                            $("#single-speed-content").hide();
                            $("#digital-modbus-content").hide();
                            $("#analogue-signal-content").show();
                            $("#local-sensor-content").hide();
                            $("#comms-content").hide();
                            break;
                        case 'Local Sensor':
                            $("#single-speed-content").hide();
                            $("#digital-modbus-content").hide();
                            $("#analogue-signal-content").hide();
                            $("#local-sensor-content").show();
                            $("#comms-content").hide();
                            break;
                            
                    }
                });
            });
        </script>

    </head>

<form method="POST" action="">
    {{ custom_fan_definition_form.csrf_token }}
    <div class="content-section">
        
            <div class="row" id="name-fan-definition-elements">
                <div class="md-col">
                    {{ custom_fan_definition_form.definition_name.label(class="form-control-label") }}
                    {{ custom_fan_definition_form.definition_name(class="form-control form-control-lg") }}
                </div>
                <div class="md-col" id="save-definition-elements">
                    {{ custom_fan_definition_form.fan_type.label(class="form-control-label") }}
                    {{ custom_fan_definition_form.fan_type(class="form-control form-control-lg") }}
                </div>
                <div class="md-col" id="save-definition-elements">
                    {{ custom_fan_definition_form.standard_string.label(class="form-control-label") }}
                    {{ custom_fan_definition_form.standard_string(class="form-control form-control-lg") }}
                </div>
                <div class="md-col" id="save-definition-button">
                    {{ custom_fan_definition_form.save_definition_button }}
                </div>
                <div class="md-col-6" id="save-definition-button">
                    {{ custom_fan_definition_form.cancel_fan_definition }}
                </div>
            </div>
    </div>

    <div class="content-section">
        <!-- Creating tabs -->
        <ul class="nav nav-tabs" id="nav-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="nav-setup-types-tab" data-toggle="tab" href="#nav-setup-types" role="tab" aria-controls="setup-types" aria-selected="true">Setup Types</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="nav-sensor-setup-tab" data-toggle="tab" href="#nav-sensor-setup" role="tab" aria-controls="sensor-setup" aria-selected="false">Sensor Setup</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="nav-special-functions-tab" data-toggle="tab" href="#nav-special-functions" role="tab" aria-controls="special-functions" aria-selected="false">Special Functions</a>
            </li>
        </ul>

        <!-- Content inside of each tab begins here -->
        <div class="tab-content">


            <!-- START Setup Types Tab -->
            <div class="tab-pane show active" id="nav-setup-types" role="tabpanel" aria-labelledby="nav-setup-types-tab">
                <!-- Make a dropdown button, if something is selected, use jinja to display appropriate fields -->
                <div class="setup-type-dropdown">       
                    {{ custom_fan_definition_form.setup_type_selection }}
                </div>

                <div id="single-speed-content">
                    
                    <div class="form-group col-md-6">
                        {{ custom_fan_definition_form.single_speed.label(class="form-control-label") }}

                        {% if custom_fan_definition_form.single_speed.errors %}
                            {{ custom_fan_definition_form.single_speed(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in custom_fan_definition_form.single_speed.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ custom_fan_definition_form.single_speed(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>

    
                    
                <div id="digital-modbus-content">

                    <div class="row">

                        <div class="col-md-6">

                    
                                {{ custom_fan_definition_form.digital_modbus_matching_controller.label(class="form-control-label") }}

                                {% if custom_fan_definition_form.digital_modbus_matching_controller.errors %}
                                    {{ custom_fan_definition_form.digital_modbus_matching_controller(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in custom_fan_definition_form.digital_modbus_matching_controller.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ custom_fan_definition_form.digital_modbus_matching_controller(class="form-control form-control-lg") }}
                                {% endif %}
                  
                            
                        </div>

                        <div class="col-md-6"> 
                            {{ custom_fan_definition_form.digital_modbus_zone.label(class="form-control-label") }}

                            {% if custom_fan_definition_form.digital_modbus_zone.errors %}
                                {{ custom_fan_definition_form.digital_modbus_zone(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in custom_fan_definition_form.digital_modbus_zone.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ custom_fan_definition_form.digital_modbus_zone(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                            
                    </div>
                    
                           

                    <div id="aviator-control-content">
                        <div class="row">
                            <div class="col-md-6">
                                {{ custom_fan_definition_form.digital_modbus_min_fan_rpm.label(class="form-control-label") }}
    
                                {% if custom_fan_definition_form.digital_modbus_min_fan_rpm.errors %}
                                    {{ custom_fan_definition_form.digital_modbus_min_fan_rpm(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in custom_fan_definition_form.digital_modbus_min_fan_rpm.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ custom_fan_definition_form.digital_modbus_min_fan_rpm(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="col-md-6">
                                {{ custom_fan_definition_form.digital_modbus_max_fan_rpm.label(class="form-control-label") }}
    
                                    {% if custom_fan_definition_form.digital_modbus_max_fan_rpm.errors %}
                                        {{ custom_fan_definition_form.digital_modbus_max_fan_rpm(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in custom_fan_definition_form.digital_modbus_max_fan_rpm.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ custom_fan_definition_form.digital_modbus_max_fan_rpm(class="form-control form-control-lg") }}
                                    {% endif %}
                            </div>
                        </div>

          

                    </div>

                    {% if raw_value_max_number_of_sensors == 0 %}
                    <div class="row">
                        <div class="col-md-6">

                    
                            {{ custom_fan_definition_form.select_sub_fan.label(class="form-control-label") }}

                            {% if custom_fan_definition_form.select_sub_fan.errors %}
                                {{ custom_fan_definition_form.select_sub_fan(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in custom_fan_definition_form.select_sub_fan.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ custom_fan_definition_form.select_sub_fan(class="form-control form-control-lg") }}
                            {% endif %}
              
                        
                        </div>

                    </div>
                    {% endif %}


                </div> 



                <div id="analogue-signal-content"> 

                    <div class="row">

                        <div class="col-md-6">

                            <div>
                                {{ custom_fan_definition_form.analogue_signal_control_signal.label(class="form-control-label") }}

                                {% if custom_fan_definition_form.analogue_signal_control_signal.errors %}
                                    {{ custom_fan_definition_form.analogue_signal_control_signal(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in custom_fan_definition_form.analogue_signal_control_signal.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ custom_fan_definition_form.analogue_signal_control_signal(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            
                            <div>
                                {{ custom_fan_definition_form.analogue_signal_max_speed.label(class="form-control-label") }}

                                {% if custom_fan_definition_form.analogue_signal_max_speed.errors %}
                                    {{ custom_fan_definition_form.analogue_signal_max_speed(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in custom_fan_definition_form.analogue_signal_max_speed.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ custom_fan_definition_form.analogue_signal_max_speed(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div>
                                {{ custom_fan_definition_form.analogue_signal_min_speed.label(class="form-control-label") }}

                                {% if custom_fan_definition_form.analogue_signal_min_speed.errors %}
                                    {{ custom_fan_definition_form.analogue_signal_min_speed(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in custom_fan_definition_form.analogue_signal_min_speed.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ custom_fan_definition_form.analogue_signal_min_speed(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </div> 



                <div id="local-sensor-content">

                    <div class="row">

                        <div class="col-md-6">

                            <div>
                                {{ custom_fan_definition_form.local_sensor_set_point.label(class="form-control-label") }}

                                {% if custom_fan_definition_form.local_sensor_set_point.errors %}
                                    {{ custom_fan_definition_form.local_sensor_set_point(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in custom_fan_definition_form.local_sensor_set_point.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ custom_fan_definition_form.local_sensor_set_point(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            
                            <div>
                                {{ custom_fan_definition_form.local_sensor_max_speed.label(class="form-control-label") }}

                                {% if custom_fan_definition_form.local_sensor_max_speed.errors %}
                                    {{ custom_fan_definition_form.local_sensor_max_speed(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in custom_fan_definition_form.local_sensor_max_speed.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ custom_fan_definition_form.local_sensor_max_speed(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div>
                                {{ custom_fan_definition_form.local_sensor_min_speed.label(class="form-control-label") }}

                                {% if custom_fan_definition_form.local_sensor_min_speed.errors %}
                                    {{ custom_fan_definition_form.local_sensor_min_speed(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in custom_fan_definition_form.local_sensor_min_speed.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ custom_fan_definition_form.local_sensor_min_speed(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </div> 

                        
                        <div class="col-md-6">

                            <div>
                                {{ custom_fan_definition_form.local_sensor_max_control_signal.label(class="form-control-label") }}

                                {% if custom_fan_definition_form.local_sensor_max_control_signal.errors %}
                                    {{ custom_fan_definition_form.local_sensor_max_control_signal(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in custom_fan_definition_form.local_sensor_max_control_signal.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ custom_fan_definition_form.local_sensor_max_control_signal(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            
                            <div>
                                {{ custom_fan_definition_form.local_sensor_min_control_signal.label(class="form-control-label") }}

                                {% if custom_fan_definition_form.local_sensor_min_control_signal.errors %}
                                    {{ custom_fan_definition_form.local_sensor_min_control_signal(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in custom_fan_definition_form.local_sensor_min_control_signal.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ custom_fan_definition_form.local_sensor_min_control_signal(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div>
                                {{ custom_fan_definition_form.local_sensor_sensor_logic.label(class="form-control-label") }}

                                {% if custom_fan_definition_form.local_sensor_sensor_logic.errors %}
                                    {{ custom_fan_definition_form.local_sensor_sensor_logic(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in custom_fan_definition_form.local_sensor_sensor_logic.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ custom_fan_definition_form.local_sensor_sensor_logic(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </div>




                    </div>

                </div> 


            </div>
        

            <!-- Start SENSOR SETUP -->
            <div class="tab-pane fade" id="nav-sensor-setup" role="tabpanel" aria-labelledby="nav-sensor-setup-tab"> 
                <br>
                <div class="row" id="move-right">
                    <div class="card">
                        
                        <!-- <div class="col-md-6"> -->
                            <div class="card-body">
                                <div class="col-md">
                                    {{ custom_fan_definition_form.smoke_detector.label(class="form-control-label") }}
        
                                    {% if custom_fan_definition_form.smoke_detector.errors %}
                                        {{ custom_fan_definition_form.smoke_detector(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in custom_fan_definition_form.smoke_detector.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ custom_fan_definition_form.smoke_detector(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                                <div class="col-md">
                                    {{ custom_fan_definition_form.sensors_count.label(class="form-control-label") }}
        
                                    {% if custom_fan_definition_form.sensors_count.errors %}
                                        {{ custom_fan_definition_form.sensors_count(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in custom_fan_definition_form.sensors_count.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ custom_fan_definition_form.sensors_count(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                            </div>
                                
                                
                        <!-- </div> -->

                    </div>
                    

                </div>


                <div class="row">

                    <!-- Sensor 1 Type -->
                    {% if raw_value_max_number_of_sensors > 0 %}
                    <div class="col-md-6" id="sensor_1_type_dropdown">
                        <div>
                            {{ custom_fan_definition_form.sensor1_type.label(class="form-control-label") }}

                            {% if custom_fan_definition_form.sensor1_type.errors %}
                                {{ custom_fan_definition_form.sensor1_type(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in custom_fan_definition_form.sensor1_type.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ custom_fan_definition_form.sensor1_type(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}

                    <!-- Sensor 2 Type -->
                    {% if raw_value_max_number_of_sensors > 1 %}
                        <div class="col-md-6" id="sensor_2_type_dropdown">
                            <div>
                                {{ custom_fan_definition_form.sensor2_type.label(class="form-control-label") }}

                                {% if custom_fan_definition_form.sensor2_type.errors %}
                                    {{ custom_fan_definition_form.sensor2_type(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in custom_fan_definition_form.sensor2_type.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ custom_fan_definition_form.sensor2_type(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}

                </div>




                

                    <div class="row">

                        {% if raw_value_max_number_of_sensors > 0 %}
                            <!-- SENSOR 1 COLUMN LPT END -->
                            <div class="col-md-6" id="sensors1_type_lpt_end">
                                <div>
                                    {{ custom_fan_definition_form.lpt_end_unit_of_measure.label(class="form-control-label") }}

                                    {% if custom_fan_definition_form.lpt_end_unit_of_measure.errors %}
                                        {{ custom_fan_definition_form.lpt_end_unit_of_measure(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in custom_fan_definition_form.lpt_end_unit_of_measure.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ custom_fan_definition_form.lpt_end_unit_of_measure(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>

                                <div>
                                    {{ custom_fan_definition_form.lpt_end_min_physical_value.label(class="form-control-label") }}

                                    {% if custom_fan_definition_form.lpt_end_min_physical_value.errors %}
                                        {{ custom_fan_definition_form.lpt_end_min_physical_value(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in custom_fan_definition_form.lpt_end_min_physical_value.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ custom_fan_definition_form.lpt_end_min_physical_value(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>

                                <div>
                                    {{ custom_fan_definition_form.lpt_end_max_physical_value.label(class="form-control-label") }}

                                    {% if custom_fan_definition_form.lpt_end_max_physical_value.errors %}
                                        {{ custom_fan_definition_form.lpt_end_max_physical_value(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in custom_fan_definition_form.lpt_end_max_physical_value.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ custom_fan_definition_form.lpt_end_max_physical_value(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>

                                <div>
                                    {{ custom_fan_definition_form.lpt_end_current_draw_of_sensor.label(class="form-control-label") }}

                                    {% if custom_fan_definition_form.lpt_end_current_draw_of_sensor.errors %}
                                        {{ custom_fan_definition_form.lpt_end_current_draw_of_sensor(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in custom_fan_definition_form.lpt_end_current_draw_of_sensor.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ custom_fan_definition_form.lpt_end_current_draw_of_sensor(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>

                                <div>
                                    {{ custom_fan_definition_form.lpt_end_signal_type.label(class="form-control-label") }}

                                    {% if custom_fan_definition_form.lpt_end_signal_type.errors %}
                                        {{ custom_fan_definition_form.lpt_end_signal_type(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in custom_fan_definition_form.lpt_end_signal_type.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ custom_fan_definition_form.lpt_end_signal_type(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                            </div>




                            <!-- SENSOR 1 COLUMN LPT TCO -->
                            <div class="col-md-6" id="sensors1_type_lpt_tco">

                                <div>
                                    {{ custom_fan_definition_form.lpt_tco_unit_of_measure.label(class="form-control-label") }}

                                    {% if custom_fan_definition_form.lpt_tco_unit_of_measure.errors %}
                                        {{ custom_fan_definition_form.lpt_tco_unit_of_measure(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in custom_fan_definition_form.lpt_tco_unit_of_measure.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ custom_fan_definition_form.lpt_tco_unit_of_measure(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>

                                <div>
                                    {{ custom_fan_definition_form.lpt_tco_min_physical_value.label(class="form-control-label") }}

                                    {% if custom_fan_definition_form.lpt_tco_min_physical_value.errors %}
                                        {{ custom_fan_definition_form.lpt_tco_min_physical_value(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in custom_fan_definition_form.lpt_tco_min_physical_value.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ custom_fan_definition_form.lpt_tco_min_physical_value(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>

                                <div>
                                    {{ custom_fan_definition_form.lpt_tco_max_physical_value.label(class="form-control-label") }}

                                    {% if custom_fan_definition_form.lpt_tco_max_physical_value.errors %}
                                        {{ custom_fan_definition_form.lpt_tco_max_physical_value(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in custom_fan_definition_form.lpt_tco_max_physical_value.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ custom_fan_definition_form.lpt_tco_max_physical_value(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>

                                <div>
                                    {{ custom_fan_definition_form.lpt_tco_current_draw_of_sensor.label(class="form-control-label") }}

                                    {% if custom_fan_definition_form.lpt_tco_current_draw_of_sensor.errors %}
                                        {{ custom_fan_definition_form.lpt_tco_current_draw_of_sensor(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in custom_fan_definition_form.lpt_tco_current_draw_of_sensor.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ custom_fan_definition_form.lpt_tco_current_draw_of_sensor(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>

                                <div>
                                    {{ custom_fan_definition_form.lpt_tco_signal_type.label(class="form-control-label") }}

                                    {% if custom_fan_definition_form.lpt_tco_signal_type.errors %}
                                        {{ custom_fan_definition_form.lpt_tco_signal_type(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in custom_fan_definition_form.lpt_tco_signal_type.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ custom_fan_definition_form.lpt_tco_signal_type(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                            </div>



                            <!-- SENSOR 1 OTHER COLUMN -->
                            <div class="col-md-6" id="sensors1_type_other">
                                
                                <div>
                                    {{ custom_fan_definition_form.other_unit_of_measure.label(class="form-control-label") }}

                                    {% if custom_fan_definition_form.other_unit_of_measure.errors %}
                                        {{ custom_fan_definition_form.other_unit_of_measure(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in custom_fan_definition_form.other_unit_of_measure.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ custom_fan_definition_form.other_unit_of_measure(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>

                                <div>
                                    {{ custom_fan_definition_form.other_min_physical_value.label(class="form-control-label") }}

                                    {% if custom_fan_definition_form.other_min_physical_value.errors %}
                                        {{ custom_fan_definition_form.other_min_physical_value(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in custom_fan_definition_form.other_min_physical_value.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ custom_fan_definition_form.other_min_physical_value(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>

                                <div>
                                    {{ custom_fan_definition_form.other_max_physical_value.label(class="form-control-label") }}

                                    {% if custom_fan_definition_form.other_max_physical_value.errors %}
                                        {{ custom_fan_definition_form.other_max_physical_value(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in custom_fan_definition_form.other_max_physical_value.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ custom_fan_definition_form.other_max_physical_value(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>

                                <div>
                                    {{ custom_fan_definition_form.other_current_draw_of_sensor.label(class="form-control-label") }}

                                    {% if custom_fan_definition_form.other_current_draw_of_sensor.errors %}
                                        {{ custom_fan_definition_form.other_current_draw_of_sensor(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in custom_fan_definition_form.other_current_draw_of_sensor.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ custom_fan_definition_form.other_current_draw_of_sensor(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>

                                <div>
                                    {{ custom_fan_definition_form.other_signal_type.label(class="form-control-label") }}

                                    {% if custom_fan_definition_form.other_signal_type.errors %}
                                        {{ custom_fan_definition_form.other_signal_type(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in custom_fan_definition_form.other_signal_type.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ custom_fan_definition_form.other_signal_type(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>


                            </div> 
                        {% endif %}


                        {% if raw_value_max_number_of_sensors > 1 %}
                            <!-- SENSOR 2 COLUMN LPT END-->
                            <div class="col-md-6" id="sensors2_type_lpt_end">
                                <div>
                                    {{ custom_fan_definition_form.lpt_end_unit_of_measure.label(class="form-control-label") }}

                                    {% if custom_fan_definition_form.lpt_end_unit_of_measure.errors %}
                                        {{ custom_fan_definition_form.lpt_end_unit_of_measure(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in custom_fan_definition_form.lpt_end_unit_of_measure.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ custom_fan_definition_form.lpt_end_unit_of_measure(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>

                                <div>
                                    {{ custom_fan_definition_form.lpt_end_min_physical_value.label(class="form-control-label") }}

                                    {% if custom_fan_definition_form.lpt_end_min_physical_value.errors %}
                                        {{ custom_fan_definition_form.lpt_end_min_physical_value(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in custom_fan_definition_form.lpt_end_min_physical_value.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ custom_fan_definition_form.lpt_end_min_physical_value(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>

                                <div>
                                    {{ custom_fan_definition_form.lpt_end_max_physical_value.label(class="form-control-label") }}

                                    {% if custom_fan_definition_form.lpt_end_max_physical_value.errors %}
                                        {{ custom_fan_definition_form.lpt_end_max_physical_value(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in custom_fan_definition_form.lpt_end_max_physical_value.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ custom_fan_definition_form.lpt_end_max_physical_value(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>

                                <div>
                                    {{ custom_fan_definition_form.lpt_end_current_draw_of_sensor.label(class="form-control-label") }}

                                    {% if custom_fan_definition_form.lpt_end_current_draw_of_sensor.errors %}
                                        {{ custom_fan_definition_form.lpt_end_current_draw_of_sensor(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in custom_fan_definition_form.lpt_end_current_draw_of_sensor.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ custom_fan_definition_form.lpt_end_current_draw_of_sensor(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>

                                <div>
                                    {{ custom_fan_definition_form.lpt_end_signal_type.label(class="form-control-label") }}

                                    {% if custom_fan_definition_form.lpt_end_signal_type.errors %}
                                        {{ custom_fan_definition_form.lpt_end_signal_type(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in custom_fan_definition_form.lpt_end_signal_type.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ custom_fan_definition_form.lpt_end_signal_type(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                            </div>


                            <!-- SENSOR 2 COLUMN LPT TCO-->
                            <div class="col-md-6" id="sensors2_type_lpt_tco">

                                <div>
                                    {{ custom_fan_definition_form.lpt_tco_unit_of_measure.label(class="form-control-label") }}

                                    {% if custom_fan_definition_form.lpt_tco_unit_of_measure.errors %}
                                        {{ custom_fan_definition_form.lpt_tco_unit_of_measure(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in custom_fan_definition_form.lpt_tco_unit_of_measure.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ custom_fan_definition_form.lpt_tco_unit_of_measure(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>

                                <div>
                                    {{ custom_fan_definition_form.lpt_tco_min_physical_value.label(class="form-control-label") }}

                                    {% if custom_fan_definition_form.lpt_tco_min_physical_value.errors %}
                                        {{ custom_fan_definition_form.lpt_tco_min_physical_value(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in custom_fan_definition_form.lpt_tco_min_physical_value.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ custom_fan_definition_form.lpt_tco_min_physical_value(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>

                                <div>
                                    {{ custom_fan_definition_form.lpt_tco_max_physical_value.label(class="form-control-label") }}

                                    {% if custom_fan_definition_form.lpt_tco_max_physical_value.errors %}
                                        {{ custom_fan_definition_form.lpt_tco_max_physical_value(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in custom_fan_definition_form.lpt_tco_max_physical_value.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ custom_fan_definition_form.lpt_tco_max_physical_value(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>

                                <div>
                                    {{ custom_fan_definition_form.lpt_tco_current_draw_of_sensor.label(class="form-control-label") }}

                                    {% if custom_fan_definition_form.lpt_tco_current_draw_of_sensor.errors %}
                                        {{ custom_fan_definition_form.lpt_tco_current_draw_of_sensor(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in custom_fan_definition_form.lpt_tco_current_draw_of_sensor.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ custom_fan_definition_form.lpt_tco_current_draw_of_sensor(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>

                                <div>
                                    {{ custom_fan_definition_form.lpt_tco_signal_type.label(class="form-control-label") }}

                                    {% if custom_fan_definition_form.lpt_tco_signal_type.errors %}
                                        {{ custom_fan_definition_form.lpt_tco_signal_type(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in custom_fan_definition_form.lpt_tco_signal_type.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ custom_fan_definition_form.lpt_tco_signal_type(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                            </div>



                            <!-- SENSOR 2 OTHER COLUMN -->
                            <div class="col-md-6" id="sensors2_type_other">
                                
                                <div>
                                    {{ custom_fan_definition_form.other2_unit_of_measure.label(class="form-control-label") }}

                                    {% if custom_fan_definition_form.other2_unit_of_measure.errors %}
                                        {{ custom_fan_definition_form.other2_unit_of_measure(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in custom_fan_definition_form.other2_unit_of_measure.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ custom_fan_definition_form.other2_unit_of_measure(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>

                                <div>
                                    {{ custom_fan_definition_form.other2_min_physical_value.label(class="form-control-label") }}

                                    {% if custom_fan_definition_form.other2_min_physical_value.errors %}
                                        {{ custom_fan_definition_form.other2_min_physical_value(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in custom_fan_definition_form.other2_min_physical_value.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ custom_fan_definition_form.other2_min_physical_value(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>

                                <div>
                                    {{ custom_fan_definition_form.other2_max_physical_value.label(class="form-control-label") }}

                                    {% if custom_fan_definition_form.other2_max_physical_value.errors %}
                                        {{ custom_fan_definition_form.other2_max_physical_value(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in custom_fan_definition_form.other2_max_physical_value.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ custom_fan_definition_form.other2_max_physical_value(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>

                                <div>
                                    {{ custom_fan_definition_form.other2_current_draw_of_sensor.label(class="form-control-label") }}

                                    {% if custom_fan_definition_form.other2_current_draw_of_sensor.errors %}
                                        {{ custom_fan_definition_form.other2_current_draw_of_sensor(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in custom_fan_definition_form.other2_current_draw_of_sensor.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ custom_fan_definition_form.other2_current_draw_of_sensor(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>

                                <div>
                                    {{ custom_fan_definition_form.other2_signal_type.label(class="form-control-label") }}

                                    {% if custom_fan_definition_form.other2_signal_type.errors %}
                                        {{ custom_fan_definition_form.other2_signal_type(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in custom_fan_definition_form.other2_signal_type.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ custom_fan_definition_form.other2_signal_type(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>


                            </div> 
                        {% endif %}

                        
                    </div>

            </div>
            

            <!-- SPECIAL FUNCTIONS -->
            <div class="tab-pane fade" id="nav-special-functions" role="tabpanel" aria-labelledby="nav-special-functions-tab">
                
                <div class="setup-type-dropdown">

                    {% if raw_value_no_digit_in > 0 %}
                        <!-- Digital in 2 -->
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-md-6">
                                        {{ custom_fan_definition_form.digital_in_2.label(class="form-control-label") }}
                                        {{ custom_fan_definition_form.digital_in_2(class="form-control form-control-lg") }}    
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div id="digital-in-2-content">
                                    <div class="content-section">
                                        {{ custom_fan_definition_form.logic.label(class="form-control-label") }}
                                        {{ custom_fan_definition_form.logic(class="form-control form-control-lg") }}
        
                                        {{ custom_fan_definition_form.function.label(class="form-control-label") }}
                                        {{ custom_fan_definition_form.function(class="form-control form-control-lg") }}
                                        <div id="set-speed-override-content">
                                            <div class="content-section">
                                                {{ custom_fan_definition_form.function_speed_override.label(class="form-control-label") }}
                                                {{ custom_fan_definition_form.function_speed_override(class="form-control form-control-lg") }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}


                    <!-- External Analogue Signal -->
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-6">
                                    {{ custom_fan_definition_form.external_analogue_signal.label(class="form-control-label") }}
                                    {{ custom_fan_definition_form.external_analogue_signal(class="form-control form-control-lg") }}
                                </div>
                            </div>
                            
                        </div>
                        <div class="card-body">
                            <div id = "external-analogue-signal-content">
                                {{ custom_fan_definition_form.external_analogue_signal_selection.label(class="form-control-label") }}
                                {{ custom_fan_definition_form.external_analogue_signal_selection(class="form-control form-control-lg") }}
                            </div>
                            
                        </div>
                    </div>

                    
                    <div class="card">
                        <div class="card-header">
                            {{ custom_fan_definition_form.relay_polarity.label(class="form-control-label") }}
                        </div>
                        <div class="card-body">
                            {{ custom_fan_definition_form.relay_polarity(class="form-control form-control-lg") }}
                        </div>
                    </div>

                    <div id="comms-content">
                        <div class="card">
                            <div class="card-header">
                                Comms
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        {{ custom_fan_definition_form.comms_timeout_duration.label(class="form-control-label") }}
                                        {{ custom_fan_definition_form.comms_timeout_duration(class="form-control form-control-lg") }}

                                        {{ custom_fan_definition_form.comms_timeout_speed.label(class="form-control-label") }}
                                        {{ custom_fan_definition_form.comms_timeout_speed(class="form-control form-control-lg") }}

                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>

                    
                </div>


    
            </div>

        </div>

    </div>

</form>

{{ bootstrap.load_js() }}
{% endblock %}