{% extends "layout.html" %}
{% from 'bootstrap/form.html' import render_form, render_field, render_form_row %}

{% block content %}

    <head>
        <script>
            function makeChange() {
                var static_path = "/create_fieldbus_sensor_definition/{{ sales_order_id }}/" 
                var route_path = $("#sensor_type").val();
                window.location.href = static_path + route_path
            }
    
        </script>
        <style>
            #nav-tab {
                font-size: 1rem;
            }

            #analogue-signal-content, #single-speed-content, #local-sensor-content {
                display:none;
            }

            #digital-in-2-content, #external-analogue-signal-content, #set-speed-override-content {
                display:none;
            }

            #sensors1_type_lpt_end, #sensors2_type_lpt_end, #sensors1_type_other, #sensors2_type_other {
                display:none;
            }

            #setup-type-dropdown {
                padding-top: 1.5rem;
                padding-bottom: 1.5rem;
            }
            .content-section {
                margin-top: 2rem;
            }
            #save-definition-button {
                margin-top: 2rem;
                margin-left: 2rem;
            }
            #standard-definition-checkbox {
                margin-left: 2rem;
            }
            #standard-definition-checkbox > input {
                margin-top: 1rem;
            }
            .card {
                margin-bottom: 2rem;
                border-width: 0.1rem;
                border-color: black;
            }
            .card-header {
                background-color:rgb(179, 179, 179);
                font-size: 1.5rem;
                font-weight: bold;
            }
            .card-body {
                background-color: rgb(230, 230, 230);
            }
            #move-right {
                padding-right: 15px;
            }
            .content-section {
                border-width: 0.1rem;
                border-color: black;
            }
            #footer {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 2.5rem;  
            }

        </style>
    </head>



    <div class="container">

        <br> 
        
        <div class="row">
       
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-10">
                        <h3>Create Fieldbus Sensor Definition</h3>
                    </div>
                    <div class="col-md-2">
                        <form method="POST" action="">
                            <input type='submit' class="btn btn-default btn-sm border-danger ml-2 mr-2 mb-2" name='navigate_sales_order_status_button' value="Return"></input>
                        </form>
                        
                    </div>
                </div>
                
                
                <!-- end of first card -->
                <form method="POST" action="">
                    {{ custom_fieldbus_sensor_definition_form.csrf_token }}
                    <div class="card">
                        <div class="card-header">
                            Select Sensor 
                        </div>
                        <div class="card-body">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    {{ custom_fieldbus_sensor_definition_form.sensor_type.label(class="form-control-label") }}
                                    <div onchange="makeChange()">
                                        {{ custom_fieldbus_sensor_definition_form.sensor_type(class="form-control form-control-lg") }}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                

                    <div class="card">

                        <div class="card-header">
                            Definition 
                        </div>
            
                        <div class="card-body">
            
                            <!-- top row -->
                            <div class="row align-items-center no-gutters">
                                <div class="col-md-3">
                
                                    {{ custom_fieldbus_sensor_definition_form.definition_name.label(class="form-control-label") }}
                
                                    {% if custom_fieldbus_sensor_definition_form.definition_name.errors %}
                                        {{ custom_fieldbus_sensor_definition_form.definition_name(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in custom_fieldbus_sensor_definition_form.definition_name.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ custom_fieldbus_sensor_definition_form.definition_name(class="form-control form-control-lg") }}
                                    {% endif %}
                
                                </div>
                
                                <div class="col-md-3">
                
                                    {{ custom_fieldbus_sensor_definition_form.standard_boolean.label(class="form-control-label") }}
                
                                    {% if custom_fieldbus_sensor_definition_form.standard_boolean.errors %}
                                        {{ custom_fieldbus_sensor_definition_form.standard_boolean(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in custom_fieldbus_sensor_definition_form.standard_boolean.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ custom_fieldbus_sensor_definition_form.standard_boolean(class="form-control form-control-lg") }}
                                    {% endif %}
                
                                </div>
                            </div>

                            
                                {% for jinja_variables in jinja_variables_list %}
                                    <div class="row">
                                    {% for jinja_variable in jinja_variables %}
                                        <div class="col-md-3">
                                            {{ render_field(custom_fieldbus_sensor_definition_form[jinja_variable], class="form-control form-control-lg") }}
                                        </div>
                                        
                                    {% endfor %}
                                    </div>
                                {% endfor %}


                            <div class="row">
                                <div class="col-md-3">
                                    {{ custom_fieldbus_sensor_definition_form.submit_button(class="btn btn btn-primary") }}
                                </div>

                            </div>
                            <br>
                
                        </div>
        
                        
            
    
    
    
                        
                        
                    </div>

                </form>
                
        
        
                    
        
        



                    
            </div>

            <div class="col-md-3">
                {% if fb_sensor_definitions_list %}
                    {% for sensor_data in fb_sensor_definitions_list %}
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-md-7">
                                        {{ sensor_data[1] }}
                                    </div>
                                    <div class="col-md-5">
                                        <form method="POST" action="">
                                            <input type='submit' class="btn btn-danger btn-sm border-dark" name='clear_button_{{ sensor_data[0] }}' value="Remove"></input>
                                        </form>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    Min Demand: {{ sensor_data[3] }}
                                </div>
                                <div class="row">
                                    Max Demand: {{ sensor_data[4] }}
                                </div>
                                <div class="row">
                                    Alarm Threshold: {{ sensor_data[2] }}
                                </div>
                                
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

    </div>


{% endblock %}