{% extends "layout.html" %}
{% block content %}

    <head>
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>

    <script>
        function makeChange() {
            var static_path = "/redirect_create_analog_sensor_definition/{{ sales_order_id }}/" 
            var route_path = $("#sensor_type").val();
            window.location.href = static_path + route_path
        }

    </script>

        <style>
            #nav-tab {
                font-size: 1rem;
            }

            #analogue-signal-content, #single-speed-content, #local-sensor-content {
                display:none;
            }

            #digital-in-2-content, #external-analogue-signal-content, #set-speed-override-content {
                display:none;
            }

            #sensors1_type_lpt_end, #sensors2_type_lpt_end, #sensors1_type_other, #sensors2_type_other {
                display:none;
            }

            #setup-type-dropdown {
                padding-top: 1.5rem;
                padding-bottom: 1.5rem;
            }
            .content-section {
                margin-top: 2rem;
            }
            #save-definition-button {
                margin-top: 2rem;
                margin-left: 2rem;
            }
            #standard-definition-checkbox {
                margin-left: 2rem;
            }
            #standard-definition-checkbox > input {
                margin-top: 1rem;
            }
            .card {
                margin-bottom: 2rem;
                border-width: 0.1rem;
                border-color: black;
            }
            .card-header {
                background-color:rgb(179, 179, 179);
                font-size: 1.5rem;
                font-weight: bold;
            }
            .card-body {
                background-color: rgb(230, 230, 230);
            }
            #move-right {
                padding-right: 15px;
            }
            .content-section {
                border-width: 0.1rem;
                border-color: black;
            }
            #footer {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 2.5rem;  
            }

        </style>
    </head>



    <div class="container">

        <br> 
        
        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-10">

                <div class="card">

                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-10">
                                <h1> Create Analog Sensor Definition </h1>
                            </div>
                            <div class="col-md-2">
                                <form method="POST" action="">
                                    <input type='submit' class="btn btn-danger btn-sm border-dark ml-2 mr-2 mb-2" name='navigate_sales_order_status_button' value="Return"></input>
                                </form>
                                
                            </div>
                        </div>
                        
                    </div>
                    <form method="POST" action="">
                        {{ custom_analog_sensor_definition_form.csrf_token }}
                            
                        <div class="card-body">
                            
                            <!-- top row -->
                        <div class="row no-gutters">
                            <div class="col-md-4">
            
                                {{ custom_analog_sensor_definition_form.definition_name.label(class="form-control-label") }}
            
                                {% if custom_analog_sensor_definition_form.definition_name.errors %}
                                    {{ custom_analog_sensor_definition_form.definition_name(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in custom_analog_sensor_definition_form.definition_name.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ custom_analog_sensor_definition_form.definition_name(class="form-control form-control-lg") }}
                                {% endif %}
            
                            </div>
                            <div class="col-md-8">
                                <div class="row no-gutters">

                                    <div class="col-md-4">
                                        {{ custom_analog_sensor_definition_form.sensor_type.label(class="form-control-label") }}
                    
                                        {% if custom_analog_sensor_definition_form.sensor_type.errors %}
                                            {{ custom_analog_sensor_definition_form.sensor_type(class="form-control form-control-lg is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in custom_analog_sensor_definition_form.sensor_type.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            <div onchange="makeChange()">
                                                {{ custom_analog_sensor_definition_form.sensor_type(class="form-control form-control-lg") }}
                                            </div>
                                           
                                        {% endif %}
                    
                                    </div>
                                    <div class="col">
                    
                                        {{ custom_analog_sensor_definition_form.scaling_min.label(class="form-control-label") }}
                    
                                        {% if custom_analog_sensor_definition_form.scaling_min.errors %}
                                            {{ custom_analog_sensor_definition_form.scaling_min(class="form-control form-control-lg is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in custom_analog_sensor_definition_form.scaling_min.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ custom_analog_sensor_definition_form.scaling_min(class="form-control form-control-lg") }}
                                        {% endif %}
                    
                                    </div>
                    
                                    <div class="col">
                    
                                        {{ custom_analog_sensor_definition_form.scaling_max.label(class="form-control-label") }}
                    
                                        {% if custom_analog_sensor_definition_form.scaling_max.errors %}
                                            {{ custom_analog_sensor_definition_form.scaling_max(class="form-control form-control-lg is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in custom_analog_sensor_definition_form.scaling_max.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ custom_analog_sensor_definition_form.scaling_max(class="form-control form-control-lg") }}
                                        {% endif %}
                    
                                    </div>
        
                                    <div class="col">
                    
                                        {{ custom_analog_sensor_definition_form.alarm_threshold.label(class="form-control-label") }}
                    
                                        {% if custom_analog_sensor_definition_form.alarm_threshold.errors %}
                                            {{ custom_analog_sensor_definition_form.alarm_threshold(class="form-control form-control-lg is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in custom_analog_sensor_definition_form.alarm_threshold.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ custom_analog_sensor_definition_form.alarm_threshold(class="form-control form-control-lg") }}
                                        {% endif %}
                    
                                    </div>

                                </div>
                            </div>
                            
                           
            
                        </div>
            
                        <br>
            
                        <!-- 2nd row -->
                        <div class = "row">
            
                            <div class="col-md-3">
            
                                {{ custom_analog_sensor_definition_form.standard_boolean.label(class="form-control-label") }}
            
                                {% if custom_analog_sensor_definition_form.standard_boolean.errors %}
                                    {{ custom_analog_sensor_definition_form.standard_boolean(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in standard_boolean.sensor_type.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ custom_analog_sensor_definition_form.standard_boolean(class="form-control") }}
                                {% endif %}
            
                            </div>
                            <div class="col-md-2" id="save-definition-button">
                                {{ custom_analog_sensor_definition_form.submit_button(class="btn btn btn-primary") }}
                            </div>
                        </div>
            
                        </div>
            
                    </form>
        
                    
        
        
                </div>

            </div>
        </div>


        

    </div>

    


{% endblock %}