{% extends "layout.html" %}
{% block content %}
    <div class="content-section">

        <legend class="border-bottom mb-4">Controllers for Sales Order: {{ sales_order_number }}</legend>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Row #</th>
                    <th scope="col">Job Number</th>
                    <th scope="col">Entered On</th>
                    <th scope="col">Fan 1</th>
                    <th scope="col">Programmed</th>
                </tr>
            </thead>
            <tbody>
                {% for row_index, job_number, entered_on, fan_1, programmed in controller_data%}
                    <tr>
                        <th scope="row">{{ row_index }}</th>       
                        <td>{{ job_number }}</td>
                        <td>{{ entered_on }}</td>
                        <td>{{ fan_1 }}</td>
                        <td>{{ programmed }}</td>
                    </tr>

                {% endfor %}       
            </tbody>

        </table>
               
      
    </div>
{% endblock %}