{% extends "layout.html" %}
{% block content %}
    <div class="content-section">

        <legend class="border-bottom mb-4">Fans for Sales Order: {{ sales_order_number }}</legend>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Row #</th>
                    <th scope="col">Job Number</th>
                    <th scope="col">Address</th>
                    <th scope="col">Number of Sensors</th>
                    <th scope="col">Command Value</th>
                    <th scope="col">Max Speed</th>
                    <th scope="col">Fan Type</th>
                </tr>
            </thead>
            <tbody>
                {% for row_index, job_number, address, number_of_sensors, command_value, max_speed, fan_type in fan_data %}
                    <tr>
                        <th scope="row">{{ row_index }}</th>       
                        <td>{{ job_number }}</td>
                        <td>{{ address }}</td>
                        <td>{{ number_of_sensors }}</td>
                        <td>{{ command_value }}</td>
                        <td>{{ max_speed }}</td>
                        <td>{{ fan_type }}</td>
                    </tr>

                {% endfor %}       
            </tbody>

        </table>
               
      
    </div>
{% endblock %}