{% extends "layout.html" %}
{% from 'bootstrap/form.html' import render_form, render_field, render_form_row %}

{% block content %}

    <head>


        <style>
            .draggable{ 
                width: 100px; 
                height: 125px; 
                padding: 0.5em; 
                float: left; 
                margin: 10px 10px 10px 0; 
                border: 1px solid black;
            }

            .droppable{ 
                width: 150px; 
                height: 150px; 
                padding: 0.5em; 
                float: left; 
                margin: 10px; 
                border: 1px solid black;
            }

            #controller-image {
                width: 50%;
                height: 50%;
            }
            
            .btn-group-vertical > input {
                margin-bottom:10px;
                border-radius:3px !important;
            }
            .selected-controller-button {
                padding-top: 50%;
                padding-bottom: 50%;
            }
            .selected-expansionboard-button{
                padding-top: 1rem;
                padding-bottom: 1rem;
            }
            .btn-group-vertical {
                justify-content: start !important;
            }
            .border {
                border: 5px solid black!important;
            }
            .sensor-boxes {
                font-size: 0.5;
            }
            .card {
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
            .form-control-lg {
                font-size: 1rem;
                padding: 0rem 0rem;
            }
            .y1-y4-card-body  {
                padding: 0.25rem;
            }
            .form-group {
                margin-bottom: 0rem;
            }

        </style>

        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <script>
            

            $( function() { 
                var u1_u4_availability_list =['{{ u1_u4_availability_boolean_list[0] }}', '{{ u1_u4_availability_boolean_list[1] }}',
                '{{ u1_u4_availability_boolean_list[2] }}', '{{ u1_u4_availability_boolean_list[3] }}'];

                let available_sensor_count = $('#available_sensor_count').val();
                let list_assigned_sensors_jvar = JSON.parse('{{list_assigned_sensors | tojson}}');
                let list_available_senors_ids = JSON.parse('{{ list_available_senors_ids | tojson }}')


                for (i=0; i<available_sensor_count; i++){
                    $( "#" + list_available_senors_ids[i]).draggable({ revert: "invalid" });
                }
                
                console.log('u1_u4_availability_list')
                console.log(u1_u4_availability_list)
                for (i=1; i<=4; i++){
                    if (u1_u4_availability_list[i-1] == 'True'){

                        $( "#u" + i + "_analog_sensor_id").droppable({
                            classes: {
                            "ui-droppable-active": "ui-state-active",
                            "ui-droppable-hover": "ui-state-hover"
                            },
                            drop: function( event, ui ) {
                                $( this )
                                    .css("background-color", "#28a745")
                                    .addClass( "ui-state-highlight" )
                                    .find( "p" )
                                    // .html("<strong>Saved</strong>" );
                                // redirect
                                var controllerPort = $(this).attr('id') //
                                console.log('controllerPort: ' + controllerPort)

                                var sensor_id = $(ui.draggable).attr('id');
                                console.log('sensor_id: ' + sensor_id) 

                                var static_path = "/redirectanalogsensorassignment/{{ sales_order_id }}/{{ current_controller }}/"
                                window.location.href = static_path + controllerPort + "/" + sensor_id
                            }
                        });
                        
                        

                    }
                    else {
                        let temp_var = u1_u4_availability_list[i-1] ;

                        let var1 = list_assigned_sensors_jvar[temp_var]

                        const arrayObject = Object.values(var1)

                        $("#u" + i + "_analog_sensor_id").html( "<strong>U" + i + "</strong><br />" +
                            "<strong>Sensor: " + arrayObject[0][0] + "</strong><br />" + 
                            arrayObject[0][1]
                            )
                            .css("background-color", "#28a745")


                    }

                }

            } );
        </script>

    </head>

    <body>
        <div class="row justify-content-center">

            <h1>Analog Inputs/Outputs</h1>
            
        </div>

        <div class="content-section">
            

            <div class="row">

                <!-- CONTROLLERS ON LEFT SIDE OF PAGE -->
                <div class="col-md-2">
                    <form method="POST" action="">
                        <div class="card">
                            <div class="card-header">
                                Controllers
                            </div>
                            <div class="card-body">
                                <div class="btn-group-vertical">
                                    {% for controller in range(1, sales_order_controller_quantity+1) %}
                                            {% if controller == current_controller  -%}
                                                <input type='submit' class="btn 
                                                    {% if controller in list_index_of_finished_controllers  -%}
                                                    btn-success 
                                                    {% else -%}
                                                    btn-secondary 
                                                    {%- endif %} 
                                                    selected-controller-button border border-dark" name='controller{{controller}}' value="{{ tag_prefix }} {{ controller }}"></input>
                                            {% elif controller in list_index_of_finished_controllers -%}
                                                <input type='submit' class="btn btn-success btn-sm border-dark" name='controller{{controller}}' value="{{ tag_prefix }} {{ controller }}"></input>
                                            {% else -%}
                                                <input type='submit' class="btn btn-secondary btn-sm border-dark" name='controller{{controller}}' value="{{ tag_prefix }} {{ controller }}"></input>
                                            {%- endif %} 
                                    {% endfor %}                                  
                                    <!-- navigate to program controller button -->
                
                                            <button type='submit' class="btn btn-primary btn-sm border-dark" name='navigate_sales_order_status'>Return Sales <br /> Order Status</button>
                
                                </div> 
                            </div>
                        </div>
                        
                    </form>
    
                </div>
    
                <div class="col-md-10">
    
                    <div class="row">

                        {{ controller_input_output_and_expansion_board_form.available_sensor_count }}
                        <div class="row no-gutters">
                            <div class="col-8">
                                <img class="img-fluid" src="{{ url_for('static', filename='images/controller-image.png') }}" alt="">
                            </div>
                        </div>
                        <br>
                        <form method="POST" action="">
                            <input type='submit' class="btn btn-danger btn-lg border-dark" name='clear_button_assignments' value="Clear All"></input>
                        </form>

                    </div>

                    
    
                    <div class="row">
                        {% for i in range(1, 5) %}
    
                        <div id="u{{ i }}_analog_sensor_id" class="ui-widget-header droppable">
                            <p><strong>U{{i}}</strong></p>
                        </div>
    
                        {% endfor %}
                    </div>
                    <div class="row">
                        {% for sensor_index in dictionary_available_sensors %}
                            {% for sensor_address, sensor_definition_name in dictionary_available_sensors[sensor_index] %}
        
                                <div id="{{ sensor_index }}" class="ui-widget-content draggable">
                                    <p><strong>Sensor {{ sensor_address }} </strong> </p> 
                                    <p>{{sensor_definition_name }}</p>
                                </div>
        
                            {% endfor %}
        
                        {% endfor %}

                    </div>
                    
    
                
    
            


                <br>
                <form method="POST" action="">
                    {{ controller_input_output_and_expansion_board_form.csrf_token }}

                    <div class="row">

                        <div class="card">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col-md-6">
                                        Controller Analog Outputs Y1-Y4
                                    </div>
 
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-6">
                                                {{ controller_input_output_and_expansion_board_form.submit_button(class="btn btn-primary border-dark", required=False) }}
                                            </div>
                                            <div class="col-md-6">
                                                {{ controller_input_output_and_expansion_board_form.save_to_all_controllers_button(class="btn btn-primary border-dark", required=False) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="card-body">
                                <div class="card">
                                    <div class="card-header">
                                        Y1
                                    </div>
                                    <div class="card-body" id="y1-y4-card-body">
                                        <div class="row">
                                            <div class="form-group col-md-2">
                                                {{ render_field(controller_input_output_and_expansion_board_form.y1_analog_fan_type) }}
                                            </div>
                                            <div class="form-group col-md-10">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="form-group col-md-3">
                                                        {{ render_field(controller_input_output_and_expansion_board_form.y1_min_fan_speed_percent) }}
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        {{ render_field(controller_input_output_and_expansion_board_form.y1_max_fan_speed_percent) }}
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        {{ render_field(controller_input_output_and_expansion_board_form.y1_min_demand_range_percent) }}
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        {{ render_field(controller_input_output_and_expansion_board_form.y1_max_demand_range_percent) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        Y2
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="form-group col-md-2">
                                                {{ render_field(controller_input_output_and_expansion_board_form.y2_analog_fan_type) }}
                                            </div>
                                            <div class="form-group col-md-10">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="form-group col-md-3">
                                                        {{ render_field(controller_input_output_and_expansion_board_form.y2_min_fan_speed_percent) }}
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        {{ render_field(controller_input_output_and_expansion_board_form.y2_max_fan_speed_percent) }}
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        {{ render_field(controller_input_output_and_expansion_board_form.y2_min_demand_range_percent) }}
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        {{ render_field(controller_input_output_and_expansion_board_form.y2_max_demand_range_percent) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        Y3
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="form-group col-md-2">
                                                {{ render_field(controller_input_output_and_expansion_board_form.y3_analog_fan_type) }}
                                            </div>
                                            <div class="form-group col-md-10">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="form-group col-md-3">
                                                        {{ render_field(controller_input_output_and_expansion_board_form.y3_min_fan_speed_percent) }}
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        {{ render_field(controller_input_output_and_expansion_board_form.y3_max_fan_speed_percent) }}
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        {{ render_field(controller_input_output_and_expansion_board_form.y3_min_demand_range_percent) }}
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        {{ render_field(controller_input_output_and_expansion_board_form.y3_max_demand_range_percent) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        Y4
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="form-group col-md-2">
                                                {{ render_field(controller_input_output_and_expansion_board_form.y4_analog_fan_type) }}
                                            </div>
                                            <div class="form-group col-md-10">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="form-group col-md-3">
                                                        {{ render_field(controller_input_output_and_expansion_board_form.y4_min_fan_speed_percent) }}
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        {{ render_field(controller_input_output_and_expansion_board_form.y4_max_fan_speed_percent) }}
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        {{ render_field(controller_input_output_and_expansion_board_form.y4_min_demand_range_percent) }}
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        {{ render_field(controller_input_output_and_expansion_board_form.y4_max_demand_range_percent) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
        
                                <!-- end of row -->
        
        
                            </div>
                        </div>

                        <div class="form-group">
                            {{ controller_input_output_and_expansion_board_form.submit_button(class="btn btn-lg btn-primary border-dark", required=False) }}
                        
                        </div>

                    </div>

                </form>
            
            </div>
        </div>
            





        </div>

        

        

         
    </body>


{% endblock %}
