{% extends "layout_container_fluid.html" %}
{% from 'bootstrap/form.html' import render_form, render_field, render_form_row %}

{% block content %}

    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


        <style>
        #feedback { font-size: 1.4em; }
        .selectable .ui-selecting { background: #FECA40; }
        .selectable .ui-selected { background: #F39814; color: white; }
        .selectable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
        .selectable li { margin: 3px; padding: 1px; float: left; width: 40px; height: 25px; font-size: 1em; text-align: center; }

        #feedback { font-size: 1.4em; }
        #previous .ui-selecting { background: #FECA40; }
        #previous .ui-selected { background: #F39814; color: white; }
        #previous { list-style-type: none; margin: 0; padding: 0; width: 100%; }
        #previous li { margin: 3px; padding: 1px; float: left; width: 40px; height: 25px; font-size: 1em; text-align: center; }

        .btn-group-vertical > input {
            margin-bottom:10px;
            border-radius:3px !important;
        }
        .selected-controller-button {
            padding-top: 50%;
            padding-bottom: 50%;
        }
        .btn-group-vertical {
            justify-content: start !important;
        }
        .border {
            border: 5px solid black!important;
        }
        #sales-order-table{
            font-size: 1rem;
        }
        #current-selection {
            padding-top: 0.75rem;
        }
        .mb-4, .my-4 {
            margin-bottom: 0!important;
        }
        #nav-tab {
            font-size: 1rem;
        }
        #digital-modbus-content {
            display:none;
        }
        #analogue-signal-content {
            display:none;
        }
        #local-sensor-content {
            display:none;
        }
        #setup-type-dropdown {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }
        h3{
            padding-left: 15rem;
        }

        #move-button {
                margin-top: 2rem;
            }
        .card{
            padding: 0.25rem;
        }
        .card-body {
            padding: 0.75rem;
        }

        </style>
        

        <script>

            $(document).ready(function() {
                var prev = -1;
                $(".selectable").selectable({
                    selecting: function(e, ui) {
                        var curr = $(ui.selecting.tagName, e.target).index(ui.selecting);
                        if(e.shiftKey && prev > -1) {
                            console.log(prev, curr, Math.min(prev, curr));
                            $(ui.selecting.tagName, e.target).slice(Math.min(prev, curr), 1 + Math.max(prev, curr)).addClass('ui-selected');
                            prev = -1;
                        } else {
                            prev = curr;
                        }
                    }
                });
            });

            $(function() {
                

                $( ".selectable" ).selectable({
                    stop: function() {
                        var textyouwant = '';
                        var indexesyouwant = '';
                        var selectedItems = [];
                        var selectedIndexes = [];
                        $("li.ui-selected").each(function(){
                            selectedItems.push($(this).html())
                            selectedIndexes.push($(this).attr("id"))
                        });
                        textyouwant = createRangeString(selectedItems);
                        $("#modbus-ranges").val(textyouwant);
                        $("#fan-quantity").val(selectedItems.length);
                        indexesyouwant = createRangeString(selectedIndexes);
                        
                        $("#modbus-ranges-indexes").val(indexesyouwant);
                    }
                });

                function createRangeString(selectedItems){
                    range_string = '';
                    input = selectedItems.map(Number)
                    input = [...new Set(input)].sort((a, b) => a - b);
                    let i = 0;
                    let j = 0;
                    let output = '';

                    while (i < input.length) {
                        while (j < input.length && (input[j] + 1) === input[j + 1]) {
                            j++;
                        }
                        output += `${input[i]}`;
                        if (i !== j) {
                            output += `-${input[j]},`;
                        } else {j 
                            output += ',';
                        }
                        i = j + 1;
                        j = i;
                    }
                    range_string = output.substring(0, output.lastIndexOf(","))

                    return range_string
                }

            });


        </script>

    </head>



    <h3>{{ title }}</h3>
    <div class="row">
        <!-- left side of screen -->
        <div class="col-md-8">
            
            <form method="POST" action="">
                {{ controller_form.csrf_token }}
                <div class="row">
                    
                    <!-- CONTROLLERS ON LEFT SIDE OF PAGE -->
                    <div class="col-md-2">
                        <form method="POST" action="">
                            <div class="btn-group-vertical content-section">
                                {% for controller in range(1, sales_order_controller_quantity+1) %}
                                        {% if controller == current_controller  -%}
                                            <input type='submit' class="btn 
                                                {% if controller in list_index_of_finished_controllers  -%}
                                                btn-success 
                                                {% else -%}
                                                btn-secondary 
                                                {%- endif %} 
                                                selected-controller-button border border-dark" name='controller{{controller}}' value="{{ tag_prefix }} {{ controller }}"></input>
                                        {% elif controller in list_index_of_finished_controllers -%}
                                            <input type='submit' class="btn btn-success btn-sm border-dark" name='controller{{controller}}' value="{{ tag_prefix }} {{ controller }}"></input>
                                        {% else -%}
                                            <input type='submit' class="btn btn-secondary btn-sm border-dark" name='controller{{controller}}' value="{{ tag_prefix }} {{ controller }}"></input>
                                        {%- endif %} 
                                {% endfor %}                                  
                                <!-- navigate to program controller button -->
            
                                        <button type='submit' class="btn btn-primary btn-sm border-dark" name='navigate_sales_order_status'>Return Sales <br /> Order Status</button>
            
                            </div> 
                        </form>
                    </div>
                    
                    
                    <div class="col-md-10">
                        <div class="content-section">
            
                            <div class="row ml-auto" id="sales-order-table">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col"> Sales Order Number</th>
                                            <th scope="col"> Controller Number</th>
                                        </tr>
                                    </thead>
                
                                    <tbody>
                                        <tr>
                                            <th scope="row"> {{ sales_order_number }} </th>
                                            <td> {{ current_controller }} </td>
                                        </tr>
                
                                    </tbody>
                                </table>
                            </div>
                                
            
                        
            
                            <fieldset class="form-group">

                                <div class="form-group">
                                    {% if controller_form.modbus_ranges_indexes.errors %}
                                        {{ controller_form.modbus_ranges_indexes(class="form-control form-control-lg is-invalid", id="modbus-ranges-indexes") }}
                                        <div class="invalid-feedback">
                                            {% for error in controller_form.modbus_ranges_indexes.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ controller_form.modbus_ranges_indexes(class="form-control form-control-lg", id="modbus-ranges-indexes") }}
                                    {% endif %}
                                </div>
            
                                <!-- Fan Quantity and Modbus Ranges -->
                                <div class="row">
            
                                    
                                </div>
                
                                <br>    

                            </fieldset>

                            <!-- Matrix of Fans -->
                            {% if available_fans %}
                            <div class="card">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-md-2">
                                            Fans
                                        </div>
                                        <div class="col-md-2">
                                            {{ controller_form.save_configuration(class="btn btn-primary btn-sm border-dark", required=False) }}
                    
                                        </div>
                                        <div class="form-group col-md-4">
                                            <div class="row no-gutters">
                                                <div class="form-group col-md-6">
                                                    {{ controller_form.modbus_ranges.label(class="form-control-label") }}
                                                </div>
                                                <div class="form-group col-md-6">
                                                    {% if controller_form.modbus_ranges.errors %}
                                                        {{ controller_form.modbus_ranges(class="form-control form-control-lg is-invalid") }}
                                                        <div class="invalid-feedback">
                                                            {% for error in controller_form.modbus_ranges.errors %}
                                                                <span>{{ error }}</span>
                                                            {% endfor %}
                                                        </div>
                                                    {% else %}
                                                        {{ controller_form.modbus_ranges(class="form-control form-control-lg", id="modbus-ranges") }}
                                                    {% endif %}
                                                </div>
                                                

                                                
                                            </div>
                                           
                
                                        </div>
                
                                        
                
                                        <div class="form-group col-md-2">
                                    
                                            {{ controller_form.fan_quantity.label(class="form-control-label") }}
                                        </div>
                                        <div class="form-group col-md-2">
                                            {% if controller_form.fan_quantity.errors %}
                                                {{ controller_form.fan_quantity(class="form-control form-control-lg is-invalid") }}
                                                <div class="invalid-feedback">
                                                    {% for error in controller_form.fan_quantity.errors %}
                                                        <span>{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            {% else %}
                                                {{ controller_form.fan_quantity(class="form-control form-control-lg" , id="fan-quantity") }}
                                            {% endif %}
                                        </div>
                                    </div>
                                    
                                    
                                </div>
                                <div class="card-body">
                                    <form method="POST" action="">
                                        {% for fan_definition_name in available_fans %}
                                        <div class="row form-group">
                                            <h3>{{ fan_definition_name }}</h3>
                                            <ol class="selectable">  
                                                {% for fan_address, fan_index in available_fans[fan_definition_name] %}
                                                    <li id="{{ fan_index }}" name="fan{{ fan_address }}"class="ui-state-default">{{ fan_address }}</li>
                                                {% endfor %}
                                            </ol>
                                        </div>
                                            
                                        {% endfor %}
                                    </form>
                                </div>
                                
                            </div>
        
                        
                            {% endif %}

                        </div>
                        
                    </div>
                        
                </div>
            </form>
        
        </div>

        <!-- right side of screen -->

            <!-- Show Fans already configured w/ current Controller-->
            {%- if address_fantype_dictionary -%}
        
                <div class="col-md-2">

                    <div class="card text-white bg-dark">
                        <div class="card-header bg-secondary">
                            <div class="row">
                                <div class="col-md-6">
                                    Fan Selection
                                </div>
                                <div class="col-md-6">
                                    <form method="POST" action="">
                                        <input type='submit' class="btn btn-danger btn-sm border-dark" name='clear_all_fans' value="Clear All"></input>
                                    </form>
                                </div>
                            </div>
                            
                        </div>
                        <div class="card-body text-dark">
                            {% for fan_type in address_fantype_dictionary %}
                                <div class="row form-group">   
                                    <ol id="previous">
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        {{fan_type}}
                                                    </div>
                                                    <div class="col-md-6">
                                                        <form method="POST" action="">
                                                            <input type='submit' class="btn btn-danger btn-sm border-dark" name='clear_button_{{ fan_type }}' value="Remove"></input>
                                                        </form>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <div class="card-body">
                                                {% for fan_address in address_fantype_dictionary[fan_type]: %}
                                                    <li id="{{ fan_address }}" name="fan{{ fan_address }}"class="ui-state-default">{{ fan_address }}</li>
                                                {% endfor %}
                                            </div>
                                        </div>

                                    </ol>
                                </div>
                            {% endfor %}

                        </div>
                        
                    </div>

                </div>

            {% endif %}


    </div>
    

    


{% endblock %}
