{% extends "layout.html" %}
{% block content %}

    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        {{ bootstrap.load_css() }}

        <style>
        #feedback { font-size: 1.4em; }
        #selectable .ui-selecting { background: #FECA40; }
        #selectable .ui-selected { background: #F39814; color: white; }
        #selectable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
        #selectable li { margin: 3px; padding: 1px; float: left; width: 40px; height: 25px; font-size: 1em; text-align: center; }

        #feedback { font-size: 1.4em; }
        #previous .ui-selecting { background: #FECA40; }
        #previous .ui-selected { background: #F39814; color: white; }
        #previous { list-style-type: none; margin: 0; padding: 0; width: 100%; }
        #previous li { margin: 3px; padding: 1px; float: left; width: 40px; height: 25px; font-size: 1em; text-align: center; }

        .btn-group-vertical > input {
            margin-bottom:10px;
            border-radius:3px !important;
        }
        .selected-controller-button {
            padding-top: 50%;
            padding-bottom: 50%;
        }
        .btn-group-vertical {
            justify-content: start !important;
        }
        .border {
            border: 5px solid black!important;
        }
        #setup-type-dropdown {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }
        h3{
            padding-left: 15rem;
        }
        #move-button {
                margin-top: 2rem;
                margin-left: 2rem;
            }

        </style>
        

        <script>

           

            $(document).ready(function() {
                var prev = -1;
                $("#selectable").selectable({
                    selecting: function(e, ui) {
                        var curr = $(ui.selecting.tagName, e.target).index(ui.selecting);
                        if(e.shiftKey && prev > -1) {
                            console.log(prev, curr, Math.min(prev, curr));
                            $(ui.selecting.tagName, e.target).slice(Math.min(prev, curr), 1 + Math.max(prev, curr)).addClass('ui-selected');
                            prev = -1;
                        } else {
                            prev = curr;
                        }
                    }
                });
            });

            $(function() {
                

                $( "#selectable" ).selectable({
                    stop: function() {
                        var textyouwant = '';
                        var indexesyouwant = '';
                        var selectedItems = [];
                        var selectedIndexes = [];
                        $("li.ui-selected").each(function(){
                            selectedItems.push($(this).html())
                            selectedIndexes.push($(this).attr("id"))
                        });
                        textyouwant = createRangeString(selectedItems);
                        $("#modbus-ranges").val(textyouwant);
                        // // $("#fan-quantity").val(selectedItems.length);
                        indexesyouwant = createRangeString(selectedIndexes);
                        $("#modbus-ranges-indexes").val(indexesyouwant);

                    }
                });

                function createRangeString(selectedItems){
                    range_string = '';
                    input = selectedItems.map(Number)
                    input = [...new Set(input)].sort((a, b) => a - b);
                    let i = 0;
                    let j = 0;
                    let output = '';

                    while (i < input.length) {
                        while (j < input.length && (input[j] + 1) === input[j + 1]) {
                            j++;
                        }
                        output += `${input[i]}`;
                        if (i !== j) {
                            output += `-${input[j]},`;
                        } else {j 
                            output += ',';
                        }
                        i = j + 1;
                        j = i;
                    }
                    range_string = output.substring(0, output.lastIndexOf(","))

                    return range_string
                }

            });


        </script>

    </head>



    <div class="container">

        <div class="card">
            <div class="card-header">
                <form method="POST" action="">
                    {{ fan_definition_buttons.csrf_token }}
                    <div class="row">
                        <div class="col-md-3">
                            Fan Definition Assignment
                        </div>
                        <div class="col">
                            {{ fan_definition_buttons.create_fan_definition_button(class="btn-sm btn-primary") }}
                        </div>
                        <div class="col">
                            {{ fan_definition_buttons.view_fan_definitions_button(class="btn-sm btn-primary") }}
                        </div>

                        <div class="col-md-2">
                            {{ fan_definition_buttons.return_sales_order_status_button(class="btn-sm btn-danger") }}
                        </div>

                    </div>
                </form>
                
            </div>
            <div class="card-body">
                <br>
                <form method="POST" action="">
                    {{ select_fan_definition_form.csrf_token }}
        
                    <div class="row">
                        <div class="col-md-6">
                
                            <!-- Matrix of Fans -->
                            {% if available_fans %}
                            <h1>Available Fans</h1>
        
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ select_fan_definition_form.select_definition_dropdown.label(class="form-control-label") }}
                                        {% if select_fan_definition_form.select_definition_dropdown.errors %}
                                            {{ select_fan_definition_form.select_definition_dropdown(class="form-control form-control-lg is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in select_fan_definition_form.select_definition_dropdown.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ select_fan_definition_form.select_definition_dropdown(class="form-control form-control-lg") }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
        
                            <div class="card">
                                <div class="card-header">
                                    <div class="row">
                                        <!-- <div class="col-md-3">
                                            Available Addresses
                                        </div> -->
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    {{ select_fan_definition_form.modbus_ranges.label(class="form-control-label") }}
                                                </div>
                                                <div class="form-group col-md-6">
                                                    {% if select_fan_definition_form.modbus_ranges.errors %}
                                                        {{ select_fan_definition_form.modbus_ranges(class="form-control is-invalid") }}
                                                        <div class="invalid-feedback">
                                                            {% for error in select_fan_definition_form.modbus_ranges.errors %}
                                                                <span>{{ error }}</span>
                                                            {% endfor %}
                                                        </div>
                                                    {% else %}
                                                        {{ select_fan_definition_form.modbus_ranges(class="form-control", id="modbus-ranges") }}
                                                    {% endif %}
                                                </div>
                                            </div>
        
                                            
                                            
                                        </div>
        
                                        <div class="col-md-4">
                                            {{ select_fan_definition_form.assign_fan_definition_button(class="btn btn-outline-info btn-sm", required=False) }}    
                                        </div>
                                    </div>
                                    
                                    
                                </div>
                                
        
                                <div class="card-body">
        
                                    <div class="row">
                                        {% if select_fan_definition_form.modbus_ranges_indexes.errors %}
                                            {{ select_fan_definition_form.modbus_ranges_indexes(class="form-control form-control-lg is-invalid", id="modbus-ranges-indexes") }}
                                            <div class="invalid-feedback">
                                                {% for error in select_fan_definition_form.modbus_ranges_indexes.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ select_fan_definition_form.modbus_ranges_indexes(class="form-control form-control-lg", id="modbus-ranges-indexes") }}
                                        {% endif %}
                                    </div>
        
                                    <form method="POST" action="">
                                        <div class="row form-group"> 
                                            <ol id="selectable">
                                                {% for fan, index in available_fans %}
                                                    <li id="{{ index }}" name="fan{{ fan }}"class="ui-state-default">{{ fan }}</li>
                                                    {% if fan.class | string() == "ui-selected" %}
                                                    {% endif %}
                                                {% endfor %}
                                            </ol>
                                        </div>
                                    </form>
                                </div>
                                
                            </div>
                        
                            {% endif %}
                
                        </div>
                
                        <!-- Right side of screen -->
                        <!-- Existing definition relationships -->
                        <div class="col-md-6">
                
                            {% if address_definitionname_dictionary %}
                
                
                                <div class="card text-white bg-dark">
                                    <div class="card-header bg-secondary">
                                        <div class="row">
                                            <div class="col-md-8">
                                                Fan Selection
                                            </div>
                                            
                                        </div>
                                        
                                    </div>
                                    <div class="card-body text-dark">
                                        {% for fan_definition in address_definitionname_dictionary %}
                                            <div class="row form-group">   
                                                <ol id="previous">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <div class="row">
                                                                <div class="col-md-8">
                                                                    {{fan_definition}}
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <form method="POST" action="">
                                                                        <input type='submit' class="btn btn-danger btn-sm border-dark" name='clear_button_{{ fan_definition }}' value="Remove"></input>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="card-body">
                                                            {% for fan_address in address_definitionname_dictionary[fan_definition]: %}
                                                                <li id="{{ fan_address }}" name="fan{{ fan_address }}"class="ui-state-default">{{ fan_address }}</li>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                
                                                </ol>
                                            </div>
                                        {% endfor %}
                
                                    </div>
                                    
                                </div>
                
                            {% endif %}
                
                        </div>
                
                    </div>
                
                </form>
                


            </div>
        </div>


    </div>


{% endblock %}
