{% extends "layout.html" %}
{% block content %}

<head>
    <style>

        .content-section {
            margin-top: 2rem;
        }
        #save-definition-button {
            margin-top: 2rem;
            margin-left: 2rem;
        }
        #standard-definition-checkbox {
            margin-left: 2rem;
        }
        #standard-definition-checkbox > input {
            margin-top: 1rem;
        }


    </style>
</head>
       
<form method="POST" action="">
    {{ create_fan_definition_form.csrf_token }}
    <div class="content-section">
        
            <div class="row" id="name-fan-definition-elements">
                <div class="md-col-6">
                    {{ create_fan_definition_form.definition_name.label(class="form-control-label") }}
                    {{ create_fan_definition_form.definition_name(class="form-control form-control-lg") }}
                </div>
                <div class="md-col-6" id="save-definition-elements">
                    {{ create_fan_definition_form.standard_type.label(class="form-control-label") }}
                    {{ create_fan_definition_form.standard_type(class="form-control form-control-lg") }}
                </div>
                <div class="md-col-6" id="save-definition-button">
                    {{ create_fan_definition_form.create_custom_fan_definition_button }}
                </div>
            </div>
    </div>

   

</form>


{% endblock %}