{% extends "layout.html" %}
{% from 'bootstrap/form.html' import render_form, render_field, render_form_row %}
{% block content %}


<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <style>

        .btn-group-vertical > input {
            margin-bottom:10px;
            border-radius:3px !important;
        }
        .selected-controller-button {
            padding-top: 50%;
            padding-bottom: 50%;
        }
        .border {
            border: 4px solid black!important;
        }

        .card {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        .form-control-lg {
            font-size: 1rem;
            padding: 0rem 0rem;
        }
        #expansion_board_forms-5, #expansion_board_forms-1, #expansion_board_forms-2, #expansion_board_forms-3,
        #expansion_board_forms-4, #controller_fan_demand_form {
            display: none;
        }
        input[type="submit"] {
            white-space: normal;
            width: 100px;
        }

    </style>
    
    <script>

        $(document).ready(function(){

            // Handle expansion board number dropdown once on page load
            const expansion_board_quantity_constant = document.getElementById("expansion_board_quantity");
            integer_value = parseInt(expansion_board_quantity_constant.value)
            
            switch(integer_value) {
                case 0:
                    $("#expansion_board_forms-1").hide();
                    $("#expansion_board_forms-2").hide();
                    $("#expansion_board_forms-3").hide();
                    $("#expansion_board_forms-4").hide();
                    $("#expansion_board_forms-5").hide();
                    break;
                case 1:
                    $("#expansion_board_forms-1").show();
                    $("#expansion_board_forms-2").hide();
                    $("#expansion_board_forms-3").hide();
                    $("#expansion_board_forms-4").hide();
                    $("#expansion_board_forms-5").hide();
                    break;
                case 2:
                    $("#expansion_board_forms-1").show();
                    $("#expansion_board_forms-2").show();
                    $("#expansion_board_forms-3").hide();
                    $("#expansion_board_forms-4").hide();
                    $("#expansion_board_forms-5").hide();
                    break;
                case 3:
                    $("#expansion_board_forms-1").show();
                    $("#expansion_board_forms-2").show();
                    $("#expansion_board_forms-3").show();
                    $("#expansion_board_forms-4").hide();
                    $("#expansion_board_forms-5").hide();
                    break;
                case 4:
                    $("#expansion_board_forms-1").show();
                    $("#expansion_board_forms-2").show();
                    $("#expansion_board_forms-3").show();
                    $("#expansion_board_forms-4").show();
                    $("#expansion_board_forms-5").hide();
                    break;
                case 5:
                    $("#expansion_board_forms-1").show();
                    $("#expansion_board_forms-2").show();
                    $("#expansion_board_forms-3").show();
                    $("#expansion_board_forms-4").show();
                    $("#expansion_board_forms-5").show();
                    break; 
            }

            // Handle expansion board number dropdown on change event
            $('#expansion_board_quantity').on('change', function() {
                integer_value = parseInt(this.value)
                switch(integer_value) {
                    case 0:
                        $("#expansion_board_forms-1").hide();
                        $("#expansion_board_forms-2").hide();
                        $("#expansion_board_forms-3").hide();
                        $("#expansion_board_forms-4").hide();
                        $("#expansion_board_forms-5").hide();
                        break;
                    case 1:
                        $("#expansion_board_forms-1").show();
                        $("#expansion_board_forms-2").hide();
                        $("#expansion_board_forms-3").hide();
                        $("#expansion_board_forms-4").hide();
                        $("#expansion_board_forms-5").hide();
                        break;
                    case 2:
                        $("#expansion_board_forms-1").show();
                        $("#expansion_board_forms-2").show();
                        $("#expansion_board_forms-3").hide();
                        $("#expansion_board_forms-4").hide();
                        $("#expansion_board_forms-5").hide();
                        break;
                    case 3:
                        $("#expansion_board_forms-1").show();
                        $("#expansion_board_forms-2").show();
                        $("#expansion_board_forms-3").show();
                        $("#expansion_board_forms-4").hide();
                        $("#expansion_board_forms-5").hide();
                        break;
                    case 4:
                        $("#expansion_board_forms-1").show();
                        $("#expansion_board_forms-2").show();
                        $("#expansion_board_forms-3").show();
                        $("#expansion_board_forms-4").show();
                        $("#expansion_board_forms-5").hide();
                        break;
                    case 5:
                        $("#expansion_board_forms-1").show();
                        $("#expansion_board_forms-2").show();
                        $("#expansion_board_forms-3").show();
                        $("#expansion_board_forms-4").show();
                        $("#expansion_board_forms-5").show();
                        break;
                    }

        

            });

        });

        

    </script>

</head>



<form method="POST" action="">
    <div class="row">
    
        {{ controller_input_output_and_expansion_board_form.csrf_token }}

        <!-- CONTROLLERS ON LEFT SIDE OF PAGE -->
        <div class="col-md-2">
            <div class="btn-group-vertical content-section">
                {% for controller_index, controller_name in controller_buttons_list %}
                        {% if controller_index == current_controller  -%}
                            {% if controller_index in list_index_of_finished_controllers  -%}
                                {{ controller_input_output_and_expansion_board_form[controller_name](class="btn btn-success selected-controller-button border border-dark") }}
                            {% else -%}
                                {{ controller_input_output_and_expansion_board_form[controller_name](class="btn btn-secondary selected-controller-button border border-dark") }}
                            {%- endif %} 
                        {% elif controller_index in list_index_of_finished_controllers -%}
                            {{ controller_input_output_and_expansion_board_form[controller_name](class="btn btn-success btn-sm border-dark") }}
                        {% else -%}
                            {{ controller_input_output_and_expansion_board_form[controller_name](class="btn btn-secondary btn-sm border-dark") }}
                        {%- endif %} 
                {% endfor %}                                  
                <!-- navigate to program controller button -->
                {{ controller_input_output_and_expansion_board_form.navigate_sales_order_status_button(class="btn btn-primary btn-sm border-dark") }}

            </div> 
        </div>

    
        <div class="content-section col-md-10">
                
                    <!-- Show Fans already configured w/ current Controller-->
                {%- if address_fantype_dictionary -%}
                <h3 id="current-selection"> Controller Modbus Addresses: </h3> 
                <div class="content-section"> 
                
                    {% for fan_type in address_fantype_dictionary %}
                    <div class="row form-group">   
                        <ol id="previous">
                            <h3>{{fan_type}}</h3>
                            {% for fan_address in address_fantype_dictionary[fan_type]: %}
                                <li id="{{ fan_address }}" name="fan{{ fan_address }}"class="ui-state-default">{{ fan_address }}</li>
                            {% endfor %}
                        </ol>
                    </div>
                    {% endfor %}
                        
                </div>
                {% endif %}


                    <div class="card">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col-md-10">
                                    Controller Analog Outputs Y1-Y4
                                </div>
                            </div>
                            
                        </div>
                        <div class="card-body">
                            <div class="card">
                                <div class="card-header">
                                    Y1
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="form-group col-md-2">
                                            {{ render_field(controller_input_output_and_expansion_board_form.y1_analog_fan_type) }}
                                        </div>
                                        <div class="form-group col-md-10">
                                            <div class="row no-gutters align-items-center">
                                                <div class="form-group col-md-3">
                                                    {{ render_field(controller_input_output_and_expansion_board_form.y1_min_fan_speed_percent) }}
                                                </div>
                                                <div class="form-group col-md-3">
                                                    {{ render_field(controller_input_output_and_expansion_board_form.y1_max_fan_speed_percent) }}
                                                </div>
                                                <div class="form-group col-md-3">
                                                    {{ render_field(controller_input_output_and_expansion_board_form.y1_min_demand_range_percent) }}
                                                </div>
                                                <div class="form-group col-md-3">
                                                    {{ render_field(controller_input_output_and_expansion_board_form.y1_max_demand_range_percent) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    Y2
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="form-group col-md-2">
                                            {{ render_field(controller_input_output_and_expansion_board_form.y2_analog_fan_type) }}
                                        </div>
                                        <div class="form-group col-md-10">
                                            <div class="row no-gutters align-items-center">
                                                <div class="form-group col-md-3">
                                                    {{ render_field(controller_input_output_and_expansion_board_form.y2_min_fan_speed_percent) }}
                                                </div>
                                                <div class="form-group col-md-3">
                                                    {{ render_field(controller_input_output_and_expansion_board_form.y2_max_fan_speed_percent) }}
                                                </div>
                                                <div class="form-group col-md-3">
                                                    {{ render_field(controller_input_output_and_expansion_board_form.y2_min_demand_range_percent) }}
                                                </div>
                                                <div class="form-group col-md-3">
                                                    {{ render_field(controller_input_output_and_expansion_board_form.y2_max_demand_range_percent) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    Y3
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="form-group col-md-2">
                                            {{ render_field(controller_input_output_and_expansion_board_form.y3_analog_fan_type) }}
                                        </div>
                                        <div class="form-group col-md-10">
                                            <div class="row no-gutters align-items-center">
                                                <div class="form-group col-md-3">
                                                    {{ render_field(controller_input_output_and_expansion_board_form.y3_min_fan_speed_percent) }}
                                                </div>
                                                <div class="form-group col-md-3">
                                                    {{ render_field(controller_input_output_and_expansion_board_form.y3_max_fan_speed_percent) }}
                                                </div>
                                                <div class="form-group col-md-3">
                                                    {{ render_field(controller_input_output_and_expansion_board_form.y3_min_demand_range_percent) }}
                                                </div>
                                                <div class="form-group col-md-3">
                                                    {{ render_field(controller_input_output_and_expansion_board_form.y3_max_demand_range_percent) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    Y4
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="form-group col-md-2">
                                            {{ render_field(controller_input_output_and_expansion_board_form.y4_analog_fan_type) }}
                                        </div>
                                        <div class="form-group col-md-10">
                                            <div class="row no-gutters align-items-center">
                                                <div class="form-group col-md-3">
                                                    {{ render_field(controller_input_output_and_expansion_board_form.y4_min_fan_speed_percent) }}
                                                </div>
                                                <div class="form-group col-md-3">
                                                    {{ render_field(controller_input_output_and_expansion_board_form.y4_max_fan_speed_percent) }}
                                                </div>
                                                <div class="form-group col-md-3">
                                                    {{ render_field(controller_input_output_and_expansion_board_form.y4_min_demand_range_percent) }}
                                                </div>
                                                <div class="form-group col-md-3">
                                                    {{ render_field(controller_input_output_and_expansion_board_form.y4_max_demand_range_percent) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- end of row -->


                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <div class="row no-gutters align-items-center">
                                <div class="col-md-10">
                                    Expansion Boards
                                </div>
                                <div class="col-md-1">
                                    {{ controller_input_output_and_expansion_board_form.expansion_board_quantity.label(class="form-control-label") }}
                                    
                                </div>
                                <div class="col-md-1">
                                    {{ controller_input_output_and_expansion_board_form.expansion_board_quantity(class="form-control form-control-lg") }}
                                    
                                </div>
                            </div>
                            
                        </div>
                        <div class="card-body">
                            {% for expansion_board_values in expansion_board_variable_list %}
                                {{ controller_input_output_and_expansion_board_form[expansion_board_values[0]] }}
                                <div class="card expansion-board-class" id="expansion_board_forms-{{ loop.index }}">
                                    <div class="card-header">
                                        Expansion Board {{ loop.index }}
                                    </div>
                                    <div class="card-body">
                                        <!-- first row,  U1-U4 -->
   
                                        <div class="row align-items-center">
                                            <div class="form-group col-md-4">
                                                {{ controller_input_output_and_expansion_board_form[expansion_board_values[1]].label(class="form-control-label") }}
                                                {{ controller_input_output_and_expansion_board_form[expansion_board_values[1]](class="form-control form-control-lg") }}
                                            </div>
                                            <div class="form-group col-md-4">
                                                {{ controller_input_output_and_expansion_board_form[expansion_board_values[2]].label(class="form-control-label") }}
                                                {{ controller_input_output_and_expansion_board_form[expansion_board_values[2]](class="form-control form-control-lg") }}
                                            </div>
                                            <div class="form-group col-md-4">
                                                {{ controller_input_output_and_expansion_board_form[expansion_board_values[3]].label(class="form-control-label") }}
                                                {{ controller_input_output_and_expansion_board_form[expansion_board_values[3]](class="form-control form-control-lg") }}
                                            </div>
                                        </div>           
                
                                    </div>

                                </div>
                                <!-- end of nested expansion board card -->

                                    
                        

                            {% endfor %}
                        </div>
                    </div>
                    
                    <div class="form-group">
                        {{ controller_input_output_and_expansion_board_form.submit_button(class="btn btn-primary btn-sm border-dark", required=False) }}
                    
                    </div>
                    
        
        </div>
    
    
    </div>
</form>

{% endblock %}
