{% extends "layout.html" %}
{% block content %}
    <head>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css">

        <style>
            .card {
                margin-bottom: 0rem;
                border-width: 0.15rem;
                border-color: black;

            }
            .card-header {
                background-color:rgb(179, 179, 179);
                font-size: 1.5rem;
                font-weight: bold;
                padding: .25rem 1.25rem;
            }
            .card-body {
                background-color: rgb(230, 230, 230);
                padding: 0.5rem;
            }
            .content-section {
                border-width: 0.1rem;
                border-color: black;
            }
            #modbus_address_count{
                width: 4rem;
                margin-left: 1rem;
            }
            .form-group {
                margin-bottom: 0rem;
            }
            #footer {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 2.5rem;  
            }
        </style>

    </head>

    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <h3>Insert Exhaust & Supply Fan Address Ranges</h3>
            </div>
        </div>

        <form method="POST" action="">
            {{ exhaust_supply_fans_form.csrf_token }}

            <fieldset class="form-group">

                <div class="row">
                    <div class="col-md-6">
    
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-md-7">
                                        Fan Address Ranges
                                    </div>
                                    <div class="col-md-5">
                                        Available: {{ unassigned_fans }}
                                    </div>
                                </div>
                                
                            </div>
                            <div class="card-body">
                                <!-- mixer fan ranges row -->
                                <div class="row">
                                    <div class="col-6">
                                        {{ exhaust_supply_fans_form.fan_range_1_starting_address.label(class="form-control-label") }}
                                        {% if exhaust_supply_fans_form.fan_range_1_starting_address.errors %}
                                            {{ exhaust_supply_fans_form.fan_range_1_starting_address(class="form-control form-control-lg is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in exhaust_supply_fans_form.fan_range_1_starting_address.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ exhaust_supply_fans_form.fan_range_1_starting_address(class="form-control form-control-lg") }}
                                        {% endif %}
                                    </div>
                                    <div class="col-6">
                                        {{ exhaust_supply_fans_form.fan_range_1_ending_address.label(class="form-control-label") }}
                                        {% if exhaust_supply_fans_form.fan_range_1_ending_address.errors %}
                                            {{ exhaust_supply_fans_form.fan_range_1_ending_address(class="form-control form-control-lg is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in exhaust_supply_fans_form.fan_range_1_ending_address.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ exhaust_supply_fans_form.fan_range_1_ending_address(class="form-control form-control-lg") }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
    
                    </div>
                    
                </div>
    
                <div class="row">
                    <div class="col-md-6">
                        <!-- submit button -->
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-10"></div>
                                <div class="col-md-2">
                                    {{ exhaust_supply_fans_form.submit(class="btn btn-primary") }}
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
    
            </fieldset>

        </form>

        



        

        
    </div>
    

    
    
{% endblock %}
