{% from 'bootstrap/nav.html' import render_nav_item %}
{% from 'bootstrap/utils.html' import render_messages %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    
    {{ bootstrap.load_css() }}
    <style>
      .currently_selected {
        font-size: 1.5rem;
        font-weight: bold;
        color: white !important;
      }
      .content-section {
                border-width: 0.1rem;
                border-color: black;
      }
      #footer {
        position: relative;
        bottom: 0;
        width: 100%;
        height: 2.5rem;  
      }
        
      #page-container {
        position: relative;
        min-height: 100vh;
      }
      .navbar{
        margin-bottom: 50px !important;
      }
      .card {
                margin-bottom: 1rem;
                border-width: 0.15rem;
                border-color: black;
      }

    </style>

    {% if title %}
        <title>ZOO Fans Web App - {{ title }}</title>
    {% else %}
        <title>ZOO Fans Web App</title>
    {% endif %}

    {{ bootstrap.load_js() }}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-primary navbar-static-top">
        <div class="container">
          <div class="navbar-nav">
            {% if title=='Configure Sales Order' %}
            <a class="nav-item nav-link currently_selected" href="{{ url_for('salesorder.createsalesorder') }}">New Sales Order</a>
            {% else %}
            <a class="nav-item nav-link" href="{{ url_for('salesorder.createsalesorder') }}">New Sales Order</a>
            {% endif %}
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav">
              {% if title=='Edit Controllers' %}
              <a class="nav-item nav-link currently_selected" href="{{ url_for('searchsalesorder.searchsalesordernumber', view_state='edit_sales_order') }}">Edit Sales Order</a>  
              {% else %}
              <a class="nav-item nav-link" href="{{ url_for('searchsalesorder.searchsalesordernumber', view_state='edit_sales_order') }}">Edit Sales Order</a>  
              {% endif %}                       
            </div>
            <div class="navbar-nav">
              {% if title=='Program Controllers' %}
              <a class="nav-item nav-link currently_selected" href="{{ url_for('searchsalesorder.searchsalesordernumber', view_state='program_controller') }}">Program Controllers</a> 
              {% else %}
              <a class="nav-item nav-link" href="{{ url_for('searchsalesorder.searchsalesordernumber', view_state='program_controller') }}">Program Controllers</a> 
              {% endif %}
            </div>
            <!-- <div class="justify-content-end"> -->
              <div class="navbar-nav">
                {% if title=='Search Database' %}
                <a class="nav-item nav-link currently_selected" href="{{ url_for('searchsalesorder.searchsalesordernumber', view_state='find_fans') }}">Search Database</a>
                {% else %}
                <a class="nav-item nav-link" href="{{ url_for('searchsalesorder.searchsalesordernumber', view_state='find_fans') }}">Search Database</a>
                {% endif %}
              </div>
              <!-- <div class="navbar-nav ml-auto">
                {% if title=='Select Version' %}
                <a class="nav-item nav-link currently_selected" href="{{ url_for('admin.selectversion', view_state='Select Version') }}">Select Version</a>
                {% else %}
                <a class="nav-item nav-link" href="{{ url_for('admin.selectversion', view_state='Select Version') }}">Select Version</a>
                {% endif %}
              </div> -->
            

          </div>

        </div>
      </nav>
    </header>
    <main class="container" id="page-container">
      <div id="content-wrap">
        <div id="alert">
          {{ render_messages(container=False, dismissible=True) }}
        </div>
        {% block content %}{% endblock %}
      </div>

      <!-- <footer class="text-center" id="footer">
        {% block footer %}
            <small> &copy; ZOO Fans - EC Fan Controller Configuration Tool v1.9</a>
            </small>
        {% endblock %}
      </footer> -->
    </main>


    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
<!--     
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
</body>

</html>
