{% extends "layout.html" %}
{% block content %}

<div class="content-section col-md-6">
    Sales Order: {{ sales_order_number }}
    <p>
        You are finished programming all Controllers associated with the given Sales Order.
    </p>
</div>



{% endblock content %}
