{% extends "layout.html" %}
{% block content %}


<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <style>

        #feedback { font-size: 1.4em; }
        #previous .ui-selecting { background: #FECA40; }
        #previous .ui-selected { background: #F39814; color: white; }
        #previous { list-style-type: none; margin: 0; padding: 0; width: 100%; }
        #previous li { margin: 3px; padding: 1px; float: left; width: 50px; height: 40px; font-size: 1em; text-align: center; }

        .btn-group-vertical > input {
            margin-bottom:10px;
            border-radius:3px !important;
        }
        .selected-controller-button {
            padding-top: 50%;
            padding-bottom: 50%;
        }
        .border {
            border: 4px solid black!important;
        }
        #sales-order-table{
            font-size: 1rem;
        }
        .card {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

    </style>
    

</head>




    <div class="row container col-md-12">
    <!-- CONTROLLERS ON LEFT SIDE OF PAGE -->
    <!-- <div class="col-md-2 content-section"> -->
        <form method="POST" action="">
            <div class="btn-group-vertical content-section">
                {% for controller in range(1, sales_order_controller_quantity+1) %}
                        {% if controller == current_controller  -%}
                            <input type='submit' class="btn 
                            {% if controller in list_index_of_programming_controllers -%}
                            btn-warning 
                            {% elif controller in list_index_of_programmed_controllers -%}
                            btn-success 
                            {% elif controller in list_index_of_error_controllers -%}
                            btn-danger 
                            {% else -%}
                            btn-secondary 
                            {%- endif %} 
                            selected-controller-button border border-dark" name='controller{{controller}}' value="{{ tag_prefix }} {{ controller }}"></input>
                        {% elif controller in list_index_of_programming_controllers -%}
                            <input type='submit' class="btn btn-warning btn-sm border-dark" name='controller{{controller}}' value="{{ tag_prefix }} {{ controller }}"></input>
                        {% elif controller in list_index_of_programmed_controllers -%}
                            <input type='submit' class="btn btn-success btn-sm border-dark" name='controller{{controller}}' value="{{ tag_prefix }} {{ controller }}"></input>
                        {% elif controller in list_index_of_error_controllers -%}
                            <input type='submit' class="btn btn-danger btn-sm border-dark" name='controller{{controller}}' value="{{ tag_prefix }} {{ controller }}"></input>
                        {% else -%}
                            <input type='submit' class="btn btn-secondary btn-sm border-dark" name='controller{{controller}}' value="{{ tag_prefix }} {{ controller }}"></input>
                        {%- endif %} 
                {% endfor %}
                                
                    
            </div> 
        </form>
    <!-- </div> -->
    
    <div class="content-section col-md-10">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-9">
                        {% if archived_directory%}
                            Archived Directory: {{ archived_directory }}
                        {% endif %}
                    </div>

                    <!-- navigate to program controller button -->
                    <div class="col-md-3">
                        <form method="POST" action="">
                            <input type='submit' class="btn btn-primary btn-sm border-dark" name='navigate_edit_sales_order' value="Edit Sales Order"></input>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
            
        <form method="POST" action="">
            {{ program_controllers_form.csrf_token }}
                
            <fieldset class="form-group">
                <legend class="mb-4">
 
<!-- 
                    {% if total_controllers_programmed %}
                        <h3>Total Programmed Controllers: {{ total_controllers_programmed }} / {{ sales_order_controller_quantity }} </h3>
                    {% else %}
                        <h3> Total Programmed Controllers: 0 / {{ sales_order_controller_quantity }} </h3>
                    {% endif %} 
                    <br> -->

                    <!-- Table -->
                    <div class="row ml-auto" id="sales-order-table">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    
                                    <th scope="col"> Sales Order Number</th>

                                    <th scope="col"> Software Version </th>

                                    <th scope="col"> Controller Type </th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <th scope="row"> {{ sales_order_number }} </th>
                             
                                    <td> {{ selected_version }} </td>      
                                    <td> {{ controller_type }} </td>                        
                                </tr>

                            </tbody>
                        </table>
                        

                    </div>


                </legend>

   


                <!-- Show Fans already configured w/ current Controller-->
            {%- if address_fantype_dictionary -%}
            <h3 id="current-selection"> Controller Modbus Addresses: </h3> 
            <div class="content-section"> 
            
                {% for fan_type in address_fantype_dictionary %}
                <div class="row form-group">   
                    <ol id="previous">
                        <h3>{{fan_type}}</h3>
                        {% for fan_address in address_fantype_dictionary[fan_type]: %}
                            <li id="{{ fan_address }}" name="fan{{ fan_address }}"class="ui-state-default">{{ fan_address }}</li>
                        {% endfor %}
                    </ol>
                </div>
                {% endfor %}
                    
            </div>
            {% endif %}


                



                <div class="card">
                    <div class="card-header">
                        Controller 
                    </div>
                    <div class="card-body">
                        <!-- ip address -->
                        <div class="row">

                            <div class="form-group col-md-4">
                                {{ program_controllers_form.ip.label(class="form-control-label") }}

                                {% if program_controllers_form.ip.errors %}
                                    {{ program_controllers_form.ip(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in program_controllers_form.ip.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ program_controllers_form.ip(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div class="form-group col-md-4">
                                {{ program_controllers_form.controller_serial_number.label(class="form-control-label") }}

                                {% if program_controllers_form.controller_serial_number.errors %}
                                    {{ program_controllers_form.controller_serial_number(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in program_controllers_form.controller_serial_number.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ program_controllers_form.controller_serial_number(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                        </div>
                    </div>
                </div>
                

                


                <div class="card">
                    <div class="card-header">
                        Upload Options
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-md-4">
                                {{ program_controllers_form.webpages_boolean.label(class="form-control-label") }}
        
                                {% if program_controllers_form.webpages_boolean.errors %}
                                    {{ program_controllers_form.webpages_boolean(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in program_controllers_form.webpages_boolean.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ program_controllers_form.webpages_boolean(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
        
                            <div class="form-group col-md-4">
                                {{ program_controllers_form.upload_ap1_file_boolean.label(class="form-control-label") }}
        
                                {% if program_controllers_form.upload_ap1_file_boolean.errors %}
                                    {{ program_controllers_form.upload_ap1_file_boolean(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in program_controllers_form.upload_ap1_file_boolean.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ program_controllers_form.upload_ap1_file_boolean(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
        
        
                        </div>
                    </div>
                    
                </div>
                
                    

                <div class="form-group">
                    {{ program_controllers_form.submit(class="btn btn-outline-info") }}
                </div>
            </fieldset>
            </form>

    
    </div>
</div>

</div>
{% endblock %}
