{% extends "layout.html" %}
{% from 'bootstrap/form.html' import render_form, render_field, render_form_row %}

{% block content %}

<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <style>
        #add-buttons {
            margin-left: 25%;
        }

        #add-buttons-fields {
            width: 20%;
            margin-right: 1rem;
        }

        #unconfigured-items-table {
            font-size: 1rem;
        }

        .no-padding-class {
            margin: 0rem;
        }

        .table td,
        .table th {
            padding: 0.1rem;
        }

        .controller-configurations-table td,
        .controller-configurations-table th {
            padding-right: 1rem;
            padding-left: 2rem;
            padding-top: 0rem;
            padding-bottom: 0rem;
        }

        .card {
            margin-bottom: 1rem;
            border-width: 0.15rem;
            border-color: black;
        }

        #sales-order-configurations .btn-primary {
            margin-bottom: 1rem;
        }

        .card-header {
            font-weight: bold !important;
        }
    </style>

</head>

<div class="container">
    <h1> Sales Order Status </h1>
    <form method="POST" action="">
        {{ sales_order_status_form.csrf_token }}

        <div class="row">
            {% if (fieldbus_sensor_quantity>0) or (analog_sensor_quantity>0) or (mixer_fan_quantity>0) %}
            <!-- buttons on left -->

            <!-- table on right -->
            <div class="col-md-7">

                <div class="card">
                    <div class="card-header">
                        Item Configurations
                    </div>
                    <div class="card-body">
                        <!-- start -->
                        <table class="table table-bordered" id="unconfigured-items-table">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Items</th>
                                    <th scope="col">Address Range</th>

                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <th scope="row">
                                        <form method="POST" action="">
                                            {{ add_address_range_form.csrf_token }}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    {{ render_field(add_address_range_form.add_address_button) }}
                                                </div>
                                            </div>
                                        </form>

                                    </th>
                                    {% if address_string_dictionary['Analog Sensors'] %}
                                    <td> Analog Sensors</td>
                                    <td>{{ address_string_dictionary['Analog Sensors'] }}</td>
                                    {% endif %}

                                </tr>

                                <tr>
                                    <th>
                                    </th>
                                    {% if address_string_dictionary['Mixer Fans'] %}
                                    <td> Mixer Fans </td>
                                    <td>{{ address_string_dictionary['Mixer Fans'] }}</td>
                                    {% endif %}
                                </tr>

                                <tr>
                                    <th>
                                    </th>
                                    {% if address_string_dictionary['Fieldbus Sensors'] %}
                                    <td>Fieldbus Sensors </td>
                                    <td>{{ address_string_dictionary['Fieldbus Sensors'] }}</td>
                                    {% endif %}
                                </tr>

                                <tr>
                                    <th>
                                    </th>
                                    {% if address_string_dictionary['Exhaust Supply Fans'] %}
                                    <td> Exhaust Supply Fans </td>
                                    <td> {{ address_string_dictionary['Exhaust Supply Fans'] }}</td>
                                    {% endif %}
                                </tr>



                                <!-- <tr>
                                        <th scope="row">{{ unconfigured_items_dict['Supply Exhaust Fans'] }}</th>
                                        <td>Supply & Exhaust Fans</td>
                                    </tr> -->
                            </tbody>
                        </table>
                        <!-- end -->

                        <table class="table table-bordered" id="unconfigured-items-table">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Non Configured Items</th>
                                    <th scope="col">Description</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% if fieldbus_sensor_quantity > 0 %}
                                <tr>
                                    <th scope="row">

                                        {% if unconfigured_items_dict['Fieldbus Sensors'] == 0 %}
                                        <input type='submit' class="btn btn-success border-dark no-padding-class"
                                            name='configure_fieldbus_sensors_button'
                                            value="Configure Fieldbus Sensors"></input>
                                        {% else %}
                                        <input type='submit' class="btn btn-default border-dark no-padding-class"
                                            name='configure_fieldbus_sensors_button'
                                            value="Configure Fieldbus Sensors"></input>
                                        {% endif %}

                                    </th>
                                    <td>{{ unconfigured_items_dict['Fieldbus Sensors'] }}</td>
                                    <td>Fieldbus Sensors</td>
                                </tr>
                                {% endif %}

                                {% if analog_sensor_quantity > 0 %}
                                <tr>
                                    <th scope="row">

                                        {% if analog_sensor_quantity > 0 %}
                                        {% if unconfigured_items_dict['Analog Sensors'] == 0 %}
                                        <input type='submit' class="btn btn-success border-dark no-padding-class"
                                            name='configure_analog_sensors_button'
                                            value="Configure Analog Sensors"></input>
                                        {% else %}
                                        <input type='submit' class="btn btn-default border-dark no-padding-class"
                                            name='configure_analog_sensors_button'
                                            value="Configure Analog Sensors"></input>
                                        {% endif %}
                                        {% endif %}

                                    </th>
                                    <td>{{ unconfigured_items_dict['Analog Sensors'] }}</td>
                                    <td>Analog Sensors</td>
                                </tr>
                                {% endif %}

                                {% if mixer_fan_quantity > 0 %}
                                <tr>
                                    <th scope="row">

                                        {% if mixer_fan_quantity > 0 %}

                                        {% if unconfigured_items_dict['Fans'] == 0 %}
                                        <input type='submit' class="btn btn-success border-dark no-padding-class"
                                            name='configure_fans_button' value="Configure Fans"></input>
                                        {% else %}
                                        <input type='submit' class="btn btn-default border-dark no-padding-class"
                                            name='configure_fans_button' value="Configure Fans"></input>
                                        {% endif %}

                                        {% endif %}

                                    </th>
                                    <td>{{ unconfigured_items_dict['Fans'] }}</td>
                                    <td>Fans</td>
                                </tr>
                                {% endif %}

                                <!-- <tr>
                                                <th scope="row">{{ unconfigured_items_dict['Supply Exhaust Fans'] }}</th>
                                                <td>Supply & Exhaust Fans</td>
                                            </tr> -->
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

            <div class="col-md-5">

                <div class="card">
                    <div class="card-header">
                        Controller Assignment
                    </div>
                    <div class="card-body">

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Non Assigned Items</th>
                                    <th scope="col">Description</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% if mixer_fan_quantity > 0 %}
                                <tr>
                                    <th scope="row">{{ unassigned_items_dict['Fans'] }}</th>
                                    <td>Fans</td>
                                </tr>
                                {% endif %}

                                {% if fieldbus_sensor_quantity > 0 %}
                                <tr>
                                    <th scope="row">{{ unassigned_items_dict['Fieldbus Sensors'] }}</th>
                                    <td>Fieldbus Sensors</td>
                                </tr>
                                {% endif %}
                                {% if analog_sensor_quantity > 0 %}
                                <tr>
                                    <th scope="row">{{ unassigned_items_dict['Analog Sensors'] }}</th>
                                    <td>Analog Sensors</td>
                                </tr>
                                {% endif %}
                                {% if expansion_board_quantity > 0 %}
                                <tr>
                                    <th scope="row">{{ unassigned_items_dict['Expansion Boards'] }}</th>
                                    <td>Expansion Boards</td>
                                </tr>
                                {% endif %}

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            {% endif %}

        </div>
        {% if variable_names_list is defined and variable_names_list|length > 0 %}

        <div class="card">
            <div class="card-header">
                Controller Configurations
            </div>
            <div class="card-body">

                <div class="row">
                    <table class="table table-bordered controller-configurations-table">
                        <tbody>
                            {{ sales_order_status_form.csrf_token }}
                            {% for variable_names in variable_names_list %}
                            <tr>
                                {% for variable, button_type_variable in variable_names %}
                                <td>
                                    {% if button_type_variable == 'default' %}
                                    {{ sales_order_status_form[variable](class="btn btn-default border-dark") }}
                                    {% elif button_type_variable == 'success' %}
                                    {{ sales_order_status_form[variable](class="btn btn-success border-dark") }}
                                    {% elif button_type_variable == 'controller-fields' %}
                                    {{ sales_order_status_form[variable](class="form-control form-control-lg") }}
                                    {% elif button_type_variable == 'none' %}
                                    <!-- DO nothing -->
                                    {% endif %}

                                </td>
                                {% endfor %}
                            </tr>

                            {% endfor %}
                        </tbody>

                    </table>
                </div>




            </div> <!-- end of card body-->
        </div>

        {% endif %}



        <div class="row">


            <div class="col-md-6">
                <div class="card">

                    <div class="card-header">
                        Sales Order Configurations
                    </div>
                    <div class="card-body">
                        <div id="sales-order-configurations">
                            <form method="POST" action="">

                                {{ sales_order_configurations_form.csrf_token }}
                                <div class="row">
                                    <div class="col-md-12">
                                        {{ render_field(sales_order_configurations_form.archive_directory) }}
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        {{ sales_order_configurations_form.change_archive_directory_button(class="btn
                                        btn-primary btn-md") }}
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        {{ render_field(sales_order_configurations_form.software_version_dropdown)}}
                                    </div>
                                    <div class="col-md-6">
                                        {{ render_field(sales_order_configurations_form.controller_type_dropdown)}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        {{
                                        sales_order_configurations_form.sales_order_configurations_save_button(class="btn
                                        btn-primary btn-md") }}
                                    </div>
                                    {% if show_program_controller_button %}
                                    <div class="col-md-6">
                                        <form method="POST" action="">
                                            <button type='submit' class="btn btn-primary"
                                                name='program_controllers_button'>Program Controllers</button>
                                        </form>
                                    </div>
                                    {% endif %}

                                </div>
                            </form>



                        </div>


                    </div>

                </div>


            </div>



            <div class="col-md-6">


                <div class="card">
                    <div class="card-header">
                        Add to Salesorder
                    </div>
                    <div class="card-body">
                        <form method="POST" action="">
                            {{ add_fans_form.csrf_token }}
                            <div class="row form-group form-inline" id="add-buttons">
                                <!--  -->
                                {% if add_fans_form.add_fans.errors %}
                                {{ add_fans_form.add_fans(class="form-control is-invalid", id="add-buttons-fields") }}
                                <div class="invalid-feedback">
                                    {% for error in add_fans_form.add_fans.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ add_fans_form.add_fans(class="form-control", id="add-buttons-fields") }}
                                {% endif %}
                                <!--  -->
                                {{ add_fans_form.add_fans_button(class="btn btn-default border-dark") }}

                            </div>
                        </form>
                        <form method="POST" action="">
                            {{ add_fieldbus_sensors_form.csrf_token }}
                            <div class="row form-group form-inline" id="add-buttons">
                                {% if add_fieldbus_sensors_form.add_sensors.errors %}
                                {{ add_fieldbus_sensors_form.add_sensors(class="form-control is-invalid",
                                id="add-buttons-fields") }}
                                <div class="invalid-feedback">
                                    {% for error in add_fieldbus_sensors_form.add_sensors.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ add_fieldbus_sensors_form.add_sensors(class="form-control", id="add-buttons-fields")
                                }}
                                {% endif %}

                                {{ add_fieldbus_sensors_form.add_fieldbus_sensors_button(class="btn btn-default
                                border-dark") }}
                            </div>
                        </form>
                        <form method="POST" action="">
                            {{ add_analog_sensors_form.csrf_token }}
                            <div class="row form-group form-inline" id="add-buttons">
                                {% if add_analog_sensors_form.add_sensors.errors %}
                                {{ add_analog_sensors_form.add_sensors(class="form-control is-invalid",
                                id="add-buttons-fields") }}
                                <div class="invalid-feedback">
                                    {% for error in add_analog_sensors_form.add_sensors.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ add_analog_sensors_form.add_sensors(class="form-control", id="add-buttons-fields") }}
                                {% endif %}

                                {{ add_analog_sensors_form.add_analog_sensors_button(class="btn btn-default
                                border-dark") }}
                            </div>
                        </form>
                        <form method="POST" action="">
                            {{ add_expansion_boards_form.csrf_token }}
                            <div class="row form-group form-inline" id="add-buttons">
                                {% if add_expansion_boards_form.add_expansion_boards.errors %}
                                {{ add_expansion_boards_form.add_expansion_boards(class="form-control is-invalid",
                                id="add-buttons-fields") }}
                                <div class="invalid-feedback">
                                    {% for error in add_expansion_boards_form.add_expansion_boards.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ add_expansion_boards_form.add_expansion_boards(class="form-control",
                                id="add-buttons-fields") }}
                                {% endif %}

                                {{ add_expansion_boards_form.add_expansion_boards_button(class="btn btn-default
                                border-dark") }}
                            </div>
                        </form>
                        <form method="POST" action="">
                            {{ add_controllers_form.csrf_token }}
                            <div class="row form-group form-inline" id="add-buttons">
                                {% if add_controllers_form.add_controllers.errors %}
                                {{ add_controllers_form.add_controllers(class="form-control is-invalid",
                                id="add-buttons-fields") }}
                                <div class="invalid-feedback">
                                    {% for error in add_controllers_form.add_controllers.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ add_controllers_form.add_controllers(class="form-control", id="add-buttons-fields")
                                }}
                                {% endif %}

                                {{ add_controllers_form.add_controllers_button(class="btn btn-default border-dark") }}
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </form>

</div>


{% endblock %}