{% extends "layout.html" %}
{% from 'bootstrap/form.html' import render_form, render_field, render_form_row %}

{% block content %}
    <head>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css">

        <style>
            .card {
                margin-bottom: 0rem;
                border-width: 0.15rem;
                border-color: black;

            }
            .card-header {
                background-color:rgb(179, 179, 179);
                font-size: 1.5rem;
                font-weight: bold;
                padding: .25rem 1.25rem;
            }
            .card-body {
                background-color: rgb(230, 230, 230);
                padding: 0.5rem;
            }
            .content-section {
                border-width: 0.1rem;
                border-color: black;
            }
            #modbus_address_count{
                width: 4rem;
                margin-left: 1rem;
            }
            .form-group {
                margin-bottom: 0rem;
            }
            #page-content{
                padding-top:10rem;
            }
            #footer {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 2.5rem;  
            }
        </style>

        
        <script>

    

            $(document).ready(function(){
                range1_starting_address = $('#fan_range_1_starting_address').val()
                range1_ending_address = $('#fan_range_1_ending_address').val()

                range2_starting_address = $('#fan_range_2_starting_address').val()
                range2_ending_address = $('#fan_range_2_ending_address').val()

                function get_modbus_count(){
                    count = 0;
                    if (range1_starting_address != null && range1_starting_address != ''){
                        if (range1_ending_address != null && range1_ending_address != ''){
                            count = count + (range1_ending_address-range1_starting_address + 1)
                        }
                    }
                    if (range2_starting_address != null && range2_starting_address != ''){
                        if (range2_ending_address != null && range2_ending_address != ''){
                            count = count + (range2_ending_address-range2_starting_address + 1)
                        }
                    }

                    return count
                }   

                // Save min control signal into set point read only field
                $('#fan_range_1_starting_address').on('change', function() {
                    range1_starting_address = $('#fan_range_1_starting_address').val()
                    count = get_modbus_count()
                    $('#modbus_address_count').val(count)
                    console.log(count)
                });
                $('#fan_range_1_ending_address').on('change', function() {
                    range1_ending_address = $('#fan_range_1_ending_address').val()
                    count = get_modbus_count()
                    $('#modbus_address_count').val(count)
                    console.log(count)

                });
                $('#fan_range_2_starting_address').on('change', function() {
                    range2_starting_address = $('#fan_range_2_starting_address').val()
                    count = get_modbus_count()
                    $('#modbus_address_count').val(count)
                    console.log(count)

                });
                $('#fan_range_2_ending_address').on('change', function() {
                    range2_ending_address = $('#fan_range_2_ending_address').val()
                    count = get_modbus_count()
                    $('#modbus_address_count').val(count)
                    console.log(count)
                });
            });

        </script>

    </head>

    

    <div id="page-content">
        <h3>{{ title }}</h3>
        
            <form method="POST" action="">
                {{ sales_order_form.csrf_token }}
                <fieldset class="form-group">
    
                    <div class="card">
                        <div class="card-header">
                            Sales Order
                        </div>
    
                        <div class="card-body">
                            <!-- Sales Order Number and Controller Tag Name -->
                            <div class="row">
                                <div class="form-group col-md-2">
                                    {{ render_field(sales_order_form.sales_order_number) }}
                                </div>
                
                                <div class="form-group col-md-2">
                                    {{ render_field(sales_order_form.tag_name) }}

                                </div>
                                <div class="form-group col-md-2">
                                    {{ render_field(sales_order_form.entered_by) }}

                                </div>
                                <div class="form-group col-md-2">
                                    {{ render_field(sales_order_form.time_zone) }}

                                </div>
                                 <div class="form-group col-md-2" >
                                    {{ render_field(sales_order_form.software_version) }}
                                    
                                </div>

                                <div class="form-group col-md-2">

                                    {{ sales_order_form.file_path_boolean.label(class="form-control-label") }}
                                    {{ sales_order_form.file_path_boolean(class="form-control") }}
                                </div>
                            </div>
                        </div>
                    </div>
    
                    
                   
                    <!-- Controller Quantity and Entered By -->
                    
                    <!-- Job Type, Fan Type, Time Zone -->                    
    
                    <div class="row">
                        <div class="col-md">
                            <div class="card">
                                <div class="card-header">
                                    Quantity
                                </div>
                                <div class="card-body">

                                    <div class="row">
                                        <div class="form-group col-md-2">
                                            {{ render_field(sales_order_form.mixer_fan_quantity) }}
                                        </div>
                                        <div class="form-group col-md-2">
                                            {{ render_field(sales_order_form.fieldbus_sensor_quantity) }}
                                        </div>
                                        <div class="form-group col-md-2">
                                            {{ render_field(sales_order_form.fieldbus_drives_quantity) }}
                                        </div>
                                        <div class="form-group col-md-2">
                                            {{ render_field(sales_order_form.controller_quantity) }}
                                        </div>
                                        <div class="form-group col-md-2">
                                            {{ render_field(sales_order_form.expansion_board_quantity) }}
                                        </div>
                                        <div class="form-group col-md-2">
                                            {{ render_field(sales_order_form.analog_sensor_quantity) }}
                                        </div>
                                    </div>
                              
                                </div>
                            </div>
                        </div>

                    </div>





                </fieldset>
    
                <!-- Configure Order Button -->
                <div class="form-group">
                    {{ sales_order_form.submit(class="btn btn-primary") }}
                </div>
            </form>
        <!-- </div> -->

    </div>
    
{% endblock %}
