{% extends "layout.html" %}
{% block content %}
<head>
    <style>
        .two-button-row { margin: 0 7px; }
    </style>
</head>
    <div class="content-section">
        <form method="POST" action="">
            {{ search_sales_order_form.csrf_token }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Enter Sales Order</legend>
                    <!-- Sales Order Number and Controller Tag Name -->
                <div class="row">
                    <div class="form-group col-md-6">
                        {{ search_sales_order_form.sales_order_number.label(class="form-control-label") }}
                        {% if search_sales_order_form.sales_order_number.errors %}
                            {{ search_sales_order_form.sales_order_number(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in search_sales_order_form.sales_order_number.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ search_sales_order_form.sales_order_number(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>
            <!-- Configure Order Button -->
            <div class="form-group">
                {% if view_state == 'edit_sales_order' -%}
                    <div class="form-group text-left col-md-6">
                        {{ search_sales_order_form.edit_sales_order(class="btn btn-outline-danger") }}
                    </div>
                {% elif view_state == 'program_controller' -%}
                    <div class="form-group text-left col-md-6">
                        {{ search_sales_order_form.program_controllers(class="btn btn-outline-success") }}
                    </div>
                {% elif view_state == 'find_fans' -%}
                <div class="row col-md-8 btn-group" role="group">
                    <div class="two-button-row">
                        {{ search_sales_order_form.find_fans(class="btn btn-outline-info") }}
                    </div>
                    <div class="two-button-row">
                        {{ search_sales_order_form.find_controllers(class="btn btn-outline-info") }}
                    </div>        
                </div>

                {%- endif %}
            </div>
            
        </form>
    </div>
{% endblock %}
