{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ select_version_form.csrf_token }}
            <fieldset class="form-group">
                {% if view_state == 'Select Version' -%}
                <h3>
                    Current Version: {{ selected_version }}
                </h3>
                {% endif %}
                <legend class="border-bottom mb-4"> Software Version </legend>
                    <!-- Sales Order Number and Controller Tag Name -->
                <div class="row">
                    <div class="form-group col-md-4">
                        {{ select_version_form.version_number.label(class="form-control-label") }}
                        {% if select_version_form.version_number.errors %}
                            {{ select_version_form.version_number(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in select_version_form.version_number.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ select_version_form.version_number(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>
               
                
            <!-- Configure Order Button -->
            <div class="row col-md-6">
                {% if view_state == 'Edit Version' -%}
                    <div class="form-group text-left col-md-6">
                        {{ select_version_form.edit_settings(class="btn btn-outline-danger") }}
                    </div>
                {% elif view_state == 'Select Version' -%}
                    <div class="form-group text-left col-md-6">
                        {{ select_version_form.save_settings(class="btn btn-outline-success") }}
                    </div>
                {%- endif %}
            </div>
            
        </form>
    </div>
{% endblock %}
