{% extends "layout_container_fluid.html" %}
{% block content %}
    <head>
        <style>
            body {
                font-size: 1rem!important;
            }
            .table td {
                padding: 0rem;
                margin-left: 2rem!important;
                margin-right: 2rem!important;
                
            }
            .table th {
                padding-left: 2rem;
                padding-right: 2rem;
            }
            #footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 2.5rem;  
        }
        </style>
    </head>

    <!-- <div class="content-section"> -->

    
        <!-- <legend class="border-bottom mb-4">Fans for Sales Order: {{ sales_order_number }}</legend> -->
        <form method="POST" action="">
            {{ form.csrf_token }}
            {{ form.back_button(class="btn-primary btn-sm") }}
        </form>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th>Fan Type</th>

                    <th>Comms</th>
                    <th>Sensors Count</th>
                    <th>Sensor 1 Type</th>
                    <th>Sensor 1 Unit</th>
                    <th>Sensor 1 Min</th>
                    <th>Sensor 1 Max</th>

                    <th>Sensor 2 Type</th>
                    <th>Sensor 2 Unit</th>
                    <th>Sensor 2 Min</th>
                    <th>Sensor 2 Max</th>

                    <th>Command Value</th>
                    <th>Control</th>
                    <th>Minimum Speed</th>
                    <th>Maximum Speed</th>
                    <th>p Val </th>

                    <th>i Val</th>
                    <th>Control Min</th>
                    <th>Control Max</th>
                    <th>Smoke Detector</th>
                    <th>Emergency</th>

                    <th>Emer Set Speed</th>
                    <th>Emer External Signal</th>
                    <th>Emer Start Stop Signal</th>
                    <th>Timeout</th>
                    <th>Timeout Speed</th>

                    <th>Zone</th>
                    <th>Fault Relay</th>


                </tr>
            </thead>
            <tbody>
                {% for name, fan_type, comms, sensors_count, sensor_1_type, sensor_1_unit, sensor_1_min, sensor_1_max,
                    sensor_2_type, sensor_2_unit, sensor_2_min, sensor_2_max, command_value, control, minimum_speed, maximum_speed,
                    p_val, i_val, control_min, control_max, smoke_detector, emergency, emer_set_speed, emer_external_signal,
                    emer_start_stop_signal, timeout, timeout_speed, zone, fault_relay in result %}
                    <tr>
                        <th scope="row">{{ name }}</td>       
                        <td>{{ fan_type }}</td>
                        <td>{{ comms }}</td>
                        <td>{{ sensors_count }}</td>
                        <td>{{ sensor_1_type }}</td>
                        <td>{{ sensor_1_unit }}</td>
                        <td>{{ sensor_1_min }}</td>
                        <td>{{ sensor_1_max }}</td>

                        <td>{{ sensor_2_type }}</td>
                        <td>{{ sensor_2_unit }}</td>
                        <td>{{ sensor_2_min }}</td>
                        <td>{{ sensor_2_max }}</td>

                        <td>{{ command_value }}</td>
                        <td>{{ control }}</td>
                        <td>{{ minimum_speed }}</td>
                        <td>{{ maximum_speed }}</td>

                        <td>{{ p_val }}</td>
                        <td>{{ i_val }}</td>
                        <td>{{ control_min }}</td>
                        <td>{{ control_max }}</td>

                        <td>{{ smoke_detector }}</td>
                        <td>{{ emergency }}</td>
                        <td>{{ emer_set_speed }}</td>
                        <td>{{ emer_external_signal }}</td>

                        <td>{{ emer_start_stop_signal }}</td>
                        <td>{{ timeout }}</td>
                        <td>{{ timeout_speed }}</td>
                        <td>{{ zone }}</td>
                        <td>{{ fault_relay }}</td>


                    </tr>

                {% endfor %}       
            </tbody>

        </table>
               
      
    <!-- </div> -->
{% endblock %}
