{% extends "layout.html" %}
{% from 'bootstrap/form.html' import render_form, render_field, render_form_row %}

{% block content %}

<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



    <style>
        #feedback {
            font-size: 1.4em;
        }

        .selectable .ui-selecting {
            background: #FECA40;
        }

        .selectable .ui-selected {
            background: #F39814;
            color: white;
        }

        .selectable {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 100%;
        }

        .selectable li {
            margin: 3px;
            padding: 1px;
            float: left;
            width: 40px;
            height: 25px;
            font-size: 1em;
            text-align: center;
        }

        #feedback {
            font-size: 1.4em;
        }

        #previous .ui-selecting {
            background: #FECA40;
        }

        #previous .ui-selected {
            background: #F39814;
            color: white;
        }

        #previous {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 100%;
        }

        #previous li {
            margin: 3px;
            padding: 1px;
            float: left;
            width: 40px;
            height: 25px;
            font-size: 1em;
            text-align: center;
        }

        .btn-group-vertical>input {
            margin-bottom: 10px;
            border-radius: 3px !important;
        }

        .selected-controller-button {
            padding-top: 50%;
            padding-bottom: 50%;
        }

        .btn-group-vertical {
            justify-content: start !important;
        }

        .border {
            border: 5px solid black !important;
        }

        #sales-order-table {
            font-size: 1rem;
        }

        #current-selection {
            padding-top: 0.75rem;
        }

        .mb-4,
        .my-4 {
            margin-bottom: 0 !important;
        }

        #nav-tab {
            font-size: 1rem;
        }

        #digital-modbus-content {
            display: none;
        }

        #analogue-signal-content {
            display: none;
        }

        #local-sensor-content {
            display: none;
        }

        #setup-type-dropdown {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }

        h3 {
            padding-left: 15rem;
        }

        #move-button {
            margin-top: 2rem;
        }

        .card {
            /* padding: 0.1rem; */
            margin-bottom: 0rem;
            padding-bottom: 0rem;
        }

        .card-body {
            /* padding: 0.75rem; */
            margin-bottom: 0rem;
            padding-bottom: 0rem;
        }

        .floating_right {
            text-align: right;
        }

        .centering {
            text-align: center;
        }
    </style>


    <script>
        // Add 'ui-selected' class to items inside 'selectable' class that have been selected
        // Works with box drag, control multi select, and shift click
        $(document).ready(function () {
            var prev = -1;
            $(".selectable").selectable({
                selecting: function (e, ui) {
                    var curr = $(ui.selecting.tagName, e.target).index(ui.selecting);
                    if (e.shiftKey && prev > -1) {
                        console.log(prev, curr, Math.min(prev, curr));
                        $(ui.selecting.tagName, e.target).slice(Math.min(prev, curr), 1 + Math.max(prev, curr)).addClass('ui-selected');
                        prev = -1;
                    } else {
                        prev = curr;
                    }
                }
            });
        });

        $(function () {

            // populate modbus-ranges and modbus-ranges-indexes fields with string representation of selected address items
            $(".selectable").selectable({
                stop: function () {
                    // declare fbsensor variables
                    var fbSensorAddressRangeString = '';
                    var fbSensorIndexRangeString = '';
                    var fbSensorSelectedAddressItems = [];
                    var fbSensorSelectedIndexes = [];

                    // declare fan variables
                    var fanAddressRangeString = '';
                    var fanIndexRangeString = '';
                    var fanSelectedAddressItems = [];
                    var fanSelectedIndexes = [];

                    // declare expansionBoard variables
                    var expansionBoardAddressRangeString = '';
                    var expansionBoardIndexRangeString = '';
                    var expansionBoardSelectedAddressItems = [];
                    var expansionBoardSelectedIndexes = [];

                    // // declare output variables
                    var outputAddressRangeString = '';
                    var outputIndexRangeString = '';
                    var outputSelectedAddressItems = [];
                    var outputSelectedIndexes = [];

                    var address_item_action_name = '';
                    var address_string = '';
                    var action_name = '';
                    var address_index_string = '';

                    $("li.ui-selected").each(function () {
                        var address_item = $(this).attr("name");
                        // determine if element name value is fbsensor or fan
                        const [address_item_action_name, address_string] = decodeActionValueString(address_item);

                        if (address_item_action_name == 'fbsensor') {
                            fbSensorSelectedAddressItems.push(address_string);
                        }
                        else if (address_item_action_name == 'fan') {
                            fanSelectedAddressItems.push(address_string);
                        }
                        else if (address_item_action_name == 'input') {
                            expansionBoardSelectedAddressItems.push(address_string);
                        }
                        else if (address_item_action_name == 'output') {
                            outputSelectedAddressItems.push(address_string);
                        }



                        var actionValueString = $(this).attr("id");
                        const [action_name, address_index_string] = decodeActionValueString(actionValueString);

                        if (action_name == 'fbsensor') {
                            fbSensorSelectedIndexes.push(address_index_string);
                            console.log(fbSensorSelectedIndexes);
                        }
                        else if (action_name == 'fan') {
                            fanSelectedIndexes.push(address_index_string);
                            console.log(fanSelectedIndexes);
                        }
                        else if (action_name == 'input') {
                            expansionBoardSelectedIndexes.push(address_index_string);
                            console.log(expansionBoardSelectedIndexes);
                        }
                        else if (action_name == 'output') {
                            outputSelectedIndexes.push(address_index_string);
                            console.log(expansionBoardSelectedIndexes);
                        }

                    });
                    if (fbSensorSelectedAddressItems !== null) {
                        fbSensorAddressRangeString = createRangeString(fbSensorSelectedAddressItems);
                        $("#fbsensor_address_ranges").val(fbSensorAddressRangeString);
                        $("#fbsensor_quantity").val(fbSensorSelectedAddressItems.length);
                        fbSensorIndexRangeString = createRangeString(fbSensorSelectedIndexes);
                        console.log("FBtest");
                        console.log(fbSensorIndexRangeString);
                        $("#zone_fbsensor_index_ranges").val(fbSensorIndexRangeString);
                    }
                    if (fanSelectedAddressItems !== null) {
                        fanAddressRangeString = createRangeString(fanSelectedAddressItems);
                        $("#fan_address_ranges").val(fanAddressRangeString);
                        $("#fan_quantity").val(fanSelectedAddressItems.length);
                        fanIndexRangeString = createRangeString(fanSelectedIndexes);
                        console.log("test");
                        console.log(fanIndexRangeString);
                        $("#zone_fan_index_ranges").val(fanIndexRangeString);
                    }
                    if (expansionBoardSelectedAddressItems !== null) {
                        expansionBoardAddressRangeString = createRangeString(expansionBoardSelectedAddressItems);
                        $("#input_address_ranges").val(expansionBoardAddressRangeString);
                        $("#expansionboard_quantity").val(expansionBoardSelectedAddressItems.length);
                        expansionBoardIndexRangeString = createRangeString(expansionBoardSelectedIndexes);
                        $("#zone_input_index_ranges").val(expansionBoardIndexRangeString);
                    }
                    if (outputSelectedAddressItems !== null) {
                        outputAddressRangeString = createRangeString(outputSelectedAddressItems);
                        $("#output_addres_ranges").val(outputAddressRangeString);
                        $("#expansionboard_quantity").val(outputSelectedAddressItems.length);
                        outputIndexRangeString = createRangeString(outputSelectedIndexes);
                        $("#zone_output_index_ranges").val(outputIndexRangeString);
                    }


                }
            });

            function decodeActionValueString(actionValueString) {
                var id_value_array = actionValueString.split('_');

                var action_name = id_value_array[0];
                var address_index_array = id_value_array.slice(1);
                var address_index_string = address_index_array.join("");

                return [action_name, address_index_string]
            }

            // convert array of integers into a string that represents the entire range of integers
            function createRangeString(selectedItemsArray) {
                range_string = '';
                input = selectedItemsArray.map(Number)
                input = [...new Set(input)].sort((a, b) => a - b);
                let i = 0;
                let j = 0;
                let output = '';

                while (i < input.length) {
                    while (j < input.length && (input[j] + 1) === input[j + 1]) {
                        j++;
                    }
                    output += `${input[i]}`;
                    if (i !== j) {
                        output += `-${input[j]},`;
                    } else {
                        j
                        output += ',';
                    }
                    i = j + 1;
                    j = i;
                }
                range_string = output.substring(0, output.lastIndexOf(","))

                return range_string
            }

        });
    </script>
</head>

<div class="row justify-content-center">
    <h1>Zone Configuration </h1>
</div>
<form method="POST" action="">
    {{ zone_configuration_form.csrf_token }}

    <div class="content-section">
        <!-- left side of screen -->


        <div class="row">

            <!-- CONTROLLERS ON LEFT SIDE OF PAGE -->
            <div class="col-md-2">
                <form method="POST" action="">
                    <div class="card">
                        <div class="card-header">
                            Controllers
                        </div>
                        <div class="card-body">
                            <div class="btn-group-vertical">
                                {% for controller in range(1, sales_order_controller_quantity+1) %}
                                {% if controller == current_controller -%}
                                <input type='submit' class="btn 
                                        {% if controller in list_index_of_finished_controllers  -%}
                                        btn-success 
                                        {% else -%}
                                        btn-secondary 
                                        {%- endif %} 
                                        selected-controller-button border border-dark" name='controller{{controller}}'
                                    value="{{ tag_prefix }} {{ controller }}"></input>
                                {% elif controller in list_index_of_finished_controllers -%}
                                <input type='submit' class="btn btn-success btn-sm border-dark"
                                    name='controller{{controller}}' value="{{ tag_prefix }} {{ controller }}"></input>
                                {% else -%}
                                <input type='submit' class="btn btn-secondary btn-sm border-dark"
                                    name='controller{{controller}}' value="{{ tag_prefix }} {{ controller }}"></input>
                                {%- endif %}
                                {% endfor %}

                                <!-- navigate to program controller button -->

                                <button type='submit' class="btn btn-primary btn-sm border-dark"
                                    name='navigate_sales_order_status_button'>Return Sales <br /> Order Status</button>

                            </div>
                        </div>
                    </div>

                </form>
            </div>

            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-8">
                        {{render_field(zone_configuration_form.Reset)}}
                    </div>
                    <div class="col-md-4 floating_right">

                        {{render_field(zone_configuration_form.Reset_all_controllers)}}




                    </div>

                </div>
                <br>

                <div class="row">
                    <div class="col-md-8 ">
                        {{ render_field(zone_configuration_form.zones) }}
                    </div>


                    <div class="col-md-4 floating_right">
                        <input type='submit' class="btn btn-primary" name='update' value="Update"></input>

                    </div>


</form>
{% for zone_number in range(1,total_zone_number+1) %}
<div class="col-md-12">


    <div class="card-body text-dark">

        <div class="row form-group">
            <ol id="previous">

                <div class="card">
                    <div class="card-header">

                        <div class="row">

                            <div class="col">
                                <div class="row no-gutters">

                                    <div class="col-md-11 centering">
                                        <h4>Zone-{{zone_number}} </h4>
                                    </div>

                                    <div class="col-md-1 floating_right ">
                                        <form method="POST" action="">
                                            <input type='submit' class="btn btn-danger btn-sm border-dark"
                                                name='clear{{zone_number}}' value="Clear"></input>
                                        </form>
                                    </div>


                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="card-body">

                        {% if zone_default_zone %}
                        <div>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>

                                        <th scope="col-6">Items</th>
                                        <th scope="col-6">Adress Ranges</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>

                                        <td>Fans</td>
                                        {% if zone_number == zone_number %}
                                        <td>{{zone_default_zone['Mixer Fans'][zone_number]}}</td>
                                        {% else %}
                                        <td></td>
                                        {% endif %}
                                    </tr>
                                    <tr>

                                        <td>Analog Inputs</td>
                                        {% if zone_number ==zone_number %}
                                        <td>{{zone_default_zone['Analog Sensors'][zone_number]}}</td>
                                        {% else %}
                                        <td></td>
                                        {% endif %}
                                    </tr>
                                    <tr>

                                        <td>Analog outputs</td>
                                        {% if zone_number ==zone_number %}
                                        <td>{{zone_default_zone['Output Sensors'][zone_number]}}</td>
                                        {% else %}
                                        <td></td>
                                        {% endif %}
                                    </tr>
                                    <tr>

                                        <td>Fieldbus Sensors </td>
                                        {% if zone_number == zone_number %}
                                        <td>{{zone_default_zone['Fieldbus Sensors'][zone_number]}}</td>
                                        {% else %}
                                        <td></td>
                                        {% endif %}
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        {% endif %}
                    </div>

                </div>

            </ol>
        </div>
    </div>
</div>
{% endfor %}





</div>


</div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <form method="POST" action="">
            {{ zone_selected_configuration_form.csrf_token }}

            <div class="row">
                <div class="col-md-8">
                    <div class="dropdown">
                        {{ render_field(zone_selected_configuration_form.selected_zone)}}
                    </div>
                </div>
                <div class="col-md-4 floating_right">
                    {{zone_selected_configuration_form.assign_zone(class="btn btn-primary btn-sm border-dark",
                    required=False)}}
                </div>
            </div>



            <!--Fieldbus Sensor -->

            <!-- Fieldbus Index Ranges (hidden read-only fields) -->
            <div class="form-group">
                {% if zone_selected_configuration_form.zone_fbsensor_index_ranges.errors %}
                {{ zone_selected_configuration_form.zone_fbsensor_index_ranges(class="form-control form-control-lg
                is-invalid", id="zone_fbsensor_index_ranges") }}
                <div class="invalid-feedback">
                    {% for error in zone_selected_configuration_form.zone_fbsensor_index_ranges.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ zone_selected_configuration_form.zone_fbsensor_index_ranges(class="form-control form-control-lg",
                id="zone_fbsensor_index_ranges") }}
                {% endif %}
            </div>

            <br>

            <!-- Matrix of FBSensors -->
            {% if available_fb_sensors %}
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <div class="row no-gutters">
                                <div class="col">
                                    <h4>Fieldbus Sensor</h4>
                                </div>

                            </div>

                        </div>


                        <div class="col">
                            <div class="row no-gutters">
                                <div class="col">
                                    {{ zone_selected_configuration_form.fbsensor_address_ranges.label }}
                                </div>
                                <div class="col">
                                    {% if zone_selected_configuration_form.fbsensor_address_ranges.errors %}
                                    {{ zone_selected_configuration_form.fbsensor_address_ranges(class="form-control
                                    form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in zone_selected_configuration_form.fbsensor_address_ranges.errors
                                        %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ zone_selected_configuration_form.fbsensor_address_ranges(class="form-control
                                    form-control-lg", id="fbsensor_address_ranges") }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
                <div class="card-body">

                    {% for fb_definition_name in available_fb_sensors %}
                    <div class="row form-group">
                        <div class="card">

                            <h3>{{ fb_definition_name }}</h3>

                            <ol class="selectable">
                                {% for fb_address, fb_index in available_fb_sensors[fb_definition_name] %}
                                <li id="fbsensor_{{ fb_index }}" name="fbsensor_{{ fb_address }}"
                                    class="ui-state-default">{{ fb_address }}</li>
                                {% endfor %}
                            </ol>

                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
            {% endif %}


            <!--Fan -->

            <!-- Fan Index Ranges (hidden read-only fields) -->
            <div class="form-group">
                {% if zone_selected_configuration_form.zone_fan_index_ranges.errors %}
                {{ zone_selected_configuration_form.zone_fan_index_ranges(class="form-control form-control-lg
                is-invalid", id="zone_fan_index_ranges") }}
                <div class="invalid-feedback">
                    {% for error in zone_selected_configuration_form.zone_fan_index_ranges.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ zone_selected_configuration_form.zone_fan_index_ranges(class="form-control form-control-lg",
                id="zone_fan_index_ranges") }}
                {% endif %}
            </div>

            <!-- Matrix of Fans -->
            {% if available_fans %}
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <div class="row no-gutters">
                                <div class="col">
                                    <h4>Fans</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="row no-gutters">
                                <div class="col">
                                    {{ zone_selected_configuration_form.fan_address_ranges.label }}
                                </div>
                                <div class="col">
                                    {% if zone_selected_configuration_form.fan_address_ranges.errors %}
                                    {{ zone_selected_configuration_form.fan_address_ranges(class="form-control
                                    form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in zone_selected_configuration_form.fan_address_ranges.errors %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ zone_selected_configuration_form.fan_address_ranges(class="form-control
                                    form-control-lg", id="fan_address_ranges") }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body">

                    {% for fan_definition_name in available_fans %}
                    <div class="row form-group">
                        <div class="card">

                            <h3>{{ fan_definition_name }}</h3>

                            <ol class="selectable">
                                {% for fan_address, fan_index in available_fans[fan_definition_name] %}
                                <li id="fan_{{ fan_index }}" name="fan_{{ fan_address }}" class="ui-state-default">{{
                                    fan_address }}</li>
                                {% endfor %}
                            </ol>

                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
            {% endif %}


            <!--ananlog Inputs -->

            <!-- ananlog Inputs Index Ranges (hidden read-only fields) -->
            <div class="form-group">
                {% if zone_selected_configuration_form.zone_input_index_ranges.errors %}
                {{ zone_selected_configuration_form.zone_input_index_ranges(class="form-control form-control-lg
                is-invalid", id="zone_input_index_ranges") }}
                <div class="invalid-feedback">
                    {% for error in zone_selected_configuration_form.zone_input_index_ranges.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ zone_selected_configuration_form.zone_input_index_ranges(class="form-control form-control-lg",
                id="zone_input_index_ranges") }}
                {% endif %}
            </div>

            <!-- Matrix of analog input -->
            {% if available_asensor %}
            {% if analog_availability or expansion1_availability or expansion2_availability or expansion3_availability
            or expansion4_availability or expansion5_availability%}
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row no-gutters">
                                <div class="col">
                                    <h4>Analog Inputs</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="row no-gutters">
                                <div class="col">
                                    {{
                                    zone_selected_configuration_form.input_address_ranges.label(class="form-control-label")
                                    }}
                                </div>
                                <div class="col">
                                    {% if zone_selected_configuration_form.input_address_ranges.errors %}
                                    {{ zone_selected_configuration_form.input_address_ranges(class="form-control
                                    form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in zone_selected_configuration_form.input_address_ranges.errors %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ zone_selected_configuration_form.input_address_ranges(class="form-control
                                    form-control-lg", id="input_address_ranges") }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        {% if analog_availability %}
                        <div class="col-md-6">
                            {% for input in available_asensor %}


                            {% if 'Analog' in input %}

                            <div class="card">
                                <div class="col-md-11">
                                    <h4 class="floating_right">{{input}}</h4>
                                    {% for input_sensor_definition_name in available_asensor[input] %}
                                    <div class="card">
                                        <h3 class="floating_right">{{input_sensor_definition_name}}</h3>
                                        <ol class="selectable">
                                            {% for input_address, input_index in
                                            available_asensor[input][input_sensor_definition_name] %}
                                            <li id="input_{{ input_index }}" name="input_{{ input_address }}"
                                                class="ui-state-default">{{ input_address }}</li>
                                            {% endfor %}
                                        </ol>
                                    </div><br>
                                    {% endfor %}
                                </div>
                            </div><br>
                            {% endif %}
                            {% endfor %}
                        </div>
                        {% endif %}

                        <div class="col-md-6">
                            {% for input in available_asensor %}
                            {% if 'Analog' not in input %}


                            {% if expansion1_availability and input== 'expansion1' %}

                            <div class="card">
                                <div class="col-md-11">
                                    <h4>{{input}}</h4>
                                    {% for input_sensor_definition_name in available_asensor[input] %}
                                    <div class="card">
                                        <h3>{{input_sensor_definition_name}} &nbsp;</h3>
                                        <ol class="selectable">
                                            {% for input_address, input_index in
                                            available_asensor[input][input_sensor_definition_name] %}
                                            <li id="input_{{ input_index }}" name="input_{{ input_address }}"
                                                class="ui-state-default">{{ input_address }}</li>
                                            {% endfor %}
                                        </ol>
                                    </div><br>

                                    {% endfor %}
                                </div>
                            </div><br>
                            {% endif %}

                            {% if expansion2_availability and input== 'expansion2' %}

                            <div class="card">
                                <div class="col-md-11">
                                    <h4>{{input}}</h4>
                                    {% for input_sensor_definition_name in available_asensor[input] %}
                                    <div class="card">
                                        <h3>{{input_sensor_definition_name}} &nbsp;</h3>
                                        <ol class="selectable">
                                            {% for input_address, input_index in
                                            available_asensor[input][input_sensor_definition_name] %}
                                            <li id="input_{{ input_index }}" name="input_{{ input_address }}"
                                                class="ui-state-default">{{ input_address }}</li>
                                            {% endfor %}
                                        </ol>
                                    </div><br>

                                    {% endfor %}
                                </div>
                            </div><br>
                            {% endif %}


                            {% if expansion3_availability and input== 'expansion3' %}

                            <div class="card">
                                <div class="col-md-11">
                                    <h4>{{input}}</h4>
                                    {% for input_sensor_definition_name in available_asensor[input] %}
                                    <div class="card">
                                        <h3>{{input_sensor_definition_name}} &nbsp;</h3>
                                        <ol class="selectable">
                                            {% for input_address, input_index in
                                            available_asensor[input][input_sensor_definition_name] %}
                                            <li id="input_{{ input_index }}" name="input_{{ input_address }}"
                                                class="ui-state-default">{{ input_address }}</li>
                                            {% endfor %}
                                        </ol>
                                    </div><br>

                                    {% endfor %}
                                </div>
                            </div><br>
                            {% endif %}


                            {% if expansion4_availability and input== 'expansion4' %}

                            <div class="card">
                                <div class="col-md-11">
                                    <h4>{{input}}</h4>
                                    {% for input_sensor_definition_name in available_asensor[input] %}
                                    <div class="card">
                                        <h3>{{input_sensor_definition_name}} &nbsp;</h3>
                                        <ol class="selectable">
                                            {% for input_address, input_index in
                                            available_asensor[input][input_sensor_definition_name] %}
                                            <li id="input_{{ input_index }}" name="input_{{ input_address }}"
                                                class="ui-state-default">{{ input_address }}</li>
                                            {% endfor %}
                                        </ol>
                                    </div><br>

                                    {% endfor %}
                                </div>
                            </div><br>
                            {% endif %}


                            {% if expansion5_availability and input== 'expansion5' %}

                            <div class="card">
                                <div class="col-md-11">
                                    <h4>{{input}}</h4>
                                    {% for input_sensor_definition_name in available_asensor[input] %}
                                    <div class="card">
                                        <h3>{{input_sensor_definition_name}} &nbsp;</h3>
                                        <ol class="selectable">
                                            {% for input_address, input_index in
                                            available_asensor[input][input_sensor_definition_name] %}
                                            <li id="input_{{ input_index }}" name="input_{{ input_address }}"
                                                class="ui-state-default">{{ input_address }}</li>
                                            {% endfor %}
                                        </ol>
                                    </div><br>

                                    {% endfor %}
                                </div>
                            </div><br>
                            {% endif %}


                            {% endif %}
                            {% endfor %}
                        </div>

                    </div>
                </div>

            </div>

            {% endif %}
            {% endif %}




            <!--ananlog output -->

            <!-- ananlog output Index Ranges (hidden read-only fields) -->
            <div class="form-group">
                {% if zone_selected_configuration_form.zone_output_index_ranges.errors %}
                {{ zone_selected_configuration_form.zone_output_index_ranges(class="form-control form-control-lg
                is-invalid", id="zone_output_index_ranges") }}
                <div class="invalid-feedback">
                    {% for error in zone_selected_configuration_form.zone_output_index_ranges.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ zone_selected_configuration_form.zone_output_index_ranges(class="form-control form-control-lg",
                id="zone_output_index_ranges") }}
                {% endif %}
            </div>

            <!-- Matrix of analog output -->
            {% if available_output %}
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row no-gutters">
                                <div class="col">
                                    <h4>Analog Output</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="row no-gutters">
                                <div class="col">
                                    {{
                                    zone_selected_configuration_form.output_addres_ranges.label(class="form-control-label")
                                    }}
                                </div>
                                <div class="col">
                                    {% if zone_selected_configuration_form.output_addres_ranges.errors %}
                                    {{ zone_selected_configuration_form.output_addres_ranges(class="form-control
                                    form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in zone_selected_configuration_form.output_addres_ranges.errors %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ zone_selected_configuration_form.output_addres_ranges(class="form-control
                                    form-control-lg", id="output_addres_ranges") }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">

                            {% for output_sensor_definition_name in available_output %}
                            {% if output_sensor_definition_name== 'output' %}
                            <div class="card">

                                <h3>{{output_sensor_definition_name}}</h3>
                                <ol class="selectable">
                                    {% for output_address, output_index in
                                    available_output[output_sensor_definition_name] %}
                                    {% if output_address <= 4 %} <li id="output_{{ output_index }}"
                                        name="output_{{ output_address }}" class="ui-state-default">Y{{ output_address
                                        }}</li>
                                        {% endif %}
                                        {% endfor %}

                                </ol>
                            </div>
                            <br>
                            {% endif %}
                            {% endfor %}
                        </div>

                        <div class="col-md-6">

                            {% for output_sensor_definition_name in available_output %}
                            {% if 'expansion' in output_sensor_definition_name %}
                            <div class="card">

                                <h3>{{output_sensor_definition_name}}</h3>
                                <ol class="selectable">

                                    {% for output_address, output_index in
                                    available_output[output_sensor_definition_name] %}

                                    {% if output_address >= 8 %}
                                    <li id="output_{{ output_index }}" name="output_{{ output_address }}"
                                        class="ui-state-default">U{{ output_address }}</li>
                                    {% endif %}
                                    {% endfor %}
                                </ol>
                            </div>
                            <br>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

        </form>
    </div>
</div>
</div>
</div>

{% endblock %}